@import url("//hello.myfonts.net/count/28e86e");
@font-face {font-family: 'RionaSans-Regular';src: url('../../../css/contests/webfonts/28E86E_C_0.eot');src: url('../../../css/contests/webfonts/28E86E_C_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_C_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_C_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Light';src: url('../../../css/contests/webfonts/28E86E_8_0.eot');src: url('../../../css/contests/webfonts/28E86E_8_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_8_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_8_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-ExtraLight';src: url('../../../css/contests/webfonts/28E86E_7_0.eot');src: url('../../../css/contests/webfonts/28E86E_7_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_7_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_7_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-RegularItalic';src: url('../../../css/contests/webfonts/28E86E_D_0.eot');src: url('../../../css/webfonts/28E86E_D_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_D_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_D_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-BlackItalic';src: url('../../../css/contests/webfonts/28E86E_0_0.eot');src: url('../../../css/contests/webfonts/28E86E_0_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_0_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_0_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Bold';src: url('../../../css/contests/webfonts/28E86E_3_0.eot');src: url('../../../css/contests/webfonts/28E86E_3_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_3_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_3_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-BoldItalic';src: url('../../../css/contests/webfonts/28E86E_2_0.eot');src: url('../../../css/contests/webfonts/28E86E_2_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_2_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_2_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Medium';src: url('../../../css/contests/webfonts/28E86E_A_0.eot');src: url('../../../css/contests/webfonts/28E86E_A_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_A_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_A_0.ttf') format('truetype');}


body{margin:20px 0 0;padding:0;font-family:'RionaSans-ExtraLight',Arial, Helvetica, sans-serif;font-size:16px;letter-spacing:0.08em;color:#444;}
p{margin:0;}
img{border:0;}

.clearfix{ *zoom: 1; }
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after {clear:both;}
.marg-t{margin:185px 0 0;}
.blackitalic{font-family:'RionaSans-BlackItalic',Arial, Helvetica, sans-serif;}
.bold{font-family:'RionaSans-Bold',Arial, Helvetica, sans-serif;}
.medium{font-family:'RionaSans-Medium',Arial, Helvetica, sans-serif;}
.regular{font-family:'RionaSans-Regular', Arial, Helvetica, sans-serif;}
.uppercase{text-transform:uppercase;}
.container{width:960px;margin:0 auto;}
.content{position:relative;padding:350px 30px 30px;color:#FFF;background:#5c5c5c;}
.sponsors{text-align:center;}
.sponsors .freescale{margin:0 50px;}
.gold{background:url(/pics/contest/freedom/winners/gold.jpg) no-repeat;}
.red{background:url(/pics/contest/freedom/winners/red.jpg) no-repeat;}
.winners .col-b{float:right;width:470px;}
.banner{position:absolute;top:20px;left:-17px;width:992px;height:206px;font-size:38px;text-align:center;text-transform:uppercase;background:url(/pics/contest/freedom/winners/red-i.jpg) no-repeat; 
	-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 1);
	box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 1);}
.banner span{display:block;padding:14px 0 0;font-family:'RionaSans-Bold',Arial, Helvetica, sans-serif;font-size:60px;}
.phase-cont{position:relative;}
.phase{position:absolute;top:-115px;left:-47px;width:992px;padding:10px 0 4px;font-family:'RionaSans-Bold',Arial, Helvetica, sans-serif;font-size:38px;text-align:center;text-transform:uppercase;background:url(/pics/contest/freedom/winners/red-i.jpg) no-repeat; 
	-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 1);
	box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 1);}
.winners{margin:50px 0 0;}
.winners .col-a{float:left;width:428px;}
.winners .col-a h2{margin:15px 0 5px;color:#F1A629;}
.winners .col-a h2 a{color:#F1A629;text-decoration:none;}
.winners .col-a h2 a:hover{color:#FFF;}
.winners .col-a .ribbon{width:395px;padding:13px 0 8px;font-size:25px;text-align:center;text-transform:uppercase;}
.winners .col-b img{
	-webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.88);
	-moz-box-shadow:    3px 3px 2px 0px rgba(50, 50, 50, 0.88);
	box-shadow:         3px 3px 2px 0px rgba(50, 50, 50, 0.88);}
.footer{padding:30px 0;font-size:14px;text-align:center;}