@import url("//hello.myfonts.net/count/28e86e");
@font-face {font-family: 'RionaSans-Regular';src: url('../../../css/contests/webfonts/28E86E_C_0.eot');src: url('../../../css/contests/webfonts/28E86E_C_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_C_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_C_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Light';src: url('../../../css/contests/webfonts/28E86E_8_0.eot');src: url('../../../css/contests/webfonts/28E86E_8_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_8_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_8_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-ExtraLight';src: url('../../../css/contests/webfonts/28E86E_7_0.eot');src: url('../../../css/contests/webfonts/28E86E_7_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_7_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_7_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-RegularItalic';src: url('../../../css/contests/webfonts/28E86E_D_0.eot');src: url('../../../css/webfonts/28E86E_D_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_D_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_D_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-BlackItalic';src: url('../../../css/contests/webfonts/28E86E_0_0.eot');src: url('../../../css/contests/webfonts/28E86E_0_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_0_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_0_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Bold';src: url('../../../css/contests/webfonts/28E86E_3_0.eot');src: url('../../../css/contests/webfonts/28E86E_3_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_3_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_3_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-BoldItalic';src: url('../../../css/contests/webfonts/28E86E_2_0.eot');src: url('../../../css/contests/webfonts/28E86E_2_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_2_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_2_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Medium';src: url('../../../css/contests/webfonts/28E86E_A_0.eot');src: url('../../../css/contests/webfonts/28E86E_A_0.eot?#iefix') format('embedded-opentype'),url('../../../css/contests/webfonts/28E86E_A_0.woff') format('woff'),url('../../../css/contests/webfonts/28E86E_A_0.ttf') format('truetype');}


body{margin:20px 0;padding:0;font-family:'RionaSans-ExtraLight',Arial, Helvetica, sans-serif;font-size:16px;letter-spacing:0.08em;color:#FFF;background:#000;}
h2{font-family:'RionaSans-RegularItalic',Arial, Helvetica, sans-serif;}
p{margin:0;}
img{border:0;}

.mrg-b-5{margin:0 0 5px;}
.dblock{display:block;}

.clearfix{ *zoom: 1; }
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after {clear:both;}
.blackitalic{font-family:'RionaSans-BlackItalic',Arial, Helvetica, sans-serif;}
.bold{font-family:'RionaSans-Bold',Arial, Helvetica, sans-serif;}
.medium{font-family:'RionaSans-Medium',Arial, Helvetica, sans-serif;}
.regular{font-family:'RionaSans-Regular', Arial, Helvetica, sans-serif;}
.uppercase{text-transform:uppercase;}
.container{width:960px;margin:0 auto;background:#1F0000;}
.top-cont{height:255px;background:url(/pics/contest/freedom/img/top-img.jpg) no-repeat;}
.mid-cont{height:181px;background:url(/pics/contest/freedom/img/mid-img.jpg) no-repeat;}
.mid-col-i{float:left;width:670px;margin:43px 0 0 290px;font-size:23px;text-shadow: 1px 1px 4px #000;}
.mid-col-ii{float:right;width:191px;height:124px;margin:33px 8px 0 0;}
.bottom-cont{padding:20px 0 30px;background:url(/pics/contest/freedom/img/cont-img.jpg) no-repeat;}
.bottom-cont h2{font-size:20px;color:#fdbf11;text-shadow: 4px 2px 3px #000;}
.bottom-col-i,.bottom-col-ii{float:left;}
.bottom-col-i{width:445px;margin:0 0 0 33px;}
.bottom-col-ii{width:420px;margin:0 0 0 24px;}
.bottom-col-i p,.bottom-col-ii p{margin:22px 0;}
.bottom-col{padding:0 30px;text-align:center;}
.bottom-col h2{color:#FFF;font-style:normal;}
.base{padding:10px 35px 20px;border-top:1px solid #FEBF10;background:#000;}
.base h2{color:#FEBF10;}
.base p{margin:0 0 15px;color:#EEE;line-height:21px;}
.sixteen{margin:10px 0 0;font-size:16px;}
.twelve{font-size:12px;}
.thirteen{font-size:13px;}
.fourteen{font-size:14px;}
.three-two{font-size:32px !important;}
.txt-center{text-align:center;}
.margin{margin:30px 0 0;}
.margin-i{margin:20px 0 30px;}
.padding{padding:15px 0;}
.neg-left{margin-left:-20px;}
.yellow{color:#fdbf11;text-shadow: 4px 2px 3px #000; }
.margin-input{display:block;margin:0 0 10px;}
.padding-i{padding:0 53px;}
.contest-overview{font-size:16px;line-height:21px;margin:0 55px 35px;}
.contest-overview h3{margin:0 0 10px;}
.contest-input-cont{float:left;width:407px;margin:22px 0;font-size:15px;text-align:right;}
.contest-input-cont label input{width:263px;padding:5px;font-size:16px !important;}
.submission,.blog-post,.personal,.mailing{height:17px;text-indent:-9999px;}
.submission{background:url(/pics/contest/freedom/img/submission.png) no-repeat;}
.blog-post{background:url(/pics/contest/freedom/img/design-blog.png) no-repeat;}
.personal{background:url(/pics/contest/freedom/img/personal.png) no-repeat;}
.mailing{background:url(/pics/contest/freedom/img/mail.png) no-repeat;}
#survey-form input{border:none;}
#submit_survey{cursor:pointer;border:1px #333 solid; font-size: 20px; color:white; padding:8px 80px; background-color:orange; -webkit-border-radius:40px; -moz-border-radius:40px; border-radius:40px;}
#clearit{cursor:pointer;border:1px #333 solid; font-size: 20px; color:white; padding:8px 80px; background-color:orange; -webkit-border-radius:40px; -moz-border-radius:40px; border-radius:40px;}

.errorBg{background:#ED4320;border-color:#d43f3a;}
.successBg{background:#5cb85c;border-color:#4cae4c;}
#headerMessage{padding:15px;border-color:#ac2925;width:816px;margin-left:50px;margin-bottom:18px;color:#fff;font-weight:normal;display:none;text-align:center;}
#p-tip{display:none;}
.bubble{top:14px;right:-17px;position:relative;width:280px;padding:8px;color:#333;font-size:14px;text-align:left;background:#FEBF10; -webkit-border-radius:2px; -moz-border-radius: 2px;border-radius: 2px; -webkit-box-shadow: 2px 1px 3px 0px rgba(50, 50, 50, 0.96); -moz-box-shadow: 2px 1px 3px 0px rgba(50, 50, 50, 0.96);box-shadow: 2px 1px 3px 0px rgba(50, 50, 50, 0.96);}
.bubble:after{content:'';position:absolute;border-style:solid;border-width:10px 11px 10px 0;border-color:transparent #FEBF10;display:block;width:0;z-index:1;left:-11px;top:7px;}
.bubble:before{content:'';position:absolute;display:block;width:0;z-index:0;left:-12px;top:7px;}

.relative{position:relative;}
.absolute{position:absolute;}

#survey-form select{ -webkit-appearance:none; -moz-appearance:none;background:url('/css/sections/img/dropdown_icon.png') no-repeat #fff;background-position:95% center;text-indent: .01px;text-overflow:"";padding:5px;font-size:14px;width:273px;border-radius:0; -webkit-border-radius:0; -moz-border-radius:0;border-width:0px;}