.search_title{font-size:14px;}
.search_container{margin-left:10px;width:956px;}
.main_title{margin-bottom:5px;text-align:center;padding-top:20px;}
.logos{list-style:none;margin-left:53px;}
.logos li{float:left;width:183px;margin-right:28px;margin-bottom:10px;padding:5px;display:inline;text-align:center;}
.logos li{border:1px solid #fff;}
.logos li:hover{border:1px solid #ddd;}
#search_wrap{padding-bottom:40px;padding-top:20px;margin-bottom:20px;border-bottom:1px solid #ddd;padding-left:240px;}
#search_wrap2{padding-bottom:40px;padding-top:20px;margin-bottom:20px;padding-left:240px;}
#search_box{width:300px;font-size:16px;line-height:16px;height:18px;float:left;padding:0!important;padding-left:10px!important;padding-top:5px!important;padding-bottom:5px!important;margin-right:2px;}
#submit_button{float:left;height:30px;padding-left:20px;padding-right:20px;border:none;background-color:#3a7dbe;color:#fff;}
*html #submit_button{
overflow:visible;/* remove padding from left/right */
width:0;/*remove the remaining space in IE6*/
}

/* IE7 */
:first-child+html #submit_button{overflow:visible;/* remove padding from left/right */width:auto!important;}
.search_text{clear:left;float:left;color:#666;padding-left:5px;font-weight:400;font-size:12px;line-height:22px;}