.feature_articles{padding-bottom:20px;width:728px;float:left;}
.feature_articles{list-style:none;}
.feature_articles .feature_item{width:354px;display:inline;padding-bottom:20px;margin-right:10px;overflow:hidden;}
.feature_articles.full_width .feature_item{width:354px;padding-bottom:20px;}
.feature_articles.full_width .feature_item{width:728px;}
.feature_item.wide{width:718px!important;}
.feature_item.frontpage{width:718px!important;}
.clear_left{clear:left;}
.float_left{float:left;clear:left;}
.float_right{float:right!important;clear:right;}
.image_wrap{float:left;width:104px;height:98px;background:url(/pics/site/feature_bg.png) top left no-repeat;}
.image_feature_project{float:left;width:225px;height:168px;background:url(/pics/site/project_bg.png) top left no-repeat;}
.image_feature_project img{margin-top:7px;margin-left:11px;}
.image_wrap img{margin-top:6px;margin-left:6px;margin-bottom:20px;}
.feature_title{font-size:15px;line-height:17px;padding-top:5px;}
.feature_date{font-size:11px;color:gray;margin-bottom:3px;}
.frontpage_date_margin{margin-bottom:10px;}
.feature_content{font-size:12px;line-height:16px;color:gray;overflow:hidden;}
.feature_content p{display:inline;}
.feature_content a{color:#3a7dbe;}
.feature_content h1,.feature_content h2,.feature_content h3,.feature_content h4,.feature_content h5,.feature_content h6{font-size:12px;font-weight:400;display:none;}
.feature_content li,.feature_content ul,.feature_content ol,.feature_content em{list-style:none;font-size:12px;line-height:16px;display:inline;}
.feature_content blockquote{display:inline;}
.feature_content br,.feature_content table,.feature_content code{display:none;}
.feature_item_link{display:block;text-decoration:none;color:#000;}
.feature_item_link:hover{color:#3a7dbe!important;}
.feature_item_link:hover .feature_content{color:#3a7dbe;}
.feature_item_link:hover .feature_date{color:#3a7dbe;}
.feature_content_wrap{padding-left:113px;}
.feature_frontpage_wrap{padding-left:240px;padding-top:10px;}
.feature_content_wrap.no_image{padding-left:5px;}
.feature_comment{float:right;font-size:11px;color:gray;padding-right:20px;}
li.b1-hover{color:#3a7dbe!important;}
li.bl-hover .feature_date{color:#3a7dbe;}
li.bl-hover a{color:#3a7dbe;}
li.bl-hover .feature_content{color:#3a7dbe;}
li.bl-hover .feature_comment{color:#3a7dbe;}
li.bl-hover .feature_date{color:#3a7dbe;}