.menu_wrap { margin: 0 auto; width: 996px; background-color:#fff;  }
.menu_wrap a { font-family:Verdana; text-decoration: none; float: left; }
.menu_wrap a:hover { text-decoration:none; }
.community_menu li { margin-right:5px; font-size:16px; font-family:Verdana; line-height:46px; float:left; list-style:none; text-align:center;}
.community_menu { margin-right:10px; padding-bottom:5px; float: right;}
.community_menu a { color: #fff; font-size: 16px; padding-top:4px; padding-bottom:5px; line-height:17px; text-align:center; display:block;}
.company_logo {position: absolute; }
.events_article {width: 690px; border-right: 1px solid #ececec;}
.design_news_title {text-decoration: none;}
.community_menu li a {line-height: 22px;}
.buttons_blog, .buttons_news {width: 85px;}
.buttons_dashboard {width: 110px;}
.buttons_forum {width: 92px;}
.buttons_careers, .buttons_events  {width: 105px;}
.rss_header {text-align: center; margin-bottom: 10px;}
.click_to_follow {position: absolute; margin: 0 0 0 15px; line-height: 24px;}
.news_header_links {background-color: #ededed; line-height: 30px;}
.news_header_links h2 {margin-left: 10px; font-size: 18px; line-height: 30px; text-transform: Capitalize;}                    
.wider_article {width: 645px;}
.community_ad_space {margin: 0 0 10px 7px;}
.career_sidebar {border-left: 1px solid #ececec; margin-left: -1px; padding: 13px 0 0 0;}
.answer_header_wrap { width: 500px; margin: auto; background-color: #ededed; margin-bottom: 30px; border-top: none;}
.answer_header_wrap h1 {width: 500px; text-align: center; margin-bottom: 15px; margin-top:10px;}
.answer_header_wrap label {width: 480px; float; left; display: inline-block; padding: 0 20px;}
.answer_header_wrap a {float: right; background-color: #dedede; color: black; margin: 35px 10px 20px 0;}
.answer_header_wrap a:hover {background-color: #ccc;}
li .answers_header {background-color: #fff; border: 0; border-bottom: 1px solid #ededed;}
.profile_body, .events_article, .article, .form, .profile_body_entry {margin-top: 12px; padding-top: 5px;}
.profile_body {border-right:1px solid #ededed;padding-right:10px;width:656px;min-height:1150px;}
.profile_bar {margin: 10px 0 0 0; text-align: center; padding: auto;}
.profile_center {margin: 10px;}
.events_sidebar {float:right;width:300px;padding-left:10px;margin-top:17px;border:none;}
.company-career-table .job_header_c1 {font-weight: normal; width: 330px; margin-right: 15px;}
.company-career-table .job_header_c3 { width: 155px; }
.company-career-table .job_header_c4 {width: 95px; }
.company-profile-table .job_header_c1 {font-weight: normal; width: 270px; margin-right: 12px; }
h5 .job_header_c1 {font-weight: bold !important;}
.job_header_c2 {font-weight: normal; width: 100px; margin-right: 15px;}
.job_header_c3 {font-weight: normal; width: 170px; margin-right: 15px;}
.job_header_c4 {font-weight: normal; width: 110px;}
.job_table h5 span {line-height: 24px;}
.job_table li {width: 100%;}
.job_table {margin-bottom: 30px;}
.shortened {width: 255px;}
.form_title .career_subhead {font-style: italic; padding-bottom:0; margin-bottom: 0;}
.google_map_wrap {width: 645px; margin-left: -6px;}
.job_table_header {margin-top: 10px; background-color: #ececec;}
.job_table_head {line-height: 24px; text-decoration: none; background-color: #fff; margin-left: 5px; color: #2f409a;}
.design_news_title {margin-bottom:5px;}
.base_divider {border: 1px solid #ddd; width: 334px; height: 2px; margin-bottom: 10px;}
.item p, .listing_type_ span, .magazine_topics a, .item  {color: #8c8c8c;}
.event_details {width:505px;}
.leftfollow {background-image: url('/pics/site/followleftside.png'); width: 20px; height: 25px; float: left;}
.middlefollow { float: left; padding-left:4px; font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; padding-bottom:2px; height: 23px; line-height:23px; text-align:right; color: #fff; background-color: #4d4d4d;}
.rightfollow {background-image: url('/pics/site/followrightside.png'); width: 20px; height: 25px; float: left;}
#plus_icon {  padding-top:2px; padding-left:5px; padding-right:4px; }
#plus_icon_wrap { float:left; height:25px; background-color:#4d4d4d; }
.news_wrap {margin-left: 5px;}
#main_footer {border: none; background-color: #ededed; vertical-align: middle; margin-bottom: 9px;}
.footer_social {float: right; margin: 0 20px 10px 0; text-align: center; vertical-align: top; }
.footer_social a {margin-right: 5px;}
.footer_social .footer_social_head {margin: 10px 0 5px 0; color: #bbb; font-size: 13px; letter-spacing: 1px;}
.company-career-table .job_table_header span {font-weight: bold;}
.blog_title_header_wrap {line-height: 40px;}
.c2 {border-left: 1px solid #CCCBCB; margin: -1px;}
.c1 {border-right: 1px solid #CCCBCB;}
.answers_list {padding-right: 0;}
.active_question_top2 {background: white url('/pics/site/company_question_top2.png') repeat-y; height: 14px;}
.active_question2 {background: white url('/pics/site/company_question_mid2.png') repeat-y;}
.active_question_bot2 {background: white url('/pics/site/company_question_bot2.png') repeat-y; height: 14px;  }
#weever-comments .level_1_header {background: white url('/pics/site/company_answer_top.png'); height: 14px;}
#weever-comments .level_1 {background: white url('/pics/site/company_answer_mid.png');}
#weever-comments .answer_footer {background: white url('/pics/site/company_answer_bot.png'); height: 14px;}
.profile_bar a {width: 120px; background-color: blue; line-height: 16px;}
.career_sidebar .interest_tags li {width: 280px; margin-left: 1px}
.career_sidebar { padding-left: 10px; width:300px;}
.events_sidebar .interest_tags a { padding-left: 0;}
.career_sidebar .interest_tags a { padding-left: 0; margin-left: 0;}
.adzone { margin-left: -6px;}
.events_sidebar .adzone { margin-left:0;}
.events_sidebar .interest_tags li {width: 245px; margin-left: -4px;}
.interest_title { padding-left: 0;}
#community_quick_links {height: 55px; width: 585px; background-color: #ececec;padding: 5px 10px; border: 1px solid #ccc; margin: 0 10px 5px 0;}
.quick_link {width: 160px; line-height: 25px; color: #fff; border: none; margin-right: 7px;}
.quick_link:hover {border: none;}
.community_quick_links {display: block; list-style-type: none; background-color: #D5D5D5; float:left; border: 1px solid black; padding: 5px 10px; margin: 5px 3px 0 0; width: 113px;}
.link_header {color: #666; font-weight: bold; }                
.chzn-container-single .chzn-single span { font-size: 12px;}
.final_ql {position: relative; margin-right: 113px; }
.rss_list {list-style: none; float: left; width:310px;}
.community_magazine .magazine_topics li {margin-bottom:10px; list-style-position: inside;}
.community_magazine .magazine_topics a {color: #333; text-decoration: none;}
#page_wrapper { background-color:white !important;}
#page_wrapper_bot { background-color: white !important; width: 996px;}
.rss_bullet {background-image: url('/pics/tech-community/list-bullet.png'); width: 10px; height: 100%; float: left; margin: 4px 5px 0 0; background-repeat: no-repeat;}
.comment_content { float: left; }
.bl-hover h3 label,.bl-hover p,.search-result-page{color:#1c68b4!important; cursor: pointer;}