.featured_members{margin-bottom:10px;}
.featured_members li{background:url(/pics/site/member.png) top left no-repeat;float:left;width:364px;height:109px;list-style:none;}
.featured_members li img{float:left;padding-right:10px;}
.featured_members .name a{font-size:16px;padding-top:3px;line-height:16px;padding-bottom:5px;display:block;}
.featured_members a{font-size:11px;line-height:13px;color:#000;text-decoration:none;}
.featured_members .name_title{margin-bottom:0;font-size:12px;line-height:12px;margin-bottom:0;font-weight:400;}
.featured_members .name_interests{font-size:11px;line-height:13px;padding-top:3px;}
.featured_members_padding{padding-top:14px;padding-left:15px;padding-right:15px;}
.community_title_sub{margin:0 6px 2px;}
.community_title_sub span{font-weight:700;}
/* Hover */
li.b1-hover{color:#3a7dbe!important;}
li.bl-hover .feature_date{color:#3a7dbe;}
li.bl-hover .name a{color:#3a7dbe;}
li.bl-hover .name_title{color:#3a7dbe;}
li.bl-hover .name_interests{color:#3a7dbe;}