.marg-t,.newsl_box{margin:15px 0 0;}
.marg-b{margin:0 0 10px!important;}
.marg-b28{margin:0 0 26px !important;}
.marg-lr8{margin:0 8px;}
.margin-l5{margin:0 0 0 5px;}
.padd-t{padding:20px 0 0;}

.c1{float:left;vertical-align:top;position:relative;width:348px;margin:0 12px 0 0;border-right:1px solid #CCCBCB;}
.c2{float:left;vertical-align:top;position:relative;width:615px;border-left:1px solid #CCCBCB;margin:-1px;}
.c2a{float:left;display:inline;position:relative;width:248px;margin:0 12px 0 0;padding:8px;background:url(../../pics/body-bg.png);}
.c2b{float:left;display:inline;position:relative;width:339px;}
.c1-cont-i,.c1-cont-ii{padding:15px 0 0;border-top:0;border-left:1px solid #DDD;border-right:1px solid #DDD;border-bottom:1px solid #DDD;}
.c1-cont-i{margin:0 0 15px;}

.company-head-wrap{width:975px;margin:10px auto 0;}
.company-menu-wrap{float:right;width:615px;}
.company-logo-wrap{float:left;width:343px;height:95px;max-height:95px;line-height:95px;}
.company-logo-wrap a{display:block;width:auto;}
.company-logo-wrap a img{vertical-align:middle;}

#tech_logo{float:right;margin:0 0 8px;}
.header{margin:10px auto 0;width:975px;background:#fff;}
.header_tech{margin:10px auto 0;background:#fff;}
.menu_wrap{width:auto;margin:0;background:#FFF;}
.menu_wrap a{float:left;font-family:Verdana;text-decoration:none;}
.menu_wrap a:hover{text-decoration:none;}

.folder-tip-wrap{width:975px;margin:0 auto;border-top:4px solid #3B3B3B;background:#FFF;}
.folder-tip{width:150px;height:26px;margin:0 0 0 18px;text-align:center;letter-spacing:.05em;background:url(/pics/folder-tip.png) no-repeat;}
.folder-tip a{display:block;color:#FFF;text-decoration:none;}
.folder-tip a:hover{color:#DDD;}
.folder-tip .fa-plus-circle{font-size:16px;}
.click_to_follow{line-height:24px;}

.see_more a{float:right;font-size:11px;line-height:18px;padding-left:5px;border:1px solid #ccc;padding-right:5px;color:#666;text-decoration:none;color:#424242;background:#f2f2f2;}
.see_more a:hover{color:#fff;border:1px solid #3a7dbe;background:#3a7dbe;}
.sep{float:right;color:#666;padding-left:5px;padding-right:5px;font-size:11px;line-height:14px;}
.see_more_1{margin-right:3px;}
.see_more_link{font-weight:700;}
a.see_more_link{padding:10px 0;font-size:11px!important;color:#777!important;text-align:center;background:#DDD;}
a.see_more_link:hover{font-size:11px;color:#FFF!important;text-decoration:none!important;background:#3A7DBE;}
.rss_header{text-align:center;margin-bottom:10px;}
.rss_list{float:left;list-style:none;width:100%;}
.rss_list:first-child{border:0;}

.articles-front-wrap{padding:8px;}
.career_subhead{margin:0;}
.career-front-wrap{padding:18px 8px;}

.design_news_title{padding:10px 11px;text-decoration:none;border:1px solid #DDD;background:#F4F4F4;}
.section_title{font-size:20px;line-height:19px;color:#3A7DBE;}
.buttons_blog,.buttons_news{width:85px;}
.buttons_dashboard{width:110px;}
.buttons_forum{width:92px;}
.buttons_careers,.buttons_events{width:105px;}
.news_header_links{line-height:30px;margin-bottom:10px;margin-top:0;background:#ededed;}
.news_header_links h2{margin-left:10px;font-size:18px;line-height:30px;text-transform:Capitalize;}
.answer_header_wrap{width:500px;margin:auto;margin-bottom:30px;border-top:none;background:#ededed;}
.answer_header_wrap h1{width:500px;text-align:center;margin-bottom:15px;margin-top:10px;}
.answer_header_wrap label{width:480px;display:inline-block;padding:0 20px;}
.answer_header_wrap a{float:right;color:black;margin:35px 10px 20px 0;background:#dedede;}
.answer_header_wrap a:hover{background:#ccc;}
li .answers_header{border:0;border-bottom:1px solid #ededed;background:#fff;}
.c1-i{float:left;width:654px;}
.profile_body{width:654px;min-height:1150px;clear:both;position:relative;}
.profile_bar{margin:10px 0 0;text-align:center;display:block;position:relative;padding:19px;}
.profile_center{margin:10px;text-align:center;}

.community_menu{padding:0 0 5px;float:right;}
.community_menu a{color:#fff;font-size:16px;padding-top:4px;padding-bottom:5px;line-height:17px;text-align:center;display:block;}
.community_menu li{margin:0 0 0 5px;float:left;list-style:none;text-align:center;font:16px/46px Verdana;}
.community_menu li a{line-height:22px;}
hr.base_divider{margin:5px 0 17px;border:1px solid #EDEDED;height:1px;}
.item p,.listing_type_ span,.magazine_topics a,.item{color:#8c8c8c;}
.event_details{width:505px;float:left;padding-right:0;width:531px;}
.leftfollow{width:20px;height:25px;float:left;background:url(/pics/site/followleftside.png);}
.middlefollow{float:left;padding-left:4px;font-family:"Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;padding-bottom:2px;height:23px;line-height:23px;text-align:right;color:#fff;background:#4d4d4d;}
.rightfollow{width:20px;height:25px;float:left;background:url(/pics/site/followrightside.png);}
#plus_icon{padding-top:2px;padding-left:5px;padding-right:4px;}
#plus_icon_wrap{float:left;height:25px;background:#4d4d4d;}

#main_footer{clear:both;border:1px solid #DDD;background:#F4F4F4;vertical-align:middle;margin:0 auto 12px;}

.comment_content{}
.comment_profile_wrap{margin:0 0 0 48px;}
.comments_container{width:630px;margin:0 auto;}
.comment_header{font-weight:400;padding-left:10px;line-height:32px;margin-bottom:20px;background:#f2f2f2;}
.comments_title{margin:20px 0;padding:5px 10px;color:#424242;font-size:14px;font-weight:700;line-height:26px;border:1px solid #DDD;background:#f2f2f2;}
.comment_wrap{margin-bottom:20px;border-bottom:1px solid #ddd;}
.comment_wrap a{color:#3A7DBE;color:#3A7DBE;}
.comment_content .comment-date{padding:0 0 4px;font-weight:normal;font-style:italic;color:#666;border-bottom:1px solid #ECECEC;}
.comment_content .comment-text{padding:10px 0;font-weight:normal;}
.comment_content p{margin:0;font-size:12px;line-height:18px;color:#666;}
.comment_content span{font-style:italic;font-weight:700;font-style:italic;font-weight:700;}
.comment_thumb{float:left;width:40px;}
.comment_info{float:right;width:580px;font-size:12px;font-weight:700;line-height:16px;}
.comment_info a{text-decoration:none;text-decoration:none;}
.comment_info a:hover{text-decoration:underline;text-decoration:underline;}
.comment_image{float:left;padding-right:8px;}
.comment_style_1{margin-bottom:10px;padding-bottom:10px;padding-left:10px;border-bottom:1px dotted #ccc;}
.comment_style_1 h5{font-weight:400;font-style:italic;font-size:12px;color:#3a7dbe;}
.comment_style_1 h5 a{color:#3a7dbe;}
.comment_style_1 p{font-size:13px;}
.comment_style_1 .comment_date{font-style:normal;}
.score_label{float:right;float:right;}
.score_value{float:right;padding-right:10px;}
.vote_link_wrap{float:right;float:right;}
a.score_vote_link{float:right;padding-right:10px;font-weight:400;text-decoration:underline;}
a.score_vote_link:hover{color:#000;color:#000;}
.not_logged_in{width:630px;margin:0 auto;}
.leave_a_comment{font-size:14px;line-height:22px;}
.leave_comment_header{font-weight:400;padding-left:10px;padding-top:20px;}
.error_msg{display:inline-block;margin:0 0 20px 0px;padding:3px 10px;color:#A94442;font-size:14px;border:1px solid #B76D6C;background:#F2DEDE;}
.comment-textarea{width:495px;height:200px;padding:10px;}
input.submit{cursor:pointer;width:90px;padding:8px 0;font-size:14px;color:#FFF;text-align:center;text-decoration:none;border:0;}

.previous_page a{float:right;display:inline;margin-right:10px;color:#1c68b4;border:1px solid #3a7dbe;font-weight:700;font-size:12px;line-height:22px;text-decoration:none;padding-left:10px;padding-right:10px;background:#fff;}
.read_more_page a,.read_more_feat a{float:right;display:inline;margin-right:10px;color:#1c68b4!important;font-weight:700;border:1px solid #3a7dbe;font-size:12px;line-height:22px;text-decoration:none;padding-left:10px;padding-right:10px;background:#fff;}
.read_more_page a:hover,.previous_page a:hover,.read_more_feat a:hover{color:#fff!important;background:#3a7dbe;}
.read_more_feat{margin:0;padding:18px 0 48px;}
.next_prev a{float:left;display:inline;margin-right:10px;color:#1c68b4!important;font-weight:700;border:1px solid #3a7dbe;font-size:12px;line-height:22px;text-decoration:none;padding-left:10px;padding-right:10px;background:#fff;}
.next_prev a:hover,.previous_page a:hover,.read_more_feat a:hover{color:#fff!important;background:#3a7dbe;}
.next_prev{margin:0;padding:18px 0 48px;}

.company-career-table .job_table_header span{font-weight:bold;}
.answers_list{padding-right:0;}
.active_question_top2{background:url(/pics/site/company_question_top2.png) repeat-y white;height:14px;}
.active_question2{background:url(/pics/site/company_question_mid2.png) repeat-y white;}
.active_question_bot2{background:url(/pics/site/company_question_bot2.png) repeat-y white;height:14px;}

#weever-comments .level_1_header{background:url(/pics/site/company_answer_top.png) white;height:14px;}
#weever-comments .level_1{background:url(/pics/site/company_answer_mid.png) white;}
#weever-comments .answer_footer{background:url(/pics/site/company_answer_bot.png) white;height:14px;}

.profile_bar a{width:120px;line-height:16px;background:blue;}
.adzone{display:initial;float:initial;padding:0;}
.community_ad_space{margin:0 0 10px 7px;}

#side_bar{margin-left:10px;width:300px;text-align:center;float:right;display:inline;position:relative;}
.career_sidebar .interest_tags li{width:280px;margin-left:1px;}
.career_sidebar .interest_tags a{padding-left:0;margin-left:0;}
.events_sidebar,.career_sidebar{float:right;width:300px;}
.events_sidebar .interest_tags li{padding:3px 0;border-bottom:1px solid #DDD;}
.events_sidebar .interest_tags li:first-child{border-top:1px solid #DDD;}
.events_sidebar .interest_tags li:nth-child(2n){background:#f9f9f9;}
.events_sidebar .interest_tags li a{margin:0;padding:0 10px;}

.interest_title{padding-left:0;}
#community_quick_links{width:582px;padding:5px 10px;border:1px solid #ccc;margin:0 0 5px;background:#ececec;}
.quick_link{width:160px;line-height:25px;color:#fff;border:none;margin-right:7px;}
.quick_link:hover{border:none;}
.community_quick_links{display:block;list-style-type:none;float:left;border:1px solid black;padding:5px 10px;margin:5px 3px 0 0;width:113px;background:#D5D5D5;}
.link_header{color:#666;font-weight:bold;}
.chzn-container-single .chzn-single span{font-size:12px;}
.final_ql{position:relative;margin-right:113px;}
.design_rss_title{margin:0 0 8px;padding:10px 11px;border:1px solid #ddd;background:#f4f4f4;}
.item_date{margin:0;margin:0 0 10px;}
.item_date_i{margin:0 0 10px;}
.magazine_topics{padding:0 10px;}
.magazine_topics .item{margin:0;padding:10px 0;}
.community_magazine .magazine_topics a{font-weight:bold;color:#333;text-decoration:none;}
#page_wrapper{background:white!important;}
#page_wrapper_bot{width:996px;background:white!important;}
.rss_bullet{width:10px;height:100%;float:left;margin:4px 5px 0 0;background:url(/pics/tech-community/list-bullet.png) no-repeat;}
.bl-hover h3 label,.bl-hover p,.search-result-page{color:#1c68b4!important;cursor:pointer;}

.article{width:654px;}
.single-btm-wrap{padding:12px 0 0;}

#news_tag_hot{font-weight:700;text-decoration:none;}
.post_date{margin-bottom:20px;font-style:italic;color:#666;}
.news_wrap,.blog_wrap{padding:0 15px 15px;border-bottom:1px solid #DDD;}
.news_wrap{padding:15px;}
.news_wrap p{margin-bottom:20px;}
.news_wrap .news_img{text-align:center;margin-bottom:20px;}
.news_img img{border:1px solid #DDD;}
.news_wrap h2{font-size:20px;line-height:24px;font-weight:400;}
.news_wrap h2.list_view{font-size:18px;}
.news_wrap ul{margin:0 0 20px 20px;}
.news_wrap h2 a{color:#3771c8;color:#333;text-decoration:none;font-weight:400;display:block;}
.news_wrap h2 a:hover{text-decoration:underline;color:#1c68b4;}
.news_header_links a{float:right;margin-left:10px;margin-top:3px;text-decoration:none;font-size:11px;line-height:12px;padding:5px 20px;color:#fff;background:gray;}
.news_header_links .submit_news{margin-right:0;background:#3a7dbe;}
.news_header_links .submit_news:hover{background:#13487C;}
.news_tags,.news_tags-i{margin:0 0 12px;padding:0 2px;list-style:none;background:#e2e2e2;}
.news_tags li,.news_tags-i li{float:left;margin:0 4px;}
.news_tags li a{color:#000;text-decoration:none;font-size:14px;line-height:24px;margin-left:8px;margin-right:8px;}
.news_tags li a:hover,.news_tags-i li a:hover{text-decoration:underline;}
.news_tags-i a{color:#444;text-decoration:none;font-size:12px;line-height:24px;}
.news_line{font:12px/1.5 "Helvetica Neue",Arial,"Liberation";text-align:right;padding:0 15px 10px;color:#3a7dbe;font-size:13px;}
.news_noline{border-bottom:none;}
.news_line .comments{float:right;}
.news_line a.comments{color:#999;}
.news_line a:hover{text-decoration:underline;}
.news_line a{color:#3a7dbe;text-decoration:none;}
.news_line .read_more{float:right;}
.news_line .tags,.blog_read_more .tags{float:left;margin:0 20px 5px 0;text-align:left;}
.news_line .tags span,.blog_read_more .tags span{display:block;float:left;width:35px;color:#3A7DBE;}
.news_line .tags a,.blog_read_more .tags a{color:#424242;}
.news_line .tags a:hover,.blog_read_more .tags a:hover{color:#3a7dbe;}
.news_tags_wrap{float:right;width:490px;}
.news_thumbs{padding-bottom:20px;padding-left:76px;}
.news_thumbs a{float:left;margin-right:10px;margin-bottom:10px;border:1px solid #ddd;display:inline;}
.news_thumbs a:hover{border:1px solid #1C68B4;}
.extra_thumb_width{padding-left:126px;}
.no_hover:hover{border:1px solid #ddd!important;}

.news_thumb_clear{clear:left;}
ul.news_image_buttons{list-style:none;margin:20px auto 0;padding:0;font-size:0;text-align:center;}
.news_image_buttons li{display:inline-block;margin:0 3px;font-size:13px;}
.news_image_buttons li .news_image_link{display:block;width:125px;padding:5px 0;color:#FFF;text-align:center;text-decoration:none;border:0 !important;background:#3A7DBE;}
.news_image_buttons li .news_image_link:hover{color:#FFF;text-decoration:none;}
.news_image_buttons li .buy_image{display:block;width:125px;padding:5px 0;color:#FFF;text-align:center;text-decoration:none;border:none;background:#FF5240 !important;}
.news_image_buttons li .buy_image:hover{color:#fff!important;text-decoration:none;border:none;background:#A62315!important;}
.news_line .tags_full{float:left;font-family:georgia;}
.tags_full span{font-weight:700;}
.news_wrap .float_right{float:right;margin:0 15px 12px;}
.news_wrap .float_left{float:left;margin:0 15px 12px;}
.news_source{text-align:left;}
.news_source span{font-weight:700;font-size:12px;}
.news_source a{color:#000;text-decoration:underline;font-size:12px;}

.blog_wrap{color:#666;letter-spacing:.04em;}
.blog_wrap .blog_title{font-weight:500;color:#444;}
.blog_wrap ul{margin:0 0 20px 20px;}

.google_event_map{height:320px;margin-bottom:0;overflow:hidden;background:#f2f2f2;}
.google_map_wrap{padding:5px;border:1px solid #e6e6e6;margin-bottom:20px;overflow:hidden;}
.map_listing_pagination{width:200px;float:left;clear:left;text-decoration:none;line-height:14px;font-size:12px;margin-bottom:8px;font-weight:700;}
.map_listing_pagination a{text-decoration:none;font-size:16px;}
.map_listing{text-decoration:none;color:#242424;line-height:16px;font-size:14px;float:left;clear:left;width:200px;}
.map_listing:hover{text-decoration:underline;}
.map_listing_img{float:left;padding-bottom:3px;}
.submit_event_button{display:block;font-size:16px;font-weight:700;line-height:35px;color:#2d5016;text-decoration:none;text-align:center;margin-bottom:10px;background:#b6d19a;}

.event_header_wrap{}
.event_header_wrap a{float:right;margin-left:5px;margin-top:3px;margin-bottom:3px;text-decoration:none;font-size:11px;line-height:12px;padding:5px 20px;color:#fff;}
.event_header_wrap .submit_news{margin-right:0;background:#3a7dbe;}
.event_header_wrap .submit_news:hover{background:#13487C;}
.event_header_links{margin-bottom:40px;}
.event_header_links a{text-decoration:none;float:right;font-size:12px;line-height:12px;padding:5px 20px;color:#fff;background:gray;}
.event_header_links .submit_event{margin-right:10px;background:#3a7dbe;}
.event_title{float:left;width:180px;padding-right:20px;}
.events_list_title{float:left;font-weight:400;font-size:18px;color:#3a7dbe;}
.no_events_list_title{color:#3A7DBE;float:left;font-weight:400;font-size:18px;line-height:18px;padding-top:6px;}
.event_date{float:left;padding-right:15px;width:150px;}
.event_date h6{font-weight:400;font-size:13px;line-height:15px;}
.event_details p{margin-bottom:0;}
.events_article{width:655px;float:left;display:inline;position:relative;}
.event_premium{border-bottom:none;margin-bottom:5px;background:#d7e3f4;}
.event_list{padding:10px;border-bottom:1px solid #d7e3f4;}
.event_list h4{font-size:13px;font-weight:700;line-height:18px;color:#242424;}
.event_list h4 a{font-size:13px;font-weight:700;line-height:18px;color:black;text-decoration:none;display:block;}
.event_list h4 a:hover{text-decoration:underline;color:#1C68B4;}
.events_article ul,.events_article ol{padding:0 0 0 30px;}
.events_article ul li{margin:8px 0 0;}
.events_article ul li:first-child{margin:0;}

.tag_icon li a{background:url(/pics/site/tag_blue.gif) no-repeat 0 3px;padding-left:20px;}
.tag_hot{font-weight:700;}
.tag_hot:hover{text-decoration:none;}
.all_tag li{background:url(/pics/site/tag_green.gif) no-repeat 0 3px;padding-left:20px;}
.listing_tags a{float:left;background:url(/pics/site/tag_green.gif) no-repeat 0 3px;padding:0 0 0 20px;margin:0 0 0 10px;text-decoration:none;color:#1C68B4;}
.listing_tags a:hover{text-decoration:underline;}
.newsl_article{float:left;width:655px;margin:0 10px 0 0;}
.newsl_content{color:#808080;font-size:12px;line-height:16px;overflow:hidden;border-bottom:1px solid #DDD;}
.newsl_archives{float:right;width:533px;}
.newsl_archives p{margin:0;color:#808080;}
.newsl_signup{font-size:14px;}
.newsl_signup a{display:block;color:#444;font-weight:bold;text-decoration:none;}
.newsl_signup a:hover{color:#3A7DBE;text-decoration:underline;}
.newsl_tmb{float:left;width:110px;height:85px;}
.newsl_tmb a{display:block;}
.newsl_title_itm{color:#444;font-size:16px;}
.newsl_title_itm a{text-decoration:none;}
.newsl_title_itm a:hover{color:#3583BA;}
.bl-hover .newsl_title_itm{color:#3A7DBE;}
.newsl_rad{float:left;}
.display_archive{margin:10px 0 0;}
.campaign{padding:5px;font-size:14px;}
.campaign a{color:#3583BA;text-decoration:none;}
.campaign a:hover{text-decoration:underline;}

.job-table{margin:0 8px;color:#FFF;border:1px solid #DDD;}
.job-table-head{border-bottom:1px solid #DDD;background:#093660;}
.job-table th{padding:5px 10px;}
.job-table th.th1,.job-table td.tc1{text-align:left;}
.job-table th.th2,.job-table th.th3,.job-table td.tc2,.job-table td.tc3{text-align:center;}
.job-table td.tc2,.job-table td.tc3{border-left:1px solid #DDD;}
.job-table td a{display:block;padding:8px 10px;color:#555;text-decoration:none;}
.job-table tr:hover a{color:#1c68b4;}
.job-table tr:nth-child(odd) td{background:#FFF;}
.job-table tr:nth-child(even) td{background:#F2F8FF;}
.job-table .pagination{padding:8px 10px;color:#555;border-top:1px solid #DDD;background:#F4F4F4!important;}
.job-table .pagination a{display:initial;}
.job-table .pagination a:hover{color:#1c68b4!important;}
.job-table tr#pagination:hover a{color:initial;}

.pagination div{display:inline-block;}
.paginate-status{margin:0 5px 0 0;}
.paginate-links a,.paginate-links strong{padding:4px!important;}
.tag_id_north-america,.tag_id_south-americal,.tag_id_europe,.tag_id_asia,.tag_id_africa,.tag_id_australia{display:none;}

.form_title{margin:0 0 20px;border-bottom:3px solid #ccc;}
.form_title .career_subhead{font-style:italic;padding-bottom:0;margin-bottom:0;color:#555;}
#cp_search{float:right;margin-top:4px;}
#cp_search_box{float:right;margin-right:3px;width:170px;height:18px;border:1px solid #ddd;padding-left:5px;font-style:italic;color:gray;}
#cp_search_button{float:right;cursor:pointer;padding-left:10px;padding-right:10px;font-size:12px;line-height:21px;color:#000;border:0 none;margin-bottom:5px;background:#ccc;}
#eng_calc{background:url(/pics/site/calculator.png) no-repeat 0 6px;padding-left:20px!important;margin-left:10px;}
#entryform .submit,.submit_ref{cursor:pointer;padding:5px;color:#FFF;text-align:center;text-decoration:none;border:none;background:#3A7DBE;font:14px/24px "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;}
#entryform input.submit:hover,input.submit_ref:hover{background:#13487C;}

#profile_bg{float:left;margin-left:2px;margin-bottom:5px;width:167px;height:167px;position:relative;background:url(/pics/site/profile_bg.png) no-repeat top left;}
#profile_bg img{padding-top:2px;padding-left:2px;}
.profile_bar li{list-style:none;color:#4d4d4d;font-size:12px;}
.profile_bar a.profile_link{display:block;color:#4d4d4d;}
.profile_bar a.profile_link:hover{color:#1c68b4;}
.profile_bar blockquote{font-size:12px;color:#4d4d4d;font-style:italic;padding-bottom:5px;}
.profile_bar h3{font-size:13px;line-height:18px;font-weight:400;color:#4d4d4d;text-transform:uppercase;font-weight:700;}
.profile_bar h1,.profile_bar h2{font-size:22px;line-height:24px;color:#000;font-weight:400;}
.profile_bar ul{margin-bottom:20px;}
.profile_bar p.title{font-size:12px;line-height:16px;color:#000;margin-bottom:10px;text-transform:uppercase;}
.profile_bar a.button_format{display:block;border:1px solid #b3b3b3;text-align:center;line-height:25px;color:#1a1a1a;padding-left:10px;padding-right:10px;margin-top:10px;margin-left:10px;margin-right:10px;text-decoration:none;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background:#ccc;}
.profile_bar a.button_format:hover{text-decoration:underline;}
.profile_bar .profile_summary{margin-bottom:20px;font-size:12px;line-height:16px;color:#4d4d4d;font-style:italic;}
.profile_bar .quote_author{text-align:right;font-size:11px;color:#4d4d4d;}
.profile_bar_i{float:left;width:172px;min-height:270px;padding:15px;position:relative;padding:20px;background:#f2f2f2;}

.extra_margin{margin-bottom:20px;}
.eeweb_stats li{font-style:italic;}
.eeweb_stats a{color:#4d4d4d;font-style:italic;text-decoration:none;}
.eeweb_stats a:hover{color:#1c68b4;}
.interest_links a{color:#4d4d4d;text-decoration:none;display:inline;text-decoration:underline;font-size:12px;}
.interest_links a:hover{color:#1c68b4;}
.profile_cont{margin:0 0 25px;background:#E6E6E6;}
.profile-col{position:relative;float:left;width:755px;margin-left:12px;text-align:left;}
div.height{padding:0 0 8px;margin-bottom:10px;border-bottom:2px solid #FFF;}
.profile-col-a,.profile-col-b,.profile-col-c,.profile-col-d,.profile-col-e{float:left;width:164px;padding:0 12px;text-align:left;}

#member_home_button{float:left;display:inline;background:url(/pics/site/house.gif) no-repeat 9px 5px;height:26px;padding-left:30px!important;padding-right:15px!important;}
#member_home_button:hover{text-decoration:none;}

#profile_header{width:100%;float:left;display:inline;position:relative;padding-bottom:0;margin-bottom:3px;}
#profile_header ul{list-style:none;float:left;}
#profile_header li{float:left;}
#profile_header li a{float:left;font-size:13px;line-height:26px;text-transform:uppercase;padding-right:20px;padding-left:20px;border-right:2px solid #fff;color:#fff;text-decoration:none;background:#3A7DBE;}
#profile_header li.active_page{background:#a4a4a4;}
#profile_header li.active_page a{color:#4d4d4d;}
#profile_header li.active_page a:hover{text-decoration:none;}
#profile_header li a:hover{text-decoration:underline;}

.field_instructions{padding-bottom:0;font-weight:400;color:#666;}
.profile_body_content{}
.profile_body_content h4 a{font-size:14px;font-weight:700;line-height:18px;color:#000;text-decoration:none;}
.profile_body_content h4{margin-bottom:3px;}
.profile_body_content h4 a:hover{text-decoration:underline;}
.profile_body_content .no_results{font-style:italic;margin-bottom:20px;}
.profile_body_content .entry_date{text-align:right;color:gray;margin-bottom:10px;font:italic 11px georgia;}
.profile_body_content .body_summary{margin-bottom:5px;}
.profile_body_content .button_wrap{text-align:right;margin-bottom:10px;}
.profile_body_content .button_format{float:right;border:1px solid #ccc;line-height:25px;color:#1a1a1a;padding-left:10px;padding-right:10px;text-decoration:none;background:#f2f2f2;}
.profile_body_content .button_format:hover{text-decoration:underline;}
.profile_body_content blockquote{font-style:italic;padding-left:20px;}
.profile_body_content h5.add_line{border-bottom:1px solid #ccc;color:#b3b3b3;font-size:14px;line-height:18px;margin-bottom:5px;}
.profile_body_content ol{margin-left:20px;margin-bottom:20px;}
.profile_body_content ul{margin-left:20px;margin-bottom:20px;}
.profile_body_content table td{border:1px solid #ccc;padding-left:5px;padding-right:5px;}
.profile_body_content table th{color:#fff;padding-left:5px;padding-right:5px;border:1px solid #000;background:#000;}
.profile_body_content table{margin-bottom:20px;}
.profile_body_entry{width:746px;float:left;display:inline;position:relative;}

.featured_member_ad{border:1px solid #ccc;padding:8px;padding-bottom:4px;margin-bottom:10px;}
.featured_member_ad img{float:left;margin-right:8px;}
.featured_member_ad_title a{text-decoration:none;color:#000;font-size:16px;line-height:22px;}
.featured_member_ad_description{color:#666;font-size:12px;line-height:16px;margin-bottom:0;}

.ad_read_more{color:#333;font-size:11px;margin-bottom:0;float:right;}
.bl-hover .featured_member_ad_title{color:#3a7dbe;}
.bl-hover .featured_member_ad_description{color:#3a7dbe;}
.bl-hover .ad_read_more{color:#3a7dbe;}
.featured_title_bg{position:absolute;left:2px;float:left;top:141px;width:159px;font-size:10px!important;text-align:center;color:#fff!important;line-height:20px!important;background:#3A7DBE;}

.blog_tags_wrap,.news_tags_wrap{float:right;width:411px;}
.blog_wrap .blog_entry_date{margin:0 0 20px;}

.blog_entry .blog_title.listview a{color:#333;font-size:16px;line-height:24px;text-decoration:none;font-weight:700;}
.blog_entry .blog_title.listview{padding-bottom:0;}
.blog_entry .blog_entry_date{margin-bottom:20px;font-style:italic;color:#999;font-size:13px;line-height:16px;}
.blog_entry .blog_read_more,.news_line{margin:0;padding:0;}
.blog_entry .blog_read_more{padding-right:10px;margin-bottom:40px;border-bottom:1px solid #ccc;padding-bottom:2px;}
.blog_entry .read_more{float:left;font-size:12px;line-height:14px;}
.blog_entry .blog_read_more a{color:#3A7DBE;text-transform:uppercase;text-decoration:none;font-size:11px;line-height:14px;}
.blog_entry_form .helper_text{font-size:12px;color:#666;line-height:14px;margin-bottom:20px;font-style:italic;padding-left:10px;}
.blog_entry a{color:#3A7DBE;}
.blog_entry blockquote{margin-left:20px;border-left:5px solid #ccc;padding-top:10px;margin-bottom:20px;background:#f2f2f2;}
.blog_entry table{margin:0 auto;margin-bottom:20px;}
.blog_entry td { border: 1px solid #ccc;padding-left: 5px;padding-right: 5px;}

#profile_blog_body ul,#profile_blog_body ol{padding-left:40px;}
a.edit_entry_link{float:left;color:#3A7DBE!important;font-size:11px;padding-left:5px;padding-right:5px;text-decoration:none;}
a.edit_entry_link:hover{text-decoration:underline;}
.posted_date{float:left;font-size:11px;}
h3.blog_title_header{float:left;line-height:28px;font-size:12px;padding-right:5px;font-weight:700;color:#242424;text-transform:uppercase;}

.form_data.blog_entry_form{padding-left:0;padding-top:0;}
.form_data .blog_entry_input{width:500px;}
.form_data .submit{padding-left:25px;padding-right:25px;}

.blog_header_links{float:left;font-size:12px;line-height:13px;margin-top:7px;color:#242424;padding-left:8px;padding-right:8px;text-decoration:none;border-right:1px solid #b3b3b3;}
.blog_header_links:hover{text-decoration:underline;}
.blog_header_links.last{border-right:none;}
.blog_header_links.active{font-weight:700;}
.blog_header_links.active:hover{text-decoration:none;}

.blog_tags{float:right;color:#000;font-size:11px;line-height:14px;}
.blog_comment_number{float:right;padding-left:10px;font-size:12px;line-height:14px;}

.blog_image_wrapper{text-align:center;margin-bottom:20px;}
.blog_thumb img{border:1px solid #ccc;padding:5px;margin-bottom:5px;}
.blog_thumb img:hover{border:1px solid #1c68b4;}
.blog_image_title{color:#666;font-weight:400;font-size:14px;line-height:14px;margin-bottom:20px;}
.blog_image_title span{font-style:italic;font-weight:700;}

.news-title-header,.blog_title_header a{color:#000;text-decoration:none;}
.news-title-header-wrap,.blog_title_header_wrap,.careers-title-header-wrap,.cmp-news-title-cont{padding:5px 11px;margin:0 0 20px;border:1px solid #ddd;background:#f4f4f4;}

.contact_form{margin-left:10px;}
.contact_form h2{font-weight:400;color:#3A7DBE;}
.contact_form h3{color:#3A7DBE;font-weight:400;text-transform:uppercase;}

.following_list{margin-left:16px;padding-top:10px;list-style:none;}
.following_body{padding-left:5px;}
.following_body h2{font-weight:400;color:#3A7DBE;text-transform:uppercase;}
.following_list li.bl-hover a{color:#1c68b4;}
.follow_name{display:block;font-size:13px;line-height:16px;padding-top:10px;}
.follow_image{float:left;padding-right:10px;}

.you_are_following{position:absolute;top:0;right:0;width:100px;padding:5px;font-size:12px;line-height:14px;text-align:center;background:#3A7DBE;}
.you_are_following a{color:#FFF;font-weight:700;text-decoration:none;}
.you_are_following_i{margin-bottom:10px;font-size:12px;line-height:14px;text-align:center;}
.you_are_following_i a{font-weight:700;color:#4D4D4D;text-decoration:underline;}
.following_format{margin-left:5px;}
.following_format h3{font-weight:400;margin-bottom:10px;}

.members_following_title{font-weight:400;font-size:14px;text-align:center;margin-bottom:10px;text-transform:uppercase;}
.user_name h1{width:600px;color:#3E7FBF;font-size:19px;}
.user_title{width:600px;color:#555;}

.resume_format h3{font-size:18px;line-height:22px;font-weight:400;border-bottom:1px solid #ccc;margin-bottom:10px;color:#3A7DBE;text-transform:uppercase;}
.resume_format h4{font-size:14px;}
.resume_format h5{font-size:14px;font-weight:400;}
.resume_format h4.date{text-transform:uppercase;font:400 12px courier;}
.resume_format{width:516px;float:left;display:inline;padding-left:10px;padding-right:10px;position:relative;}
.resume_format .resume_section{margin-bottom:40px;}

.activity_image{float:left;padding-right:10px;}
.activity_content{float:left;width:580px;}
.activity_content h1,.activity_content h2,.activity_content h3,.activity_content h4,.activity_content h5,.activity_content h6{margin-bottom:10px;font-size:12px;text-transform:none!important;color:#666;font-weight:700!important;}
.activity_content.wide{display:block;width:100%;margin-bottom:20px;}
.activity_listing p{margin-bottom:5px;padding-bottom:5px;font-size:12px;color:#666;}
.activity_listing li{font-size:12px;color:#666;line-height:18px;}
.activity_listing ul{margin-bottom:10px;}
.activity_listing{margin-bottom:20px;}
.activity_info{font-size:11px;color:#333;margin-bottom:5px;float:left;}
.activity_info a{color:#333;}
.activity_info a:hover{color:#3A7DBE;}
.activity_comment_score{float:right;font-size:11px;}
.activity_comment{float:right;font-size:11px;}
.activity_comment a{text-decoration:underline;color:#000;}
.activity_comment a:hover{color:#3A7DBE;}
.activity_date{font-style:italic;font-weight:400;font-size:11px;margin-bottom:5px;}
.activity_title a{font-size:15px;font-weight:400;text-transform:uppercase!important;display:block;}
.activity_title a:hover{color:#1c68b4;}
.activity_title{margin-bottom:0!important;}

.profile_topbar h4{font-size:16px;line-height:26px;float:left;padding-left:10px;font-weight:400;}
.profile_topbar a{float:right;color:#000;font-size:12px;line-height:24px;text-decoration:none;padding-right:5px;}
.profile_topbar a:hover{text-decoration:underline;}
.profile_topbar{margin-bottom:10px;background:#ccc;}

.profile_full_wrap .profile_name_email label{padding-bottom:10px;}
.profile_full_wrap{width:755px;min-height:400px;padding:20px 0 0;float:right;display:inline;position:relative;}
.profile_full_wrap .profile_edit_header{font-size:14px;line-height:22px;font-weight:700;margin-bottom:10px;color:#3A7DBE;text-transform:uppercase;margin-top:5px;margin-bottom:10px;}
.profile_full_wrap label{font-weight:400;float:left;font-weight:700;text-align:left;padding-right:20px;padding-bottom:5px;padding-left:0;font-size:14px;}
.profile_full_wrap .data{float:left;font-style:italic;}
.profile_full_wrap .profile_spacer{margin-bottom:10px;}
.profile_full_wrap input.input_wide{width:520px;border:1px solid #b3b3b3;padding:5px;margin-left:20px;}
.profile_full_wrap textarea.input_wide{width:520px;border:1px solid #b3b3b3;padding:5px;margin-left:20px;}
.profile_full_wrap .helper_text{font-size:12px;color:#666;line-height:14px;margin-bottom:20px;font-style:italic;padding-left:20px;}
.profile_field_wrap{margin-bottom:30px;}
.profile_full_wrap .profile_link{font-style:normal;color:#1c68b4;}
#profile_blog_body{padding:10px;}
.ff_matrix textarea{font-size:11px!important;}

.featured_members{margin-bottom:40px;}
.featured_members li{background:url(/pics/site/member.png) no-repeat top left;float:left;width:364px;height:109px;list-style:none;}
.featured_members li img{float:left;padding-right:10px;}
.featured_members .name a{font-size:16px;padding-top:3px;line-height:16px;padding-bottom:5px;display:block;}
.featured_members a{font-size:11px;line-height:13px;color:#000;text-decoration:none;}
.featured_members .name_title{margin-bottom:0;font-size:12px;line-height:12px;margin-bottom:0;text-transform:uppercase;font-weight:400;}
.featured_members .name_interests{font-size:11px;line-height:13px;padding-top:3px;text-transform:capitalize;}
.featured_members_padding{padding-top:14px;padding-left:15px;padding-right:15px;}
.community_title{font-size:18px;letter-spacing:1px;font-weight:400;color:#3a7dbe;line-height:20px;}
.community_title_sub{margin-bottom:10px;}
.community_title_sub span{font-weight:700;}
li.b1-hover{color:#3a7dbe!important;}
li.bl-hover .feature_date{color:#3a7dbe;}
li.bl-hover .name a{color:#3a7dbe;}
li.bl-hover .name_title{color:#3a7dbe;}
li.bl-hover .name_interests{color:#3a7dbe;}

.careers-title-header,.cmp-title-single,.news-title-header,.blog_title_header{font-weight:700;}
.news_source,.blog_source{float:left;margin:5px 0 0;}
.cmp-news-wrap,.cmp-blog-wrap{list-style:none;margin:0;}
.cmp-news-wrap li:nth-child(2n),.cmp-blog-wrap li:nth-child(2n){background:#F3F3F3;}
.cmp-news-wrap li:nth-child(2n) .cmp-news-more,.cmp-blog-wrap li:nth-child(2n) .cmp-blog-more{background:#FFF;}
.cmp-news-wrap .cmp-news-cont,.cmp-blog-wrap .cmp-blog-cont{padding:15px;}
.cmp-news-wrap .cmp-news-cont p,.cmp-blog-wrap .cmp-blog-cont p{margin:0;color:#666;letter-spacing:.04em;}
.cmp-news-cont h2 a,.cmp-blog-cont h2 a{display:block;color:#333;font-weight:400;text-decoration:none;}
.cmp-news-img,.cmp-blog-img{text-align:center;}
.cmp-news-img img,.cmp-blog-img img{border:1px solid #DDD;}
.cmp-news-more,.cmp-blog-more{margin:10px 0 0;padding:5px 10px;font-size:0;background:#F6F6F6;}
.cmp-blog-more .feature_comment{font-size:12px;font-style:italic;color:#666;}
.cmp-news-more a,.cmp-blog-more a{text-decoration:none;}
.cmp-news-more a:hover,.cmp-blog-more a:hover{text-decoration:underline;}
.comments,.readmore{display:inline-block;vertical-align:top;width:50%;font-size:13px;color:#FFF;}
.comments{text-align:left;}
.readmore{text-align:right;}

.cmp-paginate{margin:20px 0 0;}
.return{float:right;display:block;}
.return a{margin:0;text-transform:capitalize;border:1px solid #3A7DBE;}

.cmp-profile-c1{padding:0 11px 0 0;float:left;margin:0;position:relative;vertical-align:top;width:348px;}
.cmp-profile-c2{float:left;position:relative;vertical-align:top;width:604px;margin:0;padding:0 0 0 11px;}

.listing_tags{clear:both;padding:10px 0 0;}
.tags-c1{display:inline-block;vertical-align:top;width:35px;}
.tags-c2{display:inline-block;vertical-align:top;width:584px;}

.interest_title_i{padding:5px 10px;font-size:15px;font-weight:700;color:#3a7dbe;line-height:23px;text-transform:uppercase;border:1px solid #DDD;background:#F4F4F4;}
.interest_tags_i{list-style:none;margin-bottom:0!important;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.interest_tags_i li{line-height:22px;overflow:hidden;border-bottom:1px solid #ddd;}
.interest_tags_i li:nth-child(2n){background:#f9f9f9;}
.interest_tags_i a{display:block;height:22px;padding:5px 10px;font-size:12px;color:#444;line-height:22px;text-decoration:none;text-transform:capitalize;}
.interest_tags_i a:hover{color:#333;background:#ececec;}
.interest_tags_i a span{color:#069;}
.interest_tags_i .showing{padding:5px 10px;}
.item_title{font-size:16px;line-height:17px;color:#000;font-weight:700;}
.item_title a{text-decoration:none;color:#444;display:block;}
.discussion_title a{display:block;padding:10px 11px;border:1px solid #DDD;background:#F4F4F4;text-decoration:none;}
.discussion_title a:hover{background:#EEE;}

.pulse_fp_img{float:left;margin-right:15px;margin-left:3px;}
.pulse_fp_wrap{margin-bottom:20px;border-bottom:1px solid #ddd;position:relative;padding-bottom:10px;}
.pulse_fp_title{font-size:16px;line-height:18px;margin-bottom:5px;float:left;width:219px;padding-top:10px;}
.pulse_fp_title a{color:#000;text-decoration:none;}
.pulse_fp_button{float:left;padding-left:15px;padding-right:15px;text-decoration:none;height:24px;margin-right:5px;color:#4d4d4d;font-size:14px;line-height:24px;border:1px solid #ccc;background:#f2f2f2;}
.pulse_fp_button:hover{color:#fff;border:1px solid #3a7dbe;background:#3a7dbe;}
.pulse_fp_summary{margin-bottom:10px;color:gray;float:left;width:219px;}

.item{margin:12px 0 0;padding:12px 0 0;border-top:1px solid #DDD;}
.item p{margin-bottom:0;}
.item_list{list-style:none;padding:15px 11px 0;}
.item_list li:first-child{margin:0;padding:0;border:0;}
.item_thumb{text-align:center;}
.item_summary{font-size:12px;line-height:15px;color:gray;}
.item_date,.item_date-i{font-size:11px;font-style:italic;color:#696969;}
.thumb_w_border img{border:1px solid #ddd;}

.bl-hover .item_date,.bl-hover .item_summary,.bl-hover .item_title a{color:#1c68b4!important;}
.bl-hover .thumb_w_border img{border:1px solid #1c68b4;}
.bl-hover .answer_title a{color:#1c68b4!important;text-decoration:underline!important;}
.bl-hover .app_title a,.bl-hover .app_sum{color:#1c68b4!important;}
.bl-hover .app_thumb{}
.bl-hover h3 a,.bl-hover p{color:#1c68b4!important;}
.bl-bigger img{vertical-align:middle;border:1px solid #ddd;}
.bl-bigger img:hover{border:1px solid #1C68B4;}

.quick_link_wrap{width:340px;margin:0 auto 8px;}
ul.quick_link{font-size:0;text-align:center;letter-spacing:0;word-spacing:0;}
ul.quick_link li{display:inline-block;margin:0 0 0 3px;list-style:none;font-size:12px;color:#424242;text-decoration:none;text-align:center;background:#f2f2f2;}
ul.quick_link li:first-child{margin:0 0 0 1px;}
ul.quick_link li a{display:block;padding:3px 10px;color:#424242;text-decoration:none;border:1px solid #ccc;}
ul.quick_link li a:hover{color:#FFF;border:1px solid #3a7dbe;background:#3a7dbe;}

.feature_text{width:226px;font-size:12px;color:#808080;line-height:16px;padding:5px 0;margin:0;}
.feature_link{text-decoration:none;color:#777!important;display:block;padding-top:5px;width:223px;}
.feature_link:hover{color:#1c68b4!important;}
.feature_title{position:relative;width:226px;padding:0 0 12px;text-align:center;font-size:14px;line-height:21px;color:#1A5DAB;}
.feature_image{display:block;}
.feature_image_w_border{border:1px solid #ddd;border-top:none;display:block;position:relative;}

.box_shadow{background:#FFF;padding:10px 0 10px 11px;margin:12px 0;-webkit-box-shadow:0 0 2px 0 rgba(50,50,50,0.5);-moz-box-shadow:0 0 2px 0 rgba(50,50,50,0.5);box-shadow:0 0 2px 0 rgba(50,50,50,0.5);}
.box_shadow_blue{background:#1A5DAB;padding:12px 0 12px 11px;-webkit-box-shadow:0 0 2px 0 rgba(50,50,50,0.5);-moz-box-shadow:0 0 2px 0 rgba(50,50,50,0.5);box-shadow:0 0 2px 0 rgba(50,50,50,0.5);}
.box_shadow_blue a,.box_shadow_blue .feature_title,.box_shadow_blue a:hover{color:#FFF!important;}
.box_shadow_blue a:hover{text-decoration:underline;}
.box_shadow_blue_footer{background:url(/pics/site/daily_feature_BLUE_bg.png) no-repeat bottom left;height:15px;margin-bottom:10px;font-size:1px;}

.feature_img_w_border{position:relative;width:226px;}
.feature_img_w_border a{display:block;}
.feature_img_w_border img{border:1px solid #999;display:block;}

.read_more_wrap{color:#b3b3b3;}
.read_more_link{display:block;padding:10px;color:#777;font-size:11px;font-weight:700;line-height:16px;text-align:center;text-decoration:none;background:#DDD;}
.read_more_link:hover{color:#FFF;background:#3A7DBE;}
.read_more_link_size{width:307px;margin:0 auto;}

.more-art-pro{text-align:center;}
.more-art-pro li{display:inline-block;list-style:none;}
.more-art-pro .read_more_link{padding:10px 42px;}

.less_margin{margin-bottom:0;padding-bottom:10px;}.
.discussion_title{text-decoration:none;}
.answer_title{font-size:13px;line-height:17px;font-weight:700;}
.answer_title a{display:block;font-size:13px;line-height:17px;font-style:italic;text-decoration:none;color:#666;}
.answer_title a:hover{color:#1c68b4;text-decoration:underline;}
.answer_date{float:right;}
.answer_replies{float:left;}
.answer_info{font-size:11px;color:gray;}

#eeweb_discussions{padding:0 6px;}
#eeweb_discussions li{margin:0;padding:7px;border:0;}
#eeweb_discussions li:nth-child(even){background:#F3F3F3;}

.app_note{margin:0 0 10px;padding:8px;border:1px solid #EEE;background:#F4F4F4;}
.app_note_title{margin-bottom:10px;}
.app_thumb{display:inline-block;vertical-align:middle;height:107px;margin:0 7px 0 0;line-height:107px;}
.app_thumb .bl-bigger img{vertical-align:top;}
.app_thumb a img{vertical-align:middle;}
.app_info{display:inline-block;vertical-align:middle;width:421px;}
.app_info .item_date{border-bottom:1px solid #DDD;}
.app_item{list-style:none;}
.app_item .appthumb-i a:hover{border:0;}
.app_title{font-size:16px;line-height:17px;padding-bottom:5px;}
.app_title a{text-decoration:none;color:#000;}
.app_sum{font-size:12px;color:#555;line-height:16px;}
.app_sum p{margin:0;}
.app_note-i{margin:0 auto;padding:0 8px;border:0;background:none;}
.app_note-i li{padding:10px;}
.app_note-i li:first-child{margin:0;}
.app_note-i li:nth-child(2n){background:#F4F4F4;}
.app_thumb-i{margin:0 12px 0 0;}

.condense h1,.condense h2,.condense h3,.condense h4,.condense h5,.condense h6{font-size:12px;font-weight:400;display:none;}
.condense ul,.condense ol{list-style:none;}
.condense p,.condense li{display:inline;}
.condense a{display:none;}

#job_listing_tab{display:inline;float:left;font-size:12px;line-height:24px;font-weight:700;width:110px;text-align:center;border-bottom:none;cursor:pointer;}
#event_listing_tab{display:inline;float:left;font-size:12px;line-height:24px;margin-right:3px;font-weight:700;text-align:center;border-bottom:none;width:131px;cursor:pointer;}
#events_listings{display:none;}

.hot_tab{color:#fff;border:1px solid #3a7dbe;background:#3a7dbe;}
.cold_tab{border:1px solid #ccc;color:#424242;background:#f2f2f2;}

.jobs_events{border:1px solid #DDD;padding:10px;background:#FFF;}

.widget_listings{list-style:none;}
.widget_listings li a{font-size:12px;line-height:14px;text-decoration:none;color:#666;display:block;width:226px;}
.widget_listings li a:hover{text-decoration:underline;color:#1c68b4;}
.widget_listings li a:hover span{text-decoration:underline;color:#1c68b4;}
.widget_listings li{position:relative;font-size:12px;line-height:14px;margin-bottom:10px;padding-bottom:5px;border-bottom:1px dotted #ddd;}

.listing_date{font-size:11px;font-style:italic;color:gray;}
.more-evjo{margin:0!important;padding:0!important;border:0!important;}

.headi-wrap{margin:0 0 4px;padding:0 0 5px;}
.headi-thumb{display:inline-block;vertical-align:middle;width:50px;height:50px;padding:0 5px;line-height:50px;text-align:center;border:1px solid #EEE;}
.headi-thumb img{vertical-align:middle;}
.headi-title{display:inline-block;vertical-align:middle;width:245px;margin:0 0 0 3px;}

.footer-main-logo{float:left;width:380px;height:78px;margin:0 0 0 20px;max-height:78px;line-height:78px;}
.footer-main-logo img{vertical-align:middle;}

.footer_social{float:right;width:350px;margin:0 20px 0 0;}
.footer_social a{font-size:30px;color:#555;text-decoration:none;}
.footer_social ul{list-style:none;margin:0;padding:0;font-size:0;text-align:right;}
.footer_social ul li{display:inline-block;margin:0 0 0 5px;}
.footer_social ul li:first-child{margin:0;}
.footer_social .footer_social_head{margin:10px 0 0;color:#555;font-size:13px;text-align:right;letter-spacing:1px;}