/* Contact Form Content */
.contactus_col{float:left;width:738px;margin:0 20px 0 10px;}
h3.contactus_title_header{float:left;margin:0 0 16px;color:#1C68B4;font-size:24px;font-weight:normal;line-height:26px;}
#send_msg{padding:7px;}
input#name,input#email,input#subject,textarea#message,#send_msg{font-size:12px;border:1px solid #999;}
input#name,input#email,input#subject{width:333px;padding:7px;}
textarea#message{width:470px;padding:10px;font:inherit;line-height:16px;}

/* Ad Sidebar */
.c3{width:200px;float:left;display:inline;position:relative;}