/* Center Content */
.content_body{width:675px;margin-left:10px;float:left;display:inline;position:relative;padding-right:15px;border-right:1px solid #ddd;}
.sidebar_full{width:250px;float:left;display:inline;position:relative;padding-left:15px;border-left:1px solid #ddd;margin-left:-1px;}

/* Title */
.comic_title{padding-left:5px;text-align:center;font-size:18px;line-height:28px;margin-bottom:10px;font-weight:400;color:#242424;}
#rtz_text{margin-left:5px;}
.comic_title_wrap{margin-bottom:0;}
.prev_next_links{padding-right:32px;padding-top:10px;text-align:right;padding-bottom:20px;}
.prev_next_links a{text-decoration:none;font-size:16px;color:#424242;border:1px solid #ddd;}
.prev_next_links a:hover{background-color:#666;border:1px solid #666;color:#fff;}
.prev_link{float:left;margin-left:0;padding-left:10px;padding-right:10px;margin-right:5px;}
.next_link{float:left;padding-right:15px;padding-left:15px;}
.section_title{border-bottom:1px solid #ddd;font-size:20px;line-height:26px;font-family:georgia;padding-left:0;color:#333;margin-bottom:10px;font-weight:400;}
.previous_entries{list-style:none;}
.previous_entries li{width:300px;}
.previous_entries li a{display:block;color:#666;font-size:13px;line-height:24px;padding-left:0;text-decoration:underline;}
.previous_entries li a:hover{color:#000;}
.hot_link{font-weight:700;color:#1C68B4!important;}
