/* Sidebar */
.sidebar{width:261px;float:left;display:inline;position:relative;background-color:#fff;}
.sidebar ul{list-style:none;padding-bottom:0;float:left;}
.sidebar li{color:#000;font-size:12px;line-height:22px;float:left;}
.sidebar li a{text-transform:capitalize;font-size:12px;line-height:22px;color:#000;padding-right:10px;text-decoration:none;display:block;width:158px;}
.sidebar li a:hover{background-color:#f2f2f2;}
.sidebar li a span{color:#3a7dbe;}
.sidebar_title{font-size:15px;line-height:23px;color:#3a7dbe;font-weight:400;background-color:#fff;font-weight:700;text-transform:uppercase;}
.sidebar_subtitle{font-size:12px;color:#000;padding-left:10px;text-transform:uppercase;}
ul.sidebar_extra_margin{padding-bottom:10px;}
.sidebar_view_more{display:block;text-align:right;padding-right:10px;padding-bottom:15px;text-decoration:underline;color:#069;font-size:11px;}
.sidebar_view_more:hover{color:#000;}

/* Center Content */
.center_content{width:546px;float:left;display:inline;position:relative;margin-right:15px;}
.center_content_w_line{width:642px;margin-left:-1px;padding-left:15px;float:left;display:inline;position:relative;margin-right:15px;}

/* View Wrapper */
.view_article{width:956px;margin-left:5px;float:left;display:inline;position:relative;margin-right:15px;}
h2.title{color:#3a7dbe;font-weight:200;}
h2.title_bar{border-bottom:4px solid #e6e6e6;font-size:15px;line-height:26px;color:#3a7dbe;}

/* Answers Subportal */
.subportal_answers_buttons{width:140px;float:left;}
.subportal_answers_buttons a{display:block;background-color:#f2f2f2;font-size:12px;font-weight:700;border:1px solid #999;line-height:24px;color:#666;text-decoration:none;text-align:center;margin-bottom:5px;}
.subportal_answers_buttons a:hover{color:#fff;background-color:#3a7dbe;border:1px solid #3a7dbe;}
.subportal_answers_feed{width:78%;float:left;}
h6.subportal_answers_join{color:#3a7dbe;font-size:13px;text-align:center;}
.subportal_answers_list{list-style:none;padding-left:10px;padding-top:0;}
.subportal_answers_list li{margin-bottom:10px;}
.subportal_answers_list h4 a{font-size:13px;font-weight:700;text-decoration:none;color:#000;display:block;}
.subportal_answers_list h4 a:hover{text-decoration:underline;}
.answers_list_time{float:right;color:gray;font-size:11px;padding-right:5px;}
.answers_list_stats{float:left;color:gray;font-size:11px;}
.jtd{text-transform:uppercase;font-style:italic;}

/* News Section */
.news_items{margin-bottom:10px;}
.news_items li{list-style:none;float:left;width:273px;margin-bottom:10px;}
.news_items li.bl-hover a{color:#3a7dbe;}
.news_items li.bl-hover .thumb_date{color:#3a7dbe;}
.news_items li.bl-hover .thumb_sum{color:#3a7dbe;}
.news_items li.one{float:left;clear:left;}
.news_items li.two{float:right;clear:right;}
.news_items li.one .thumb_title a{padding-right:10px;}
.news_items .thumb_bg{padding-right:10px;background:url(/pics/site/small_thumb.png) top left no-repeat;float:left;}
.news_items .thumb_bg img{margin-top:6px;margin-left:3px;}
.news_items .thumb_bg{background:transparent;width:auto;}
.news_items .thumb_title a{font-size:13px;line-height:16px;text-decoration:none;font-weight:700;color:#000;padding-top:5px;display:block;}
.thumb_date{font-size:11px;line-height:20px;color:gray;text-align:right;padding-right:20px;}
.extra_padding{padding-left:70px;}
.thumb_sum{font-size:11px;color:#424242;}
.thumb_sum p{margin-bottom:0;}

/* Feature Item */
.feature_item{list-style:none;}
.feature_item .thumb_big_sum p{margin-bottom:20px;}
.feature_item .thumb_big_bg{margin-right:15px;margin-bottom:20px;float:left;}
.feature_item .thumb_big_bg img{margin-top:7px;margin-left:0;}
.feature_item .left{float:left!important;}
.feature_item .right{float:right!important;margin-left:20px;}
.feature_item .block{display:block!important;float:none!important;text-align:center!important;}
.feature_item .add_border{border:1px solid #ddd;}
.thumb_big_title a{font-size:14px;line-height:16px;font-weight:700;display:block;color:#000;text-decoration:none;padding-top:10px;padding-bottom:5px;}
.thumb_big_title{font-size:18px;line-height:22px;color:#000;font-weight:400;}
.date_posted{font-size:12px;color:gray;font-style:italic;margin-bottom:20px;}
.feature_item li.bl-hover .thumb_big_sum{color:#3a7dbe;}
.feature_item li.bl-hover .thumb_big_title a{color:#3a7dbe;}
.subportal_answers_list li.bl-hover a{text-decoration:underline;}
.thumb_big_sum{color:#666;font-size:12px;line-height:16px;}
.thumb_big_sum ul{margin-left:20px;margin-bottom:20px;}
.thumb_big_sum h3{font-size:14px;font-weight:700;margin-bottom:10px;}
.feature_content{padding-left:156px;}

/* Breadcrumb */
.breadcrumb{padding-bottom:5px;padding-left:5px;color:gray;font-size:11px;}
.breadcrumb a{font-size:11px;color:gray;text-decoration:none;font-style:italic;}
.breadcrumb a:hover{text-decoration:underline;color:#1c68b4;}

/* See More */
.see_more{text-align:right;margin-right:20px;}
.see_more a{font-size:12px;text-decoration:none;color:#000;font-weight:700;}
.see_more a:hover{text-decoration:underline;}
.list_view a{font-weight:400;font-size:11px;}
.read_article{text-align:left;margin-right:20px;font-weight:700;}
.read_article a{font-size:13px;text-decoration:underline;color:#1c68b4;font-weight:400;}
.read_article a:hover{color:#000;}
.view_app_note{font-size:13px;line-height:24px;background-color:#3a7dbe;color:#fff;text-decoration:none;padding-left:10px;padding-right:10px;float:left;}
.view_app_note:hover{text-decoration:underline;}
.view_app_note_wrap{margin-bottom:20px;}

/* Sources */
.source_title{font-size:14px;font-weight:400;color:#1c68b4;font-family:georgia;}
.sources li{list-style:none;margin-left:0;}
.sources li a{font-size:12px;text-decoration:underline;color:#666;font-style:italic;}
.sources li a:hover{color:#1c68b4;}

/* tags */
.article_tags a{color:#666;font-size:12px;text-transform:capitalize;}
.article_tags a:hover{color:#1c68b4;}
.article_tags span{color:#1c68b4;font-family:georgia;font-size:14px;}

/* Ad Sidebar */
.c3{width:300px;text-align:center;float:right;display:inline;position:relative;}