.cat_title_fet{font-size:24px;font-weight:400;letter-spacing:1px;color:#3a7dbe;line-height:20px;padding-bottom:10px;}
.feature_articles{padding-bottom:20px;float:left;}
.feature_articles{list-style:none;}
.feature_articles.full_width .feature_item{width:354px;padding-bottom:20px;}
.feature_articles.full_width .feature_item{width:728px;}
.feature_item.wide{width:718px!important;}
.feature_item.frontpage{width:718px!important;}
.clear_left{clear:left;}
.float_left{float:left;clear:left;}
.float_right{float:right!important;clear:right;}
.image_wrap{float:left;width:104px;height:98px;background:url(/pics/site/feature_bg.png) top left no-repeat;}
.image_feature_project{float:left;width:225px;height:168px;background:url(/pics/site/project_bg.png) top left no-repeat;}
.image_feature_project img{margin-top:7px;margin-left:11px;}
.image_wrap img{margin-top:6px;margin-left:6px;margin-bottom:20px;}
.feature_title{font-size:15px;line-height:17px;padding-top:5px;}
.feature_date{font-size:11px;color:#808080;margin-bottom:3px;}
.frontpage_date_margin{margin-bottom:10px;}
.feature_content{font-size:12px;line-height:16px;color:#808080;overflow:hidden;}
.feature_content p{display:inline;}
.feature_content a{color:#3a7dbe;}
.feature_content h1,.feature_content h2,.feature_content h3,.feature_content h4,.feature_content h5,.feature_content h6{font-size:12px;font-weight:normal;display:none;}
.feature_content li,.feature_content ul,.feature_content ol,.feature_content em{list-style:none;font-size:12px;line-height:16px;display:inline;}
.feature_content blockquote{display:inline;}
.feature_content br,.feature_content table,.feature_content code{display:none;}
.feature_item_link{display:block;text-decoration:none;color:#000;}
.feature_item_link:hover{color:#3a7dbe!important;}
.feature_item_link:hover .feature_content{color:#3a7dbe;}
.feature_item_link:hover .feature_date{color:#3a7dbe;}
.feature_content_wrap{padding-left:113px;}
.feature_frontpage_wrap{padding-left:240px;padding-top:10px;}
.feature_content_wrap.no_image{padding-left:5px;}
.feature_comment{float:right;font-size:11px;color:#808080;padding-right:20px;}
li.b1-hover{color:#3a7dbe!important;}
li.bl-hover .feature_date{color:#3a7dbe;}
.extreme_link {color: #000;}
.extreme_link:hover, li.bl-hover a{color:#3a7dbe;}
li.bl-hover .feature_content{color:#3a7dbe;}
li.bl-hover .feature_comment{color:#3a7dbe;}
li.bl-hover .feature_date{color:#3a7dbe;}
.top_nav { color: #ECECEC; font-size:11px; float:right; text-decoration: none;}
.top_nav:hover { text-decoration: underline; }
.news_tags li {padding: 0; margin: 0; }
.news_tags li .x{ display: block;}

.exc_ads {
	padding:0 0 0 17px;
}
.pads {
    padding: 0 10px;
}
.cat_title {
	margin: 0 0 15px;
	padding:6px 10px;
	color: #FFF;
	font-size:16px;
	letter-spacing:1px;
	line-height:20px;
	background:#3A7DBE;
}
.categories_wrap {
	width:354px;
}
.colA {
	float: left;
	width: 354px;
}
.colB {
	float: right;
	width: 354px;
}
.fet_return {
    color: #808080;
    float: left;
    font-size: 11px;
    padding-right: 20px;
}
.feature_articles .feature_item {
    display: inherit;
    margin: 0 0 8px;
    padding: 0;
    overflow: visible;
    width: 354px;
}
.no_image h2 {
   font-size: 12px;
   font-weight: normal;
   text-decoration: underline;
}