/* Sidebar */
.sidebar{width:300px;float:right;display:inline;position:relative;padding-right:5px;margin:0 0 26px 0;background-color:#fff;}
.sidebar ul{list-style:none;float:left;}
.sidebar li{color:#000;font-size:12px;line-height:22px;float:left;}
.sidebar li a{text-transform:capitalize;font-size:12px;line-height:22px;color:#000;padding-right:10px;text-decoration:none;display:block;width:158px;}
.sidebar li a:hover{background-color:#f2f2f2;}
.sidebar li a span{color:#3a7dbe;}
.sidebar_title{float:left;font-size:15px;line-height:23px;color:#3a7dbe;font-weight:400;background-color:#fff;font-weight:700;text-transform:uppercase;}
.sidebar_subtitle{font-size:12px;color:#000;padding-left:10px;text-transform:uppercase;}
ul.sidebar_extra_margin{padding-bottom:10px;}
.sidebar_view_more{display:block;text-align:right;padding-right:10px;padding-bottom:15px;text-decoration:underline;color:#069;font-size:11px;}
.sidebar_view_more:hover{color:#000;}
.sidebar_container{width:305px;float:right;}

/* Images in answer */
.img_answer_wrapper{text-align:center;margin-bottom:20px;}
.answer_image_title{font-size:12px;line-height:14px;padding-top:3px;}
.answer_image_title span{font-style:italic;}

/* Center Content */
.center_content{width:546px;float:left;display:inline;position:relative;margin-right:15px;}
.center_content_w_line{width:642px;margin-left:10px;padding-left:0;float:left;display:inline;position:relative;margin-right:15px;}
.center_content_w_line ul{margin-left:20px;margin-bottom:10px;}
.center_content_w_line ul li{margin-bottom:1px;}
.featured_image{text-align:center;margin-bottom:20px;}
.featured_body p{margin-bottom:20px;}
.featured_body h5{font-size:12px;margin-bottom:10px;}
.featured_body a{color:#666;font-size:12px;}
.featured_body a:hover{color:#1c68b4;}
.sod_title_main{font-weight:400;font-size:18px;line-height:22px;}
.sod_title{font-size:11px;text-transform:uppercase;line-height:16px;font-weight:400;letter-spacing:1px;margin-bottom:10px;}
.sod_title2{font-size:11px;text-transform:uppercase;line-height:16px;font-weight:400;letter-spacing:1px;margin-bottom:0;}

/* View Wrapper */
.view_article{width:956px;margin-left:5px;float:left;display:inline;position:relative;margin-right:15px;}
h2.title{color:#3a7dbe;color:#424242;font-size:11px;font-weight:400;text-transform:uppercase;letter-spacing:1px;}
h2.title_bar{border-bottom:4px solid #e6e6e6;font-size:15px;line-height:26px;color:#3a7dbe;}

/* Pre_Next */
.previous_title{font-size:16px;font-weight:400;color:#424242;}
.prev_next_links{padding-right:32px;padding-top:10px;text-align:right;padding-bottom:20px;}
.prev_next_links a{text-decoration:none;font-size:14px;color:#424242;border:1px solid #ddd;}
.prev_next_links a:hover{background-color:#666;border:1px solid #666;color:#fff;}
.prev_link{float:left;margin-left:0;padding-left:10px;padding-right:10px;margin-right:5px;}
.next_link{float:left;padding-right:15px;padding-left:15px;margin-right:5px;}

/* Feature Item */
.feature_item{list-style:none;}
.feature_item .thumb_big_sum p{margin-bottom:0;}
.feature_item .thumb_big_bg{margin-right:15px;float:left;}
.feature_item .thumb_big_bg img{margin-top:7px;margin-left:0;border:1px solid #999;}
.feature_item .left{float:left!important;}
.feature_item .right{float:right!important;margin-left:20px;}
.feature_item .block{display:block!important;float:none!important;text-align:center!important;}
.feature_item .add_border{border:1px solid #ddd;}
.thumb_big_title a{font-size:14px;line-height:16px;font-weight:700;display:block;color:#000;text-decoration:none;padding-top:8px;padding-bottom:0;}
.thumb_big_title{font-size:18px;line-height:22px;color:#000;font-weight:400;}
.date_posted{font-size:12px;color:gray;font-style:italic;margin-bottom:20px;}
.date_posted2{font-size:11px;color:gray;font-style:italic;margin-bottom:5px;}
.feature_item li.bl-hover .thumb_big_sum{color:#3a7dbe;}
.feature_item li.bl-hover .date_posted2{color:#3a7dbe;}
.feature_item li.bl-hover .thumb_big_title a{color:#3a7dbe;}
.feature_item li{margin-bottom:15px;}
.subportal_answers_list li.bl-hover a{text-decoration:underline;}
.thumb_big_sum{color:#666;font-size:12px;line-height:16px;}
.thumb_big_sum ul{margin-left:20px;margin-bottom:20px;}
.thumb_big_sum h3{font-size:14px;font-weight:700;margin-bottom:10px;}
.feature_content{padding-left:156px;}

/* Comments */
.comment_content_quiz{float:left;width:499px;}
.comment_content_quiz p{font-size:12px;line-height:18px;color:#666;margin-bottom:10px;}
.comment_content_quiz span{font-style:italic;font-weight:700;}
.comment_info_wrap{float:left;}

/* Breadcrumb */
.breadcrumb{padding-bottom:5px;padding-left:5px;color:gray;font-size:11px;}
.breadcrumb a{font-size:11px;color:gray;text-decoration:none;font-style:italic;}
.breadcrumb a:hover{text-decoration:underline;color:#1c68b4;}

/* See More */
.see_more{text-align:right;margin-right:20px;}
.see_more a{font-size:12px;text-decoration:none;color:#000;font-weight:700;}
.see_more a:hover{text-decoration:underline;}
.list_view a{font-weight:400;font-size:11px;}
.read_article{text-align:left;margin-right:20px;font-weight:700;}
.read_article a{font-size:13px;text-decoration:underline;color:#1c68b4;font-weight:400;}
.read_article a:hover{color:#000;}
.view_app_note{font-size:13px;line-height:24px;background-color:#3a7dbe;color:#fff;text-decoration:none;padding-left:10px;padding-right:10px;float:left;}
.view_app_note:hover{text-decoration:underline;}
.view_app_note_wrap{margin-bottom:20px;}

/* Sources */
.source_title{font-size:14px;font-weight:400;color:#1c68b4;font-family:georgia;}
.sources li{list-style:none;margin-left:0;}
.sources li a{font-size:12px;text-decoration:underline;color:#666;font-style:italic;}
.sources li a:hover{color:#1c68b4;}

/* Quiz */
.qa_title{font-weight:700;font-size:14px;margin-bottom:10px;}
.answer_title{color:#3a7dbe;}

/* tags */
.article_tags a{color:#666;font-size:12px;text-transform:capitalize;}
.article_tags a:hover{color:#1c68b4;}
.article_tags span{color:#1c68b4;font-family:georgia;font-size:14px;}
.article_tags{margin-bottom:40px;}

/* Ad Sidebar */
.c3{width:300px;text-align:center;float:right;display:inline;position:relative;}