/* Page structure */
.c1{float:left;display:inline;position:relative;width:334px;padding-right:20px;margin-left:10px;}
.c2{float:left;display:inline;position:relative;width:602px;}
.c2_break{margin-bottom:15px;}
.c2a{float:left;display:inline;position:relative;width:248px;padding-right:20px;}
.c2b{float:left;display:inline;position:relative;width:334px;}

/* Headers */
.section_title{font-size:20px;line-height:19px;color:#3A7DBE;}
.design_news_title{margin-bottom:16px;}
.item_title{font-size:16px;line-height:17px;color:#000;font-weight:700;}
.item_title a{text-decoration:none;color:#000;display:block;}

/* Pulse Magazine */
.pulse_fp_img{float:left;margin-right:15px;margin-left:3px;}
.pulse_fp_wrap{margin-bottom:20px;border-bottom:1px solid #ddd;position:relative;padding-bottom:10px;}
.pulse_fp_title{font-size:16px;line-height:18px;margin-bottom:5px;float:left;width:219px;padding-top:10px;}
.pulse_fp_title a{color:#000;text-decoration:none;}
.pulse_fp_button{float:left;padding-left:15px;padding-right:15px;text-decoration:none;height:24px;margin-right:5px;color:#4d4d4d;font-size:14px;line-height:24px;background-color:#f2f2f2;border:1px solid #ccc;}
.pulse_fp_button:hover{background-color:#3a7dbe;color:#fff;border:1px solid #3a7dbe;}
.pulse_fp_summary{margin-bottom:10px;color:gray;float:left;width:219px;}
.bl-hover h3 a,.bl-hover p{color:#1c68b4!important;}

/* Item Format */
.item_list{list-style:none;margin-bottom:0;}
.item{margin-bottom:20px;}
.item p{margin-bottom:0;}
.item_thumb{float:left;}
.item_thumb img{margin-left:0;margin-bottom:0;}
.thumb_w_border img{border:1px solid #ddd;}
.bl-hover .item_date,.bl-hover .item_summary,.bl-hover .item_title a{color:#1c68b4!important;}
.bl-hover .thumb_w_border img{border:1px solid #1c68b4;}
.item_summary{font-size:12px;line-height:15px;color:gray;}
.item_date{font-size:12px;font-style:italic;color:#696969;}

/* Quick Links */
.quick_link_wrap{margin-bottom:8px;}
.quick_link{font-size:12px;line-height:24px;border:1px solid #ccc;background-color:#f2f2f2;color:#424242;float:left;text-decoration:none;text-align:center;}
.quick_link:hover{background-color:#3a7dbe;color:#fff;border:1px solid #3a7dbe;}
.link_1,.link_2{margin-right:3px;}
.link_1,.link_3{width:102px;}
.link_2{width:116px;}

/* Feature sections */
.feature_text{font-size:12px;color:#424242;line-height:16px;border-top:none;padding:5px;padding-left:0;padding-right:10px;padding-top:0;margin-bottom:0;}
.feature_link{text-decoration:none;color:#242424;display:block;padding-top:5px;width:223px;}
.feature_link:hover{color:#1c68b4!important;}
.feature_title{font-size:13px;line-height:21px;color:#000!important;padding-top:5px;padding-bottom:2px;position:relative;}
.feature_image{display:block;}
.feature_image_w_border{border:1px solid #ddd;border-top:none;display:block;position:relative;}
.box_shadow{background:url(/pics/site/daily_feature_bg.png) top left no-repeat;padding-left:10px;padding-top:5px;width:238px;}
.box_shadow_footer{background:url(/pics/site/daily_feature_bg.png) bottom left no-repeat;height:15px;margin-bottom:10px;font-size:1px;}
.box_shadow_blue{background:url(/pics/site/daily_feature_BLUE_bg.png) top left no-repeat;padding-left:10px;padding-top:5px;width:238px;}
.box_shadow_blue a, .box_shadow_blue .feature_title, .box_shadow_blue a:hover {color: #FFF !important;}
.box_shadow_blue a:hover {text-decoration: underline;}
.box_shadow_blue_footer{background:url(/pics/site/daily_feature_BLUE_bg.png) bottom left no-repeat;height:15px;margin-bottom:10px;font-size:1px;}
.feature_img_w_border{position:relative;}
.feature_img_w_border a{display:block;}
.feature_img_w_border img{border:1px solid #999;display:block;}

/* Read More link */
.read_more_wrap{text-align:right;margin-bottom:20px;color:#b3b3b3;}
.read_more_link{color:#000;font-size:11px;font-weight:700;line-height:16px;text-decoration:none;}
.read_more_link:hover{color:#1c68b4;text-decoration:underline;}

/* Discussions */
.answer_title{font-size:13px;line-height:17px;font-weight:700;}
.answer_title a{color:#000;font-size:13px;line-height:17px;text-decoration:none;display:block;}
.answer_title a:hover{text-decoration:underline;color:#1c68b4;}
.bl-hover .answer_title a{color:#1c68b4!important;text-decoration:underline!important;}
.answer_date{float:right;}
.answer_replies{float:left;}
.less_margin{margin-bottom:0;padding-bottom:10px;}
.answer_info{font-size:11px;color:gray;}
.discussion_title{padding-bottom:16px;text-decoration:none;}
#eeweb_discussions{margin-bottom:5px;}

/* App Note */
.app_note_title{margin-bottom:10px;}
.app_thumb{float:left;margin-right:15px;/*border:1px solid #ddd;*/}
.app_title{font-size:16px;line-height:17px;padding-bottom:5px;}
.app_title a{text-decoration:none;}
.app_title a{color:#000;}
.app_sum{font-size:12px;color:gray;line-height:16px;padding-left:160px;}
.bl-hover .app_title a,.bl-hover .app_sum{color:#1c68b4!important;}
.bl-hover .app_thumb{/*border:1px solid #1c68b4;*/ }	
.bl-bigger img {   vertical-align:middle; border: 1px solid #ddd;}
.bl-bigger img:hover {   border: 1px solid #1C68B4;}
.app_thumb .bl-bigger img{
	vertical-align:top;    
}
/* Blog and Project items */
.condense h1,.condense h2,.condense h3,.condense h4,.condense h5,.condense h6{font-size:12px;font-weight:400;display:none;}
.condense ul,.condense ol{list-style:none;}
.condense p,.condense li{display:inline;}
.condense a{display:none;}

/* RTZ */
#rtz_text{margin-bottom:70px;margin-right:10px;margin-left:0;}
#comic_wrap{padding-top:0;padding-bottom:10px;border-bottom:1px solid #ddd;}
#comic_header{float:left;padding-top:0;padding-right:8px;}
#comic_pic,#comic_pic img{float:left;}

/* Job and Event Listings */
#job_listing_tab{display:inline;float:left;font-size:12px;line-height:24px;font-weight:700;width:110px;text-align:center;border-bottom:none;cursor:pointer;}
#event_listing_tab{display:inline;float:left;font-size:12px;line-height:24px;margin-right:3px;font-weight:700;text-align:center;border-bottom:none;width:131px;cursor:pointer;}
.hot_tab{background-color:#3a7dbe;color:#fff;border:1px solid #3a7dbe;}
.cold_tab{border:1px solid #ccc;color:#424242;background-color:#f2f2f2;}
.jobs_events{border:1px solid #3a7dbe;padding:10px;border-top:4px solid #3a7dbe;}
.widget_listings{list-style:none;margin-bottom:10px;}
.widget_listings li a{font-size:12px;line-height:14px;text-decoration:none;color:#424242;display:block;width:226px;}
.widget_listings li a:hover{text-decoration:underline;color:#1c68b4;}
.widget_listings li a:hover span{text-decoration:underline;color:#1c68b4;}
.widget_listings li{position:relative;font-size:12px;line-height:14px;margin-bottom:10px;padding-bottom:5px;border-bottom:1px dotted #ddd;}
#events_listings{display:none;}
.listing_date{font-size:11px;font-style:italic;color:gray;}
.see_more a{float:right;font-size:11px;line-height:18px;padding-left:5px;border:1px solid #ccc;padding-right:5px;color:#666;text-decoration:none;background-color:#f2f2f2;color:#424242;}
.see_more a:hover{background-color:#3a7dbe;color:#fff;border:1px solid #3a7dbe;}
.sep{float:right;color:#666;padding-left:5px;padding-right:5px;font-size:11px;line-height:14px;}
.see_more_1{margin-right:3px;}
.see_more_link{font-weight:700;}