#event_listing_tab {
    border-bottom: medium none;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 3px;
    text-align: center;
    width: 131px;
}
#job_listing_tab {
    border-bottom: medium none;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 110px;
}
.hot_tab {
    background-color: #3A7DBE;
    border: 1px solid #3A7DBE;
    color: #FFF;
}
.cold_tab {
    background-color: #F2F2F2;
    border: 1px solid #CCC;
    color: #424242;
}
.jobs_events {
    border-color: #3A7DBE;
    border-right: 1px solid #3A7DBE;
    border-style: solid;
    border-width: 4px 1px 1px;
    padding: 10px 0;
}
#events_listings {
    display: none;
}