/* Profile Bar */
#profile_bg{float:left;margin-left:2px;margin-bottom:5px;width:167px;height:167px;position:relative;background:url(/pics/site/profile_bg.png) top left no-repeat;}
#profile_bg img{padding-top:2px;padding-left:2px;}
/*.profile_bar{background:#f2f2f2 url(/pics/site/profile_grad.png) top left repeat-x;padding:15px;padding-top:0;margin-left:10px;width:170px;margin-right:10px;float:left;display:inline;position:relative;}*/
.profile_bar{display:block;padding:15px;position:relative;padding:20px;}
.profile_bar li{list-style:none;color:#4d4d4d;font-size:12px;}
.profile_bar a.profile_link{display:block;color:#4d4d4d;}
.profile_bar a.profile_link:hover{color:#1c68b4;}
.profile_bar blockquote{font-size:12px;color:#4d4d4d;font-style:italic;padding-bottom:5px;}
.profile_bar h3{font-size:13px;line-height:18px;font-weight:400;color:#4d4d4d;text-transform:uppercase;font-weight:700;}
.profile_bar h1,.profile_bar h2{font-size:22px;line-height:24px;color:#000;font-weight:400;}
.profile_bar ul{margin-bottom:20px;}
.profile_bar p.title{font-size:12px;line-height:16px;color:#000;margin-bottom:10px;text-transform:uppercase;}
.profile_center{text-align:center;}
.profile_bar a.button_format{display:block;background-color:#ccc;border:1px solid #b3b3b3;text-align:center;line-height:25px;color:#1a1a1a;padding-left:10px;padding-right:10px;margin-top:10px;margin-left:10px;margin-right:10px;text-decoration:none;border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;}
.profile_bar a.button_format:hover{text-decoration:underline;}
.profile_bar .profile_summary{margin-bottom:20px;font-size:12px;line-height:16px;color:#4d4d4d;font-style:italic;}
.profile_bar .quote_author{text-align:right;font-size:11px;color:#4d4d4d;}
.extra_margin{margin-bottom:20px;word-wrap:break-word;}
.eeweb_stats li{font-style:italic;}
.eeweb_stats a{color:#4d4d4d;font-style:italic;text-decoration:none;}
.eeweb_stats a:hover{color:#1c68b4;}
.interest_links a{color:#4d4d4d;text-decoration:none;display:inline;text-decoration:underline;font-size:12px;}
.interest_links a:hover{color:#1c68b4;}
.profile_bar_i{float:left;width:172px;min-height:270px;padding:15px;position:relative;padding:20px;background:#f2f2f2;}
.profile_cont{
	margin:0 0 25px;
	background:#E6E6E6;
}
.profile-col{
	position:relative;
	float:left;
	width:755px;
	margin-left:12px;
	text-align:left;
}
div.height{
	padding:0 0 8px;
	margin-bottom:10px;
	border-bottom:2px solid #FFF;
}
.profile-col-a,.profile-col-b,.profile-col-c,.profile-col-d,.profile-col-e{
	float:left;
    width:164px;
	padding:0 12px;
	text-align:left;
}

/* Profile Body */
.profile_body{width:976px;float:left;display:inline;position:relative;}
.profile_body_entry{width:746px;float:left;display:inline;position:relative;}
#member_home_button{display:inline;background:url(/pics/site/house.gif) 9px 5px no-repeat;height:26px;padding-left:30px!important;padding-right:15px!important;}
#member_home_button:hover{text-decoration:none;}
#profile_header{float:left;display:inline;position:relative;padding-bottom:0;margin-bottom:3px;}
#profile_header ul.prof_menu{list-style:none;font-size:0;margin-bottom:3px;}
#profile_header ul.prof_menu li{display:inline-block;margin:0 2px 0 0;padding:0;}
#profile_header ul.prof_menu li:last-child{margin-right:0;}
#profile_header ul.prof_menu li a{display:block;font-size:13px;line-height:26px;background-color:#3A7DBE;text-transform:uppercase;padding-right:20px;padding-left:20px;margin:0;}
#profile_header ul.prof_menu li.active_page{background-color:#a4a4a4;}
#profile_header ul.prof_menu li.active_page a{color:#4d4d4d;}
#profile_header ul.prof_menu li.active_page a:hover{text-decoration:none;}
#profile_header ul.prof_menu li a{color:#fff;text-decoration:none;}
#profile_header ul.prof_menu li a:hover{text-decoration:underline;}

/* Forms */
.field_instructions{padding-bottom:0;font-weight:400;color:#666;}

/* Profile Body Content */
.profile_body_content{width:646px !important;float:left;padding-left:10px;padding-right:10px;}
.profile_body_content h4 a{font-size:14px;font-weight:700;line-height:18px;color:#000;text-decoration:none;}
.profile_body_content h4{margin-bottom:3px;}
.profile_body_content h4 a:hover{text-decoration:underline;}
.profile_body_content .no_results{font-style:italic;margin-bottom:20px;}
.profile_body_content .entry_date{text-align:right;font-size:11px;font-style:italic;color:gray;font-family:georgia;margin-bottom:10px;}
.profile_body_content .body_summary{margin-bottom:5px;}
.profile_body_content .button_wrap{text-align:right;margin-bottom:10px;}
.profile_body_content .button_format{float:right;background-color:#f2f2f2;border:1px solid #ccc;line-height:25px;color:#1a1a1a;padding-left:10px;padding-right:10px;text-decoration:none;}
.profile_body_content .button_format:hover{text-decoration:underline;}
.profile_body_content blockquote{font-style:italic;padding-left:20px;}
.profile_body_content h5.add_line{border-bottom:1px solid #ccc;color:#b3b3b3;font-size:14px;line-height:18px;margin-bottom:5px;}
.profile_body_content ul,.profile_body_content ol{margin-left:20px;margin-bottom:20px;}
.profile_body_content table td{border:1px solid #ccc;padding-left:5px;padding-right:5px;}
.profile_body_content table th{color:#fff;background-color:#000;padding-left:5px;padding-right:5px;border:1px solid #000;}
.profile_body_content table{margin-bottom:20px;}

/* Featured Member Ad */
.featured_member_ad{border:1px solid #ccc;padding:8px;padding-bottom:4px;margin-bottom:10px;}
.featured_member_ad img{float:left;margin-right:8px;}
.featured_member_ad_title a{text-decoration:none;color:#000;font-size:16px;line-height:22px;}
.featured_member_ad_description{color:#666;font-size:12px;line-height:16px;margin-bottom:0;}
.ad_read_more{color:#333;font-size:11px;margin-bottom:0;float:right;}

/* Hover */
.bl-hover .featured_member_ad_title{color:#3a7dbe;}
.bl-hover .featured_member_ad_description{color:#3a7dbe;}
.bl-hover .ad_read_more{color:#3a7dbe;}

/* Image Label */
.featured_title_bg{position:absolute;left:2px;float:left;top:141px;width:159px;font-size:10px!important;text-align:center;color:#fff!important;line-height:20px!important;background-color:#3A7DBE;}

/* Blog Page */
.blog_entry .blog_title{line-height:26px;margin-bottom:0;}
.blog_entry .blog_title.alternate{color:#333;font-size:20px;line-height:24px;text-decoration:none;font-weight:400;padding-bottom:0;text-transform:none;}
.blog_entry .blog_title.alternate a{color:#333;font-size:20px;line-height:24px;text-decoration:none;font-weight:400;text-transform:none;display:block;}
.blog_entry .blog_title.alternate a:hover{text-decoration:underline;color:#1c68b4;}
.blog_entry .blog_title.listview a{color:#333;font-size:16px;line-height:24px;text-decoration:none;font-weight:700;}
.blog_entry .blog_title.listview{padding-bottom:0;}
.blog_entry .blog_entry_date{margin-bottom:20px;font-style:italic;color:#999;font-size:13px;line-height:16px;}
a.edit_entry_link{float:left;color:#3A7DBE!important;font-size:11px;padding-left:5px;padding-right:5px;text-decoration:none;}
a.edit_entry_link:hover{text-decoration:underline;}
.posted_date{float:left;font-size:11px;}
h3.blog_title_header{float:left;line-height:28px;font-size:12px;padding-right:5px;font-weight:700;color:#242424;text-transform:uppercase; }
.blog_title_header a{color:#000;text-decoration:none;}
.blog_title_header_wrap{background-color:#e6e6e6;margin-bottom:20px;padding-left:10px;}
.blog_header_links{float:left;font-size:12px;line-height:13px;margin-top:7px;color:#242424;padding-left:8px;padding-right:8px;text-decoration:none;border-right:1px solid #b3b3b3;}
.blog_header_links:hover{text-decoration:underline;}
.blog_header_links.last{border-right:none;}
.blog_header_links.active{font-weight:700;}
.blog_header_links.active:hover{text-decoration:none;}
.blog_entry .blog_read_more{padding-right:10px;margin-bottom:40px;border-bottom:1px solid #ccc;padding-bottom:2px;}
.blog_entry .read_more{float:left;font-size:12px;line-height:14px;}
.blog_entry .blog_read_more a{color:#3A7DBE;text-transform:uppercase;text-decoration:none;font-size:11px;line-height:14px;}
.form_data.blog_entry_form{padding-left:0;padding-top:0;}
.form_data .blog_entry_input{width:500px;}
.form_data .submit{padding-left:25px;padding-right:25px;}
.blog_tags{float:right;color:#000;font-size:11px;line-height:14px;}
.blog_comment_number{float:right;padding-left:10px;font-size:12px;line-height:14px;}
#profile_blog_body ul,#profile_blog_body ol{padding-left:40px;}
.blog_image_wrapper{text-align:center;margin-bottom:20px;}
.blog_thumb img{border:1px solid #ccc;padding:5px;margin-bottom:5px;}
.blog_thumb img:hover{border:1px solid #1c68b4;}
.blog_image_title{color:#666;font-weight:400;font-size:14px;line-height:14px;margin-bottom:20px;}
.blog_image_title span{font-style:italic;font-weight:700;}
.blog_entry_form .helper_text{font-size:12px;color:#666;line-height:14px;margin-bottom:20px;font-style:italic;padding-left:10px;}

/* Blog Entry Formatting */
.blog_entry h1{font-size:14px;padding-bottom:10px;line-height:18px;color:#333;text-transform:uppercase;font-weight:700;}
.blog_entry h2{font-size:12px;padding-bottom:10px;line-height:18px;color:#333;text-transform:uppercase;font-weight:700;}
.blog_entry h3,.blog_entry h4,.blog_entry h5,.blog_entry h6{font-size:12px;padding-bottom:10px;line-height:14px;color:#333;font-weight:700;}
.blog_entry a{color:#3A7DBE;}
.blog_entry blockquote{margin-left:20px;border-left:5px solid #ccc;background-color:#f2f2f2;padding-top:10px;margin-bottom:20px;}
.blog_entry table{margin:0 auto;margin-bottom:20px;}
.blog_entry p{width:100% !important;}

/*Contact Form */
.contact_form{margin-left:10px;}
.contact_form h2{font-weight:400;color:#3A7DBE;}
.contact_form h3{color:#3A7DBE;font-weight:400;text-transform:uppercase;}

/* Sidebar */
#side_bar{margin-left:10px;width:300px;text-align:center;float:right;display:inline;position:relative;}

/* Show Following */
.following_list{margin-left:16px;padding-top:10px;list-style:none;}
.following_body{padding-left:5px;}
.following_body h2{font-weight:400;color:#3A7DBE;text-transform:uppercase;}
.following_list li.bl-hover a{color:#1c68b4;}
.follow_name{display:block;font-size:13px;line-height:16px;padding-top:10px;}
.follow_image{float:left;padding-right:10px;}
.you_are_following{position:absolute;top:0;right:0;width:100px;padding:5px;font-size:12px;line-height:14px;text-align:center;background:#3A7DBE;}
.you_are_following a{color:#FFF;font-weight:700;text-decoration:none;}
.members_following_title{font-weight:400;font-size:14px;text-align:center;margin-bottom:10px;text-transform:uppercase;}
.user_name h1{width:600px;color:#3E7FBF;font-size:19px;}
.user_title{width:600px;color:#555;}

.you_are_following_i{
    font-size:12px;
    line-height:14px;
    margin-bottom:10px;
    text-align:center;
}
.you_are_following_i a{
    color: #4D4D4D;
    font-weight: 700;
    text-decoration: underline;
}

/* Follow */
.following_format{margin-left:5px;}
.following_format h3{font-weight:400;margin-bottom:10px;}

/*Resume Page*/
.resume_format h3{font-size:18px;line-height:22px;font-weight:400;border-bottom:1px solid #ccc;margin-bottom:10px;color:#3A7DBE;text-transform:uppercase;}
.resume_format h4{font-size:14px;}
.resume_format h5{font-size:14px;font-weight:400;}
.resume_format h4.date{font-weight:400;font-size:12px;font-family:courier;text-transform:uppercase;}
.resume_format{width:516px;float:left;display:inline;padding-left:10px;padding-right:10px;position:relative;}
.resume_format .resume_section{margin-bottom:40px;}

/* Activity Page */
.activity_image{float:left;padding-right:10px;}
.activity_content{float:left;width:580px;}
.activity_content h1,.activity_content h2,.activity_content h3,.activity_content h4,.activity_content h5,.activity_content h6{margin-bottom:10px;font-size:12px;text-transform:none!important;color:#666;font-weight:700!important;}
.activity_content.wide{display:block;width:100%;margin-bottom:20px;}
.activity_listing p{margin-bottom:5px;padding-bottom:5px;font-size:12px;color:#666;}
.activity_listing li{font-size:12px;color:#666;line-height:18px;}
.activity_listing ul{margin-bottom:10px;}
.activity_listing{margin-bottom:20px;}
.activity_info{font-size:11px;color:#333;margin-bottom:5px;float:left;}
.activity_info a{color:#333;}
.activity_info a:hover{color:#3A7DBE;}
.activity_comment_score{float:right;font-size:11px;}
.activity_comment{float:right;font-size:11px;}
.activity_comment a{text-decoration:underline;color:#000;}
.activity_comment a:hover{color:#3A7DBE;}
.activity_date{font-style:italic;font-weight:400;font-size:11px;margin-bottom:5px;}
.profile_topbar h4{font-size:16px;line-height:26px;float:left;padding-left:10px;font-weight:400;}
.profile_topbar a{float:right;color:#000;font-size:12px;line-height:24px;text-decoration:none;padding-right:5px;}
.profile_topbar a:hover{text-decoration:underline;}
.profile_topbar{background-color:#ccc;margin-bottom:10px;}
.activity_title a{font-size:15px;font-weight:400;text-transform:uppercase!important;display:block;}
.activity_title a:hover{color:#1c68b4;}
.activity_title{margin-bottom:0!important;}

/* Profile Full Wrap */
.profile_full_wrap .profile_name_email label{;padding-bottom:10px;}
.profile_full_wrap{width:755px;min-height:400px;padding:0px;float:right;display:inline;position:relative;}
.profile_full_wrap .profile_edit_header{font-size:14px;line-height:22px;font-weight:700;margin-bottom:10px;color:#3A7DBE;text-transform:uppercase;margin-top:5px;margin-bottom:10px;}
.profile_full_wrap label{font-weight:400;float:left;font-weight:700;text-align:left;padding-right:20px;padding-bottom:5px;padding-left:0;font-size:14px;}
.profile_full_wrap .data{float:left;font-style:italic;}
.profile_full_wrap .profile_spacer{margin-bottom:10px;}
.profile_full_wrap input.input_wide{width:520px;border:1px solid #b3b3b3;padding:5px;margin-left:20px;}
.profile_full_wrap textarea.input_wide{width:520px;border:1px solid #b3b3b3;padding:5px;margin-left:20px;}
.profile_full_wrap .helper_text{font-size:12px;color:#666;line-height:14px;margin-bottom:20px;font-style:italic;padding-left:20px;}
.profile_field_wrap{margin-bottom:30px;}
.profile_full_wrap .profile_link{font-style:normal;color:#1c68b4;}

/* SAEF */
#profile_blog_body{padding:10px;}
.ff_matrix textarea{font-size:11px!important;}

/* Comments */
h2.comments_title{margin-bottom:10px;font-size:14px;font-weight:700;}
.comment_wrap{margin-bottom:20px;}
.comment_content{float:left;width:468px;}
.comment_wrap a{color:#3A7DBE;}
.comment_content p{font-size:12px;line-height:18px;color:#666;margin-bottom:10px;}
.comment_content span{font-style:italic;font-weight:700;}
.comment_info{font-size:12px;line-height:16px;font-weight:700;}
.comment_info a{text-decoration:none;}
.comment_info a:hover{text-decoration:underline;}
.comment_image{float:left;padding-right:8px;}
.score_label{float:right;}
.score_value{float:right;padding-right:10px;}
.vote_link_wrap{float:right;}
a.score_vote_link{float:right;padding-right:10px;text-decoration:underline;font-weight:400;}
a.score_vote_link:hover{color:#000;}
.comment_profile_wrap{padding-top:20px;}

/* technical author profile nameplates */
.events_article{border-right:none;}
.featured_members{margin-bottom:40px;}
.featured_members li{background:url(/pics/site/member.png) top left no-repeat;float:left;width:364px;height:109px;list-style:none;}
.featured_members li img{float:left;padding-right:10px;}
.featured_members .name a{font-size:16px;padding-top:3px;line-height:16px;padding-bottom:5px;display:block;}
.featured_members a{font-size:11px;line-height:13px;color:#000;text-decoration:none;}
.featured_members .name_title{margin-bottom:0;font-size:12px;line-height:12px;margin-bottom:0;text-transform:uppercase;font-weight:400;}
.featured_members .name_interests{font-size:11px;line-height:13px;padding-top:3px;text-transform:capitalize;}
.featured_members_padding{padding-top:14px;padding-left:15px;padding-right:15px;}
.community_title{font-size:18px;letter-spacing:1px;font-weight:400;color:#3a7dbe;line-height:20px;}
.community_title_sub{margin-bottom:10px;}
.community_title_sub span{font-weight:700;}

/* Hover */
li.b1-hover{color:#3a7dbe!important;}
li.bl-hover .feature_date{color:#3a7dbe;}
li.bl-hover .name a{color:#3a7dbe;}
li.bl-hover .name_title{color:#3a7dbe;}
li.bl-hover .name_interests{color:#3a7dbe;}