.static_style h3{margin-bottom:10px;font-weight:normal;color:#333;}
.static_style h4{font-size:13px;font-weight:bold;}
.static_style ul{margin-left:20px;margin-bottom:15px;}
.static_style p{margin-bottom:15px;line-height:21px;color:#333;}
.static_style h1{margin-bottom:20px;font-size:40px;line-height:40px;color:#242424;}
.static_style h2{font-size:20px;margin-bottom:10px;color:#242424;}
.static_style a{color:#1c68b4;}
.static_sidebar{width:249px;float:left;}
.static_body{margin-left:10px;width:671px;margin-right:15px;padding-right:20px;float:left;display:inline;position:relative;border-right:1px solid #d2d2d2;}
.static_style .button_link{display:block;margin:0 auto;text-align:center;font-weight:bold;width:180px;color:#666!important;background-color:#fff;font-size:14px;text-decoration:none;line-height:26px;border:1px solid #999;}
.static_style .button_link:hover{background-color:#1c68b4;color:#fff!important;border:1px solid #1c68b4;}
.pulse_img_wrapper{position:relative;text-align:center;margin-top:10px;margin-bottom:20px;}
.pulse_image{float:left;margin-bottom:5px;}
.pulse_button{margin-bottom:0!important;float:left;display:block;height:28px;font-size:16px;color:#fff!important;background-color:#666;line-height:28px;text-decoration:none;text-align:center;}
.pulse_button:hover{background-color:#555;color:#fff!important;}
.pulse_summary{padding-right:40px;margin-bottom:20px;}
.pulse_header{margin-bottom:8px!important;}
.pulse_wrapper{width:304px;float:left;margin-left:50px;margin-right:20px;margin-bottom:40px;border:1px solid #ccc;padding:10px;}
.pulse_summary ul{list-style:none;}
.pulse_summary ul li{margin-bottom:10px;}
.pulse_summary h3{font-size:14px;font-weight:bold;line-height:18px;margin-bottom:0;color:#333;}
.pulse_summary p{line-height:18px;}
.pulse_button_1{width:149px;margin-left:0;margin-bottom:5px!important;}
.pulse_button_2{width:149px;}
.pulse_button_3{width:98px;height:61px;float:right;line-height:61px;background:#666 url(/pics/site/subscribe.png) 20px 20px no-repeat;text-align:left;padding-left:52px;}
.pulse_title{position:relative;margin-bottom:0!important;padding-top:10px;}
.pulse_sub_title{margin-bottom:20px;font-style:italic;}
.pulse_title_wrapper{margin-top:10px;}