/* Center Content */
.content_body{width:626px;margin-left:10px;float:left;display:inline;position:relative;padding-right:21px;border-right:1px solid #ddd;}
.spotlight_body p{text-align:justify;}
.sidebar_full{width:250px;float:left;display:inline;position:relative;padding-left:15px;border-left:1px solid #ddd;margin-left:-1px;}

/* Title */
.spotlight_title{font-size:18px;letter-spacing:1px;font-weight:normal;color:#3a7dbe;line-height:20px;margin-bottom:3px;}
#rtz_text{margin-left:5px;}
.comic_title_wrap{margin-bottom:0;}
.prev_next_links{padding-right:32px;padding-top:10px;text-align:right;padding-bottom:20px;}
.prev_next_links a{text-decoration:none;font-size:16px;color:#424242;border:1px solid #ddd;}
.prev_next_links a:hover{background-color:#666;border:1px solid #666;color:#fff;}
.prev_link{float:left;margin-left:0;padding-left:10px;padding-right:10px;margin-right:5px;}
.next_link{float:left;padding-right:15px;padding-left:15px;}
.section_title_main{font-size:24px;line-height:26px;color:#1c68b4;margin-bottom:10px;font-weight:normal;letter-spacing:1px;}
.section_title{border-bottom:1px solid #ddd;font-size:20px;line-height:26px;font-family:georgia;padding-left:0;color:#333;margin-bottom:10px;font-weight:normal;}
.previous_entries{list-style:none;}
.previous_entries li{width:300px;}
.previous_entries li a{display:block;color:#666;font-size:13px;line-height:24px;padding-left:0;text-decoration:underline;}
.previous_entries li a:hover{color:#000;}
.hot_link{font-weight:bold;color:#1C68B4!important;}
.spotlight_name{padding:5px 40px;font-size:24px;font-weight:normal;text-align:center;line-height:26px;background:#ddd;}
.spotlight_subtitle{padding:0 40px 5px;text-align:center;background:#ddd;}
.spotlight_body ul{margin-left:20px;margin-bottom:20px;}
.spotlight_body h3{line-height:22px;font-weight:bold;font-size:18px;}
.spotlight_body a{color:#1C68B4;}
.spotlight_profile_link a:link{text-decoration:underline;color:#1C68B4;}
.spotlight_profile_link a:visited{color:#1C68B4;}

/* Spotlight Image */
.spotlight_wrapper{padding:10px 0;text-align:center;background:#EEE;}
.spotlight_wrapper img{border:1px solid #FFF;}