.static_style h3{color: #444;font-weight: bold;font-size: 14px;margin-bottom: 5px;}
.static_style h3.underline{border-bottom: 1px solid #ddd;}
.static_style h4{margin-bottom:5px;margin-top:10px;font-size:13px;font-weight:bold;}
.static_style ul{margin-left:20px;margin-bottom:15px;}
.static_style p{margin-bottom:15px;line-height:21px;color:#555;}
.static_style h1{color: #3a7dbe;font-size: 22px;font-weight: 700;text-decoration: none;}
.static_style h2{font-size:18px;margin-bottom:10px;color:#242424;}
.static_style a{color:#1c68b4;text-decoration:none;}
.static_style a:hover{text-decoration:underline;}
.static_sidebar{width:249px;float:left;}
.static_body{margin-left:10px;width:671px;margin-right:15px;padding-right:20px;float:left;display:inline;position:relative;border-right:1px solid #d2d2d2;}
.static_style .button_link{display:block;margin:0 auto;text-align:center;font-weight:bold;width:180px;color:#666!important;background-color:#fff;font-size:14px;text-decoration:none;line-height:26px;border:1px solid #999;}
.static_style .button_link:hover{background-color:#1c68b4;color:#fff!important;border:1px solid #1c68b4;}