/* Sidebar */
.sidebar{width:100%;padding:0 0 0 0;float:right;display:inline;position:relative;background-color:#fff;}
.sidebar ul{list-style:none;padding-bottom:0;}
.sidebar li{color:#000;font-size:12px;line-height:14px;margin-bottom:8px;}
.sidebar li a{font-size:11px;line-height:14px;color:#000;padding-right:10px;text-decoration:none;display:block;width:250px;}
.sidebar li a:hover{text-decoration:underline;}
.sidebar_title{font-size:15px;line-height:23px;color:#3a7dbe;font-weight:normal;background-color:#fff;font-weight:bold;text-transform:uppercase;}
.sidebar_subtitle{font-size:12px;color:#000;text-transform:uppercase;}
ul.sidebar_extra_margin{padding-bottom:10px;}
ul.tools li{margin-bottom:2px;}
ul.tools li a{font-size:11px;}
.sidebar_view_more{display:block;text-align:right;padding-right:10px;padding-bottom:15px;text-decoration:underline;color:#069;font-size:11px;}
.sidebar_view_more:hover{color:#000;}

/* Center Content */
.center_content{width:546px;float:left;display:inline;position:relative;margin-right:15px;}
.center_content_w_line{width:643px;padding-left:15px;float:left;display:inline;position:relative;margin-right:15px;}
h2.title{color:#3a7dbe;font-weight:200;}
h2.title_bar{background-color:#3a7dbe;font-size:15px;line-height:26px;color:#fff;font-weight:normal;padding-left:10px;margin-bottom:10px;}

/* Answers Subportal */
.subportal_answers_buttons{width:140px;float:left;}
.subportal_answers_buttons a{display:block;background-color:#f2f2f2;font-size:12px;font-weight:bold;border:1px solid #999;line-height:24px;color:#666;text-decoration:none;text-align:center;margin-bottom:5px;}
.subportal_answers_buttons a:hover{color:#fff;background-color:#3a7dbe;border:1px solid #3a7dbe;}
.subportal_answers_feed{width:78%;float:left;}
h6.subportal_answers_join{color:#3a7dbe;font-size:13px;text-align:center;}
.subportal_answers_list{list-style:none;padding-top:0;padding-left:5px;}
.subportal_answers_list li{padding-bottom:5px;padding-top:5px;padding-left:10px;}
.subportal_answers_list h4 a{font-size:13px;font-weight:bold;text-decoration:none;color:#000;display:block;}
.subportal_answers_list h4 a:hover{color:#3a7dbe;}
.answers_list_time{float:right;color:#808080;font-size:11px;padding-right:5px;}
.answers_list_stats{float:left;color:#808080;font-size:11px;}
.jtd{text-transform:uppercase;font-style:italic;padding-top:0!important;padding-bottom:0!important;}
.news_items{margin-bottom:10px;}
.news_items li{list-style:none;margin-bottom:10px;width:;}
.news_items li.bl-hover a{color:#3a7dbe;}
.news_items li.bl-hover .thumb_date{color:#3a7dbe;}
.news_items li.bl-hover .thumb_sum{color:#3a7dbe;}
.news_items li.one{float:left;clear:left;}
.news_items li.two{float:left;clear:left;}
.news_items li.one .thumb_title a{padding-right:10px;}
.news_items .thumb_bg{padding-right:10px;background:url(/pics/site/small_thumb.png) top left no-repeat;float:left;}
.news_items .thumb_bg img{margin-top:6px;margin-left:3px;}
.news_items .thumb_bg{background:transparent;width:auto;}
.news_items .thumb_title a{font-size:13px;line-height:16px;text-decoration:none;font-weight:bold;color:#000;padding-top:5px;display:block;}

.article_items{margin-bottom:10px;}
.article_items li{list-style:none;margin-bottom:10px;}
.article_items li.bl-hover a{color:#3a7dbe;}
.article_items li.bl-hover .thumb_date{color:#3a7dbe;}
.article_items li.bl-hover .thumb_sum{color:#3a7dbe;}
.article_items li.bl-hover .thumb_sum_full{color:#3a7dbe;}
.article_items li.one{float:left;clear:left; width:100%;}
.article_items li.two{float:left;clear:left; width:100%;}
.article_items li.two .thumb_sum{width:491px;}
.article_items .thumb_bg{padding-right:10px;background:url(/pics/site/small_thumb.png) top left no-repeat;float:left;}
.article_items .thumb_bg img{margin-top:6px;margin-left:3px;}
.article_items .thumb_bg{background:transparent;width:auto;}
.article_items .thumb_title a{font-size:13px;line-height:16px;text-decoration:none;font-weight:bold;color:#000;padding-top:5px;display:block;}

.thumb_date{font-size:11px;line-height:20px;color:#808080;text-align:left;padding-right:20px;font-style:italic;}
.extra_padding{padding-left:70px;}
.thumb_sum{font-size:12px;color:#808080;float:right;width:491px;}
.thumb_sum_full{width:auto;font-size:12px;color:#808080;}
.thumb_sum p{margin-bottom:0;}

/* Feature Item */
.feature_item{list-style:none;}
.feature_item .thumb_big_sum p{margin-bottom:10px;}
.feature_item .thumb_big_bg{margin-right:15px;float:left;margin-bottom:10px;}
.feature_item .thumb_big_bg img{margin-top:7px;margin-left:0;}
.thumb_big_title a{font-size:14px;line-height:16px;display:block;color:#000;text-decoration:none;padding-top:10px;padding-bottom:5px;}
.feature_item li.bl-hover .thumb_big_sum{color:#3a7dbe;}
.feature_item li.bl-hover .thumb_big_title a{color:#3a7dbe;}
.subportal_answers_list li.bl-hover a{color:#3a7dbe;text-decoration:underline;}
.thumb_big_sum{color:#808080;font-size:12px;line-height:16px;}

/* See More */
.see_more{text-align:right;margin-right:20px;}
.see_more a{font-size:11px;text-decoration:none;color:#000;font-weight:bold;}
.see_more a:hover{text-decoration:underline;}

/* Ad Sidebar */
.c3{width:300px;text-align:center;float:left;display:inline;position:relative;}
.c3-i{float:left;width:300px;display:inline;position:relative;text-align:center;}
