.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* html .clearfix{zoom:1;} /* IE6 */
*:first-child+html .clearfix{zoom:1;} /* IE7 */

table td{border-top:1px solid #DDD;}
table th{background:#EDEDED;}
table th,table td{padding:10px 10px 9px;text-align:left;line-height:18px;}
h4{margin:5px 0;}
.navbar-form input, .navbar-form select{margin:0;}
/*.btn:hover{color:#FFF;}
.btn{padding:5px 10px;font-size:12px;text-shadow:none;color:#FFF;border:0;box-shadow:none;background:#497FB2; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled] {background-color:#13487C; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}*/

/*.btn:hover{color:#FFF;}*/
.btn{padding:5px 10px;font-size:12px;text-shadow:none;border:0;box-shadow:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled] { -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}


.padding{padding:10px;}
.row{margin:0;}
.zebra-striped tbody tr:nth-child(2n+1) td, .zebra-striped tbody tr:nth-child(2n+1) th{background-color:#F9F9F9;}
.widget-title{height:auto;}
.edit{margin:0;}
.delete{margin:0 0 0 4px;}
.pagination ul > li a{color:#3A7DBE;}
.btn-primary{ background: none repeat scroll 0 0 #3A7DBE;}
.btn-primary:hover{ background: none repeat scroll 0 0 #3A72BE;}