.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* html .clearfix{zoom:1;} /* IE6 */
*:first-child+html .clearfix{zoom:1;} /* IE7 */

table td {border-top:1px solid #DDD;}
table th{cursor:pointer;background:#EDEDED;}
table th:hover{color:#666;background:#DDD;}
table th,table td{padding:10px 10px 9px;text-align:left;line-height:18px;}
table.display thead th,table.display td {font-size:13px;}
div.dataTables_filter label{float:none;width:auto;}
div.dataTables_length select{width:65px;padding:3px;line-height:normal;text-indent:0.01px;text-overflow:"";border:1px solid #DDD;;background:#FFF url(/pics/up-down.png) 47px 5px no-repeat; -webkit-appearance:none; -moz-appearance:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
div.dataTables_wrapper{font-size:13px;}
a.btn-default,a.btn-default:hover{color:#FFF !important;text-decoration:none !important;}
a.btn-default:hover,.go:hover{background:#13487C; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
button.DTTT_button, div.DTTT_button, a.DTTT_button,button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover{padding:14px 18px;color:#FFF !important;border:0;box-shadow:none;background:#A5D16C;}
#header-container{text-align:center;}
#startDate,#endDate{margin:0 5px;}
.dataTable{background:#FFF;}
.datepicker{min-width:255px;}
.messageHolder{clear:both;display:none;padding:5px;text-align:center;color:#FFF;background:#ED4320;}
.btn:hover{color:#FFF;}
.btn-default{margin:0 10px;padding:5px 10px;font-size:12px;text-shadow:none;color:#FFF;border:0;box-shadow:none;background:#497FB2; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled] {background-color:#497FB2;}
.go{width:65px !important;margin:0 0 0 10px;}
.type{width:240px;height:25px;margin:0;padding:3px;line-height:normal;text-indent:0.01px;text-overflow:"";border:0;border-radius:0;border-width:0;background:#FFF url(/pics/up-down.png) 222px 4px no-repeat; -webkit-appearance:none; -moz-appearance:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.right{text-align:right}
.margin-b20{margin:0 0 20px;}
.padding{padding:10px;}
.color-DDD{background:#DDD;}
.color-blue{background:#3A7DBE;}
.row{margin:0;}
.zebra-striped tbody tr:nth-child(2n+1) td, .zebra-striped tbody tr:nth-child(2n+1) th{background-color:#F9F9F9;}
.widget-title{height:auto;}
.relative{position:relative;}