/* @license
 * MyFonts Webfont Build ID 2680942, 2013-11-04T11:31:17-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Riona Sans Black Italic by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/black-italic/
 * 
 * Webfont: Riona Sans Black by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/black/
 * 
 * Webfont: Riona Sans Bold Italic by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/bold-italic/
 * 
 * Webfont: Riona Sans Bold by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/bold/
 * 
 * Webfont: Riona Sans ExtraBlack Italic by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/extra-black-italic/
 * 
 * Webfont: Riona Sans ExtraBlack by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/extra-black/
 * 
 * Webfont: Riona Sans ExtraLight Italic by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/extra-light-italic/
 * 
 * Webfont: Riona Sans ExtraLight by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/extra-light/
 * 
 * Webfont: Riona Sans Light by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/light/
 * 
 * Webfont: Riona Sans Light Italic by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/light-italic/
 * 
 * Webfont: Riona Sans Medium by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/medium/
 * 
 * Webfont: Riona Sans Medium Italic by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/medium-italic/
 * 
 * Webfont: Riona Sans by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/regular/
 * 
 * Webfont: Riona Sans Italic by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/italic/
 * 
 * Webfont: Riona Sans Thin by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/thin/
 * 
 * Webfont: Riona Sans Thin Italic by Mika Melvas
 * URL: http://www.myfonts.com/fonts/mika-melvas/riona-sans/thin-italic/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2680942
 * Licensed pageviews: 250,000
 * ../webfonts copyright: Copyright (c) 2013 by Mika Melvas. All rights reserved.
 * 
 * © 2013 MyFonts Inc
*/

@import url("//hello.myfonts.net/count/28e86e");
@font-face {font-family: 'RionaSans-BlackItalic';src: url('../webfonts/28E86E_0_0.eot');src: url('../webfonts/28E86E_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_0_0.woff') format('woff'),url('../webfonts/28E86E_0_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Black';src: url('../webfonts/28E86E_1_0.eot');src: url('../webfonts/28E86E_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_1_0.woff') format('woff'),url('../webfonts/28E86E_1_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-BoldItalic';src: url('../webfonts/28E86E_2_0.eot');src: url('../webfonts/28E86E_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_2_0.woff') format('woff'),url('../webfonts/28E86E_2_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Bold';src: url('../webfonts/28E86E_3_0.eot');src: url('../webfonts/28E86E_3_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_3_0.woff') format('woff'),url('../webfonts/28E86E_3_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-ExtraBlackItalic';src: url('../webfonts/28E86E_4_0.eot');src: url('../webfonts/28E86E_4_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_4_0.woff') format('woff'),url('../webfonts/28E86E_4_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-ExtraBlack';src: url('../webfonts/28E86E_5_0.eot');src: url('../webfonts/28E86E_5_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_5_0.woff') format('woff'),url('../webfonts/28E86E_5_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-ExtraLightItalic';src: url('../webfonts/28E86E_6_0.eot');src: url('../webfonts/28E86E_6_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_6_0.woff') format('woff'),url('../webfonts/28E86E_6_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-ExtraLight';src: url('../webfonts/28E86E_7_0.eot');src: url('../webfonts/28E86E_7_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_7_0.woff') format('woff'),url('../webfonts/28E86E_7_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Light';src: url('../webfonts/28E86E_8_0.eot');src: url('../webfonts/28E86E_8_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_8_0.woff') format('woff'),url('../webfonts/28E86E_8_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-LightItalic';src: url('../webfonts/28E86E_9_0.eot');src: url('../webfonts/28E86E_9_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_9_0.woff') format('woff'),url('../webfonts/28E86E_9_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Medium';src: url('../webfonts/28E86E_A_0.eot');src: url('../webfonts/28E86E_A_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_A_0.woff') format('woff'),url('../webfonts/28E86E_A_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-MediumItalic';src: url('../webfonts/28E86E_B_0.eot');src: url('../webfonts/28E86E_B_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_B_0.woff') format('woff'),url('../webfonts/28E86E_B_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Regular';src: url('../webfonts/28E86E_C_0.eot');src: url('../webfonts/28E86E_C_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_C_0.woff') format('woff'),url('../webfonts/28E86E_C_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-RegularItalic';src: url('../webfonts/28E86E_D_0.eot');src: url('../webfonts/28E86E_D_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_D_0.woff') format('woff'),url('../webfonts/28E86E_D_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-Thin';src: url('../webfonts/28E86E_E_0.eot');src: url('../webfonts/28E86E_E_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_E_0.woff') format('woff'),url('../webfonts/28E86E_E_0.ttf') format('truetype');}
@font-face {font-family: 'RionaSans-ThinItalic';src: url('../webfonts/28E86E_F_0.eot');src: url('../webfonts/28E86E_F_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/28E86E_F_0.woff') format('woff'),url('../webfonts/28E86E_F_0.ttf') format('truetype');}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

*{margin:0;padding:0;}
img,fieldset{border:none;}
:focus{outline:none;}
body{font-family:'RionaSans-Regular',Arial,Helvetica,sans-serif;font-size:12px;line-height:16px;}
a{color:#FFF;text-decoration:none;}
a:hover{color:#0685C0;}
ul,ol{list-style:none;}

.marg-b{margin:0 0 85px;}
.marg-r{margin:0 22px 0 0;}

h1.hn{margin:0 0 20px;padding:0 0 10px;color:#a0a91d;font-size:30px;border-bottom:1px solid #a0a91d;}

.container{width:978px;margin:0 auto;padding:15px 0 20px;}
.cnt-container{position:relative;padding:228px 30px 30px;color:#FFF;background:#333;}
.top-img{margin:0 0 16px;text-align:center;}
.top-banner{position:absolute;top:14px;left:-10px;width:999px;height:181px;background:url(../../../pics/contest/axp/top-banner.png) no-repeat;}

.cont-winn{}
.winn-thumb{position:relative;float:left;width:428px;margin:0 22px 0 0;padding:10px;background:#FFF;}
.winn-thumb .winn-img{border:1px solid #555;background:#555;}
.winn-flag-g,.winn-flag-p{position:absolute;top:-44px;left:-28px;width:476px;height:44px;}
.winn-flag-g{background:url(../../../pics/contest/axp/flag-grand.png) no-repeat;}
.winn-flag-p{background:url(../../../pics/contest/axp/flag-place.png) no-repeat;}
.winn-thumb h1{margin:16px 40px 0;font-size:28px;text-transform:uppercase;text-shadow: 1px 1px 1px #333}
.winn-img a{display:block;height:292px;}
.winn-desc{float:left;width:448px;}
.winn-desc h2,.winn-desc-i h2{margin:8px 0;font-size:20px;font-weight:400;color:;}
.winn-desc h2 a,.winn-desc-i h2 a{color:#FBBD3F;}
.winn-desc h2 a:hover,.winn-desc-i h2 a:hover{text-decoration:underline;}
.winn-desc h3,.winn-desc-i h3{margin:0 0 8px;font-weight:normal;}
.winn-desc p,.winn-desc-i p{padding:8px 0;font-family:'RionaSans-Thin',Arial,Helvetica,sans-serif;font-size:14px;letter-spacing:.07em;line-height:21px;}

.hn-cl1{float:left;width:448px;}
.winn-thumb-i{width:428px;margin:0 0 20px;padding:10px;background:#FFF;}
.winn-thumb-i .winn-img{border:1px solid #555;background:#555;}

.footer{margin:20px 0 0;}
.contest-label{padding:17px;text-align:center;}
.contest-label p,.contest-label p.contest-copyr{font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;font-size:14px;color:#333;}