{embed="includes/head"}
{exp:string:set name="page_title"}ADI Reference Designs Library – ADI Designs{/exp:string:set}
{exp:string:set name="keywords"}ADI Designs, ADI Reference Designs, Analog Devices, Inc. Designs, ADI Datasheet, ADI msp430{/exp:string:set}
{exp:string:set name="description"}Schematics.com and Analog Devices, Inc. have teamed up to provide you with comprehensive designs that include schematics or block diagrams, BOMs, design files and test reports.{/exp:string:set}


<div class="ti-wrap clearfix">
    <h1>About ADI Reference Designs Library</h1>
    <p>Schematics.com and Analog Devices, Inc. have teamed up to provide you with comprehensive designs that include schematics or
        block diagrams, BOMs, design files and test reports. Created by experts with deep system and product knowledge
        these designs span ADI's portfolio of analog, embedded processor and connectivity products and supports a broad
        range of applications including industrial, automotive, consumer, medical and more.</p>

    <h2 class="title-h2">Featured Designs</h2>

    <ul class="featured-designs2 row clearfix">
        {exp:ti_designs:designs limit="3" status="f" orderby="updated_at" sort="asc" cache="yes" refresh="43800"}
        <li class="col-md-4">
            <div class="thumbs">
                <a href="{url}" target="_blank"><span class="thumb" id="{model_number}" style="background-image: url({image_url}) !important;"></span></a>
            </div>

            <h3><a href="{url}" target="_blank">{title}</a></h3>
        </li>
        {/exp:ti_designs:designs}
    </ul>

    <div class="container">
        <div class="appro-lists-wrap col-md-2">
            <div class="appro-lists-cont">
                <h2 class="title app"><a href="javascript:void(0);">Applications</a></h2>

                <div class="form-group">
                    <label class="control-label col-sm-12"></label>

                    <div class="checkbox-control clearfix">
                        <ul>
                            {exp:ti_designs:categories cache="yes" refresh="43800"}
                            <li style="display:block;float:none;width:100%;">
                                <input type="checkbox" id="{short_name}" name="category" value="{category}" class="checkbox">
                                <label class="labels" for="{short_name}">{category}</label>
                            </li>
                            {/exp:ti_designs:categories}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="results-list-wrap col-md-10" style="position: relative;">
            <div id="overlay" style="display: none;"></div>
            <img src="{site_url}pics/preloader.GIF" alt="preloader" id="preloader"/>
            <h2>Results (Filter using options on the left): </h2>
            {embed="includes/results"}
        </div>
    </div>
</div>
{exp:string:output cache="yes" refresh="43800"}
<script type="text/javascript">
    var xhr;
    !(function (t) {
        function a(l) {

            startLoader();
            var c = [];
            t("input[name='category']:checked").each(function () {
                c.push(t(this).val());
            });

            xhr && xhr.abort();
            xhr = $.get(l, {
                cat: c.join(","),
                csrf_token: "{csrf_token}",
                XID: "{csrf_token}",
                ie: (new Date()).getTime()
            }, function (data) {
                t('.design-list').html(data);
                r();
            });
        }

        function r() {
            stopLoader();
            t('li.page-link').unbind("click").click(function (o) {
                o.preventDefault();
                a(t(this).find('a').attr('href'));
            }), t("input[name='category']").unbind("click").click(function (o) {
                a("{site_url}includes/results");
            });
        }

        r();

        function stopLoader() {
            $("#overlay").hide();
            $("#preloader").hide();
        }

        function startLoader() {
            $("#overlay").css({
                display: 'block'
            });
            $("#preloader").css({
                display: 'block'
            });
        }

    })(jQuery);
</script>
{/exp:string:output}
{embed="includes/footer"}