/* ==========================================================================
   Base rules and defaults
   ========================================================================== */

body {
	font-size: @base_font_size;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}