/* ==========================================================================
   Color Palettes and Usages
   ========================================================================== */



/* ************************ */
/* Aspen Labs Color Palette */


/* Greens */

@light_green: rgba(167, 218, 204, 1);
@green: rgba(11, 188, 149, 1);
@dark_green: rgba(35, 122, 97, 1);
@darker_green: rgba(29, 86, 69, 1);


/* Blues */

@light_blue: rgba(172, 215, 229, 1);
@blue: rgba(41, 185, 204, 1);
@dark_blue: rgba(28, 128, 150, 1);
@darker_blue: rgba(32, 63, 71, 1);


/* Reds */

@light_red: rgba(249, 168, 149, 1);
@red: rgba(252, 120, 86, 1);
@dark_red: rgba(160, 82, 56, 1);
@darker_red: rgba(81, 46, 29, 1);


/* Yellows */

@light_yellow: rgba(255, 236, 184, 1);
@yellow: rgba(255, 218, 115, 1);
@dark_yellow: rgba(229, 181, 76, 1);
@darker_yellow: rgba(96, 76, 49, 1);

/* Purples */
@light_purple: rgba(196, 118, 147, 1);
@purple: rgba(179, 70, 110, 1);
@dark_purple: rgba(142, 37, 75, 1);
@darker_purple: rgba(95, 24, 50, 1);


/* Greys */

@white: rgba(255,255,255,1);
@light_grey: rgba(250, 250, 247, 1);
@grey: rgba(225, 225, 220, 1);
@dark_grey: rgba(175, 175, 170, 1);
@darker_grey: rgba(85, 85, 80, 1);




/* ******************* */
/* EEWeb Color Palette */

@eeweb_blue: rgba(77,137,195,1); 
@eeweb_dark_grey: rgba(74,74,74,1);
@eeweb_medium_grey: rgba(155,155,155,1);
@eeweb_light_grey: rgba(246,246,246,1);

@eeweb_accent: @eeweb_blue;
@eeweb_headline: @eeweb_dark_grey;
@eeweb_text: @eeweb_medium_grey;
@eeweb_background: @eeweb_light_grey;
