// REGISTRATION FORM STYLES

.registration-form{
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
	color: @eeweb_dark_grey;
	margin: 20px;
	background-color: @eeweb_light_grey;
	border-radius: 4px;
	.form-wrapper-left, 
	.form-wrapper-right {
		margin: 3em 4% -1em 4%;
		overflow: auto;
		.pure-radio {
			float: left;
			padding-left: 2px;
			margin-right: 1em;
		} 
	}
	[class*="pure-u"] { font-family: 'Helvetica Neue', sans-serif; }
	h2 {
		font-weight: 500;
		font-size: 2.8em;
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		display: block;
		text-align: center;
		width: 88%;
		padding: 30px 6%;
		margin: 0;
		background-color: @eeweb_blue;
		letter-spacing: normal;	
		-moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.18);
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.18);
		box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.18);
		color: white;
	}
	h3{ font-size: 2em; font-weight: normal; margin-bottom: 5px; margin-top: 0;}
	h4{ font-size: 1.4em; font-weight: normal; margin: 0 0 10px 0;}
	p{ 
		font-weight: 200; 
		color: @eeweb_medium_grey; 
		margin: 0 0 20px 0px; 
		&.form-info{ margin: 0 0 20px 25px; }
	}
	a{ 
		text-decoration: none;
		color: @eeweb_blue;
		&:hover{ text-decoration: underline; }
	}
	.dropdown select{
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		background: url('../img/dropdown_icon.png') no-repeat white;  /*Adds background-image*/
		background-position: 95% center;  /*Position of the background-image*/
		text-indent: 0.01px; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/
		option{
			border: 0;
			margin: 8px 0;
		}
	}
	.checkbox-group { margin-bottom: 30px; }
	//overriding form input and label styles
	label { font-size: 1.4em; margin: 0; }
	label.pure-checkbox { 
		font-size: 1em;
		color: @eeweb_medium_grey;
		margin: 16px 0;
		&.check-terms{  
			margin: 40px 0 0 0; 
			color: inherit;
			a{ text-decoration: none; color: @eeweb_blue; &:hover{ text-decoration: underline; } }
		}
		a{ text-decoration: underline; color: inherit; }
		input[type="checkbox"]:checked + a,
		input[type="checkbox"]:checked + .signup-checked,
		input[type="checkbox"]:checked + .none-checked { color: @eeweb_dark_grey; }
	}
	input[type="checkbox"]{ margin: 0 6px 0 0; }
	input[type="text"], 
	input[type="password"], 
	input[type="email"], 
	input[type="url"], 
	input[type="date"], 
	input[type="month"],
	input[type="time"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="week"], 
	input[type="number"], 
	input[type="search"], 
	input[type="tel"], 
	input[type="color"], 
	select, 
	textarea {
	    border: 0;
	    margin: 8px 0;
	    padding: 0.8em 0.6em;
	    font-size: 1.4em;
	    font-weight: 300;
	    -moz-box-shadow:    inset 0px 1px 1px 0px rgba(0,0,0,0.07);
		-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.07);
		box-shadow:         inset 0px 1px 1px 0px rgba(0,0,0,0.07);
		&::-webkit-input-placeholder { color: @eeweb_medium_grey; }
		&:-moz-placeholder { color: @eeweb_medium_grey; }
		&::-moz-placeholder{ color: @eeweb_medium_grey; }
		&:-ms-input-placeholder { color: @eeweb_medium_grey; }
	}
	fieldset { padding: 0; }
	.pure-group input{ margin-top: 0; }
	.group-label{ display: inline-block; padding-top: 10px; }
	.whitebox { 
		border: 0;
		border-radius: 4px;
	    margin: 8px 0;
	    padding: 0.8em 0.6em;
	    font-size: 1.4em;
	    -moz-box-shadow:    inset 0px 1px 1px 0px rgba(0,0,0,0.07);
		-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.07);
		box-shadow:         inset 0px 1px 1px 0px rgba(0,0,0,0.07);
		background-color: white;
	}
	.profile-pic { 
			p { font-size: 4em; color: rgba(212,212,212,1); margin-top: .25em; }
			background-color: @eeweb_medium_grey; 
			text-align: center;
			width: 100px;
			height: 100px;
			overflow: hidden;
			margin: 10px auto;
		}
	.profile-pic-add{
		h4 { font-size: 1.1em; margin-top: 30px;}
	}
	.pure-button-primary{
		border-radius: 4px;
		font-size: 1.4em;
		float: right;
		margin-top: 30px;
		background-color: @eeweb_blue;
		padding: 0.6em 2.2em 0.4em;
		-moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.18);
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.18);
		box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.18);

		
	}
	.close-button{
		border-radius: 4px;
		font-size: 1.4em;
		margin:  30px 10px 0 0;
		float: right;
		padding: 0.6em 2.2em 0.4em;
		-moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.18);
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.18);
		box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.18);

		
	}

	//changing dropdown/select icon
	.dropdown{
		background: url('../img/dropdown-arrow.png') center right no-repeat;
		select{
				
		}
	}
	
	
	@media only screen and (min-width: 768px) {
		.form-wrapper-left{
			margin: 40px 4% 40px 8%;
		}
		.form-wrapper-right{
			margin: 40px 8% 40px 4%;
		}
	}
	@media only screen and (max-width: 767px) {
		.profile-pic-add{
			text-align: center;
		}
	}

	
	
}

.small-button{}

// helper class to mimic future element size, can be removed
.wrapper{
	width: 80%;
}

/* Rectangle 1 copy 6: 

border-radius: 4px;
border: 0;
background: #FFFFFF;

*/
