.pure-checkbox span{
    cursor:pointer;
    color:#666;
    font-size:14px;
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%}
.hidden {
    display: none!important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.registration-form {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: #4a4a4a;
    /*margin: 20px;*/
    background-color: #f6f6f6;
    border-radius: 4px;
}
.registration-form .form-wrapper-left, .registration-form .form-wrapper-right {
    overflow: hidden;
    padding: 10px 8% 40px 4%;
}
.registration-form .form-wrapper-left .pure-radio, .registration-form .form-wrapper-right .pure-radio {
    float: left;
    padding-left: 2px;
    margin-right: 1em;
}
.registration-form [class*=pure-u] {
    font-family: 'Helvetica Neue', sans-serif;
}
h2.register_title {
    color: #3A7DBE;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    line-height:22px;
    margin:0 0 16px 10px;
    background:#FFF;
}
.registration-form h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0;
}
.registration-form h4 {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0 0 10px;
}
.registration-form p {
    font-weight: 200;
    color: #9b9b9b;
    margin: 0 0 20px;
}
.registration-form p.form-info {
    margin:0 0 20px 25px;
    color:#888;
    font-size:14px;
}
.registration-form a {
    text-decoration: none;
    color: #4d89c3;
}

.pure-group div {
	position: relative;
}

a.removeclass{
	font-size: 13px;
	font-weight: bold;
	left: 765px;
	position: absolute;
	text-transform: uppercase;
	top: 17px;
}
div.signup_terms{
	background: #e6e6e6;
	padding: 14px;
	width: 280px;
}
div.signup_terms .newsletter-signup {
	margin-bottom: 16px;
	color: #fff;
}
.registration-form a:hover {
    text-decoration: underline;
}
.registration-form .dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/dropdown_icon.png) no-repeat #fff;
    background-position: 95% center;
    text-indent: .01px;
    text-overflow: ""}
.registration-form .dropdown select option {
    border: 0;
    margin: 8px 0;
}
.registration-form .checkbox-group {
    margin-bottom: 30px;
}
.registration-form label {
    font-size: 1.4em;
    margin: 0;
}
.registration-form label.pure-checkbox {
	display:block;
    font-size: 1em;
    color: #9b9b9b;
    margin: 5px 0;
}
.registration-form label.pure-checkbox.check-terms {
    margin: 0;
    color:#666;
    font-size:14px;
}
.registration-form label.pure-checkbox.check-terms a {
    text-decoration: none;
    color: #4d89c3;
}
.registration-form label.pure-checkbox.check-terms a:hover {
    text-decoration: underline;
}
.registration-form label.pure-checkbox a {
    text-decoration: underline;
    color: inherit;
}
.registration-form label.pure-checkbox input[type=checkbox]:checked+a, .registration-form label.pure-checkbox input[type=checkbox]:checked+.signup-checked, .registration-form label.pure-checkbox input[type=checkbox]:checked+.none-checked {
    color: #4a4a4a;
}
.registration-form input[type=checkbox] {
    margin: 0 6px 0 0;
}
.registration-form input[type=text], .registration-form input[type=password], .registration-form input[type=email], .registration-form input[type=url], .registration-form input[type=date], .registration-form input[type=month], .registration-form input[type=time], .registration-form input[type=datetime], .registration-form input[type=datetime-local], .registration-form input[type=week], .registration-form input[type=number], .registration-form input[type=search], .registration-form input[type=tel], .registration-form input[type=color], .registration-form select, .registration-form textarea {
    border:1px solid #DDD;
    margin: 8px 0;
    padding: .8em .6em;
    font-size: 1.4em;
    font-weight: 300;
    font-family: 'Helvetica Neue', sans-serif;
}
.registration-form input[type=text]::-webkit-input-placeholder, .registration-form input[type=password]::-webkit-input-placeholder, .registration-form input[type=email]::-webkit-input-placeholder, .registration-form input[type=url]::-webkit-input-placeholder, .registration-form input[type=date]::-webkit-input-placeholder, .registration-form input[type=month]::-webkit-input-placeholder, .registration-form input[type=time]::-webkit-input-placeholder, .registration-form input[type=datetime]::-webkit-input-placeholder, .registration-form input[type=datetime-local]::-webkit-input-placeholder, .registration-form input[type=week]::-webkit-input-placeholder, .registration-form input[type=number]::-webkit-input-placeholder, .registration-form input[type=search]::-webkit-input-placeholder, .registration-form input[type=tel]::-webkit-input-placeholder, .registration-form input[type=color]::-webkit-input-placeholder, .registration-form select::-webkit-input-placeholder, .registration-form textarea::-webkit-input-placeholder {
    color: #9b9b9b;
    font-family: 'Helvetica Neue', sans-serif;
}
.registration-form input[type=text]:-moz-placeholder, .registration-form input[type=password]:-moz-placeholder, .registration-form input[type=email]:-moz-placeholder, .registration-form input[type=url]:-moz-placeholder, .registration-form input[type=date]:-moz-placeholder, .registration-form input[type=month]:-moz-placeholder, .registration-form input[type=time]:-moz-placeholder, .registration-form input[type=datetime]:-moz-placeholder, .registration-form input[type=datetime-local]:-moz-placeholder, .registration-form input[type=week]:-moz-placeholder, .registration-form input[type=number]:-moz-placeholder, .registration-form input[type=search]:-moz-placeholder, .registration-form input[type=tel]:-moz-placeholder, .registration-form input[type=color]:-moz-placeholder, .registration-form select:-moz-placeholder, .registration-form textarea:-moz-placeholder {
    color: #9b9b9b;
}
.registration-form input[type=text]::-moz-placeholder, .registration-form input[type=password]::-moz-placeholder, .registration-form input[type=email]::-moz-placeholder, .registration-form input[type=url]::-moz-placeholder, .registration-form input[type=date]::-moz-placeholder, .registration-form input[type=month]::-moz-placeholder, .registration-form input[type=time]::-moz-placeholder, .registration-form input[type=datetime]::-moz-placeholder, .registration-form input[type=datetime-local]::-moz-placeholder, .registration-form input[type=week]::-moz-placeholder, .registration-form input[type=number]::-moz-placeholder, .registration-form input[type=search]::-moz-placeholder, .registration-form input[type=tel]::-moz-placeholder, .registration-form input[type=color]::-moz-placeholder, .registration-form select::-moz-placeholder, .registration-form textarea::-moz-placeholder {
    color: #9b9b9b;
    font-family: 'Helvetica Neue', sans-serif;
}
.registration-form input[type=text]:-ms-input-placeholder, .registration-form input[type=password]:-ms-input-placeholder, .registration-form input[type=email]:-ms-input-placeholder, .registration-form input[type=url]:-ms-input-placeholder, .registration-form input[type=date]:-ms-input-placeholder, .registration-form input[type=month]:-ms-input-placeholder, .registration-form input[type=time]:-ms-input-placeholder, .registration-form input[type=datetime]:-ms-input-placeholder, .registration-form input[type=datetime-local]:-ms-input-placeholder, .registration-form input[type=week]:-ms-input-placeholder, .registration-form input[type=number]:-ms-input-placeholder, .registration-form input[type=search]:-ms-input-placeholder, .registration-form input[type=tel]:-ms-input-placeholder, .registration-form input[type=color]:-ms-input-placeholder, .registration-form select:-ms-input-placeholder, .registration-form textarea:-ms-input-placeholder {
    color: #9b9b9b;
}
.registration-form fieldset {
    padding: 0;
}
.registration-form .pure-group input {
    margin-top: 0;
}
.registration-form .group-label {
    display: inline-block;
    padding-top: 10px;
}
.registration-form .whitebox {
    border: 1px solid #ddd;
    margin: 8px 0;
    padding: .8em .6em;
    font-size: 1.4em;
    background-color: #fff;
}
.registration-form .profile-pic {
   /* background-color: #9b9b9b;
    text-align: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 10px auto;
    border: 1px solid #9b9b9b;*/
}
.registration-form .profile-pic p {
    font-size: 4em;
    color: #d4d4d4;
}

.registration-form .profile-pic-add h4 {
    font-size: 1.1em;
    margin-top: 30px;
}
.registration-form .pure-button-primary {
    font-size: 14px;
    float: right;
    margin-top: 30px;
    background-color: #4d89c3;
    padding:10px 20px;
}
.registration-form .close-button {
    border-radius: 4px;
    font-size: 1.4em;
    margin: 30px 10px 0 0;
    float: right;
    padding: .6em 2.2em .4em;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .18);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .18);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .18);
}
.registration-form .dropdown {
    /*background: url(../img/dropdown-arrow.png) center right no-repeat;*/
}
@media only screen and (min-width:768px) {
    .registration-form .form-wrapper-left {
    margin: 0 4% 40px 8%}
.registration-form .form-wrapper-right {
    padding: 10px 8% 40px 4%;
}
}@media only screen and (max-width:767px) {
    .registration-form .profile-pic-add {
    text-align: center;
}
}
.wrapper {
    width:1042px;
    margin:0 auto;
}
body {
    font-size: 12px;
}
.button-small {
    font-size: 85%}
.button-large {
    font-size: 110%}
.button-xlarge {
    font-size: 125%}
.button-blue {
    background-color: #4d89c3;
    color: #fff;
    border-radius: 4px;
}
@media print {
    * {
    background: transparent!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important;
}
a, a:visited {
    text-decoration: underline;
}
a[href]:after {
    content: " (" attr(href) ")"}
abbr[title]:after {
    content: " (" attr(title) ")"}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""}
pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100%!important;
}
@page {
    margin: .5cm;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}

/*--*/

.registration-form input[type="text"], .registration-form input[type="password"], .registration-form input[type="email"], .registration-form input[type="url"], .registration-form input[type="date"], .registration-form input[type="month"], .registration-form input[type="time"], .registration-form input[type="datetime"], .registration-form input[type="datetime-local"], .registration-form input[type="week"], .registration-form input[type="number"], .registration-form input[type="search"], .registration-form input[type="tel"], .registration-form input[type="color"], .registration-form select, .registration-form textarea {
    border: 0 none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07) inset;
    font-size: 1.4em;
    font-weight: 300;
    margin: 8px 0;
    padding: 0.8em 0.6em;
}
.pure-form .pure-input-1{width:100%;}

.pure-button {
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    border:0;
    color:#FFF;
}
.reg-col-i{float:left;width:40%;}
.reg-col-ii{float:right;width:60%}