/* ==========================================================================
   Theme rules describe how modules or layouts might look
   ========================================================================== */

//BUTTONS
.button-small { font-size: 85%; }
.button-large { font-size: 110%; }
.button-xlarge { font-size: 125%; }
.button-blue { background-color: @eeweb_blue; color: white; border-radius: 4px; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}