/* ==========================================================================
   Typography rules
   ========================================================================== */



/* Typography Variable Defs — Woot! */

@base_font_size: 12px;



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}