@import "../font-awesome/font-awesome.css";

.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

body{position:relative;min-width:1002px;padding:13px 0 0;font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;color:#333;background:#f2f2f2;}

h1{font-size:22px;font-weight:400;}
h2{font-size:20px;font-weight:700;}
h3{font-size:18px;font-weight:700;}
h4{font-size:16px;font-weight:700;}
h5{font-size:14px;font-weight:700;}
h6{font-size:12px;font-weight:700;}
ol{list-style:decimal;}
ul{list-style:disc;}
a{text-decoration:underline;color:#1C68B4;}
p{margin-bottom:20px;word-wrap:break-word;-moz-hyphens:auto;-webkit-hyphens:auto;-o-hyphens:auto;hyphens:auto;}

.borderLeft {border-left:1px solid #E6E6E6;}
.borderRight {border-right:1px solid #E6E6E6;}
.nomargin{margin:0 !important;}
.read_more_page,.previous_page{margin:0;}

/* Wallpaper */
#wallpaper_image{position:absolute;z-index:0;width:100%;min-width:1002px;height:100%;background-attachment:scroll;background-repeat:no-repeat;background-position:center top;}
#wallpaper_clickthru{position:absolute;display:block;width:100%;min-width:1002px;height:100%;margin-left:auto;margin-right:auto;left:0;z-index:-1;}

/* Pop-up Ads */
#box-content{padding:30px 0 0;}
#timer{position:absolute;top:0;right:0;width:180px;height:21px;padding:4px 34px 0 10px;font-size:12px;line-height:15px;color:#fff;background:#000;}
.overlay{display:none;z-index:11000;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:.0;filter:alpha(opacity=0);}
.pbox{min-width:250px;z-index:11005;text-align:center;}
.close{position:absolute;top:1px;right:1px;cursor:pointer;}

/* Toolbar */
#site_toolbar{filter:alpha(opacity=90);opacity:0.9;top:0;bottom:0;right:0;left:0;height:32px;background:#333;background:#3a7dbe;position:fixed;z-index:10000;line-height:32px;font-size:13px;color:#fff;}
#site_toolbar ul{list-style:none inside;margin-left:-13px;}
#site_toolbar li{float:left;height:32px;margin:0;}
#site_toolbar li.right_menus{float:right;}
#site_toolbar li.first{margin-left:0;}
#site_toolbar li.first a:hover span{text-decoration:none;}
#site_toolbar li.name span{font-weight:700;font-size:14px;line-height:30px;}
#site_toolbar a{color:#fff;font-size:13px;line-height:32px;text-decoration:none;display:block;padding-left:13px;padding-right:13px;}
#site_toolbar a:hover{color:#fff;text-decoration:none !important;background-color:#13487C;}
#site_toolbar a.last{font-weight:700;}
#site_toolbar a.text{font-size:16px;color:#fff;}
#site_toolbar a.text:hover{color:#b9b9b9;}
#site_toolbar .title_seperator{padding-left:5px;padding-right:5px;}

#toolbar_wrap{height:35px;width:100%;position:absolute;top:30px;left:0;background-color:#e6e6e6;}
#toolbar{height:80px;margin-bottom:20px;width:100%;display:none;position:absolute;top:0;left:0;}
#toolbar li{display:inline;list-style:none;line-height:35px;}
#toolbar .adminLinks li{margin-right:20px;}
#toolbar .adminLinks2 li{margin-left:20px;}

#toolbar li a, #toolbar li label{text-decoration:none;color:#333;font-size:12px;font-weight:700;}
#toolbar li a:hover{color:#000;text-decoration:underline;background-color:#fff;}
#toolbar .logout{text-decoration:none;font-weight:400;}
#toolbar .logout:hover{text-decoration:underline;}
#toolbar .adminLinks{float:left;}
#toolbar .adminLinks2{float:right;}
#toolbar .small{font-size:10px;color:#666;}
#toolbar_handle{cursor:pointer;position:absolute;top:40px;left:20px;width:30px;height:16px;background:url(/pics/site/hammer.png) top left no-repeat;}

.top_search_bar .search_box,.top_search_bar .search_go{display:inline;border:1px solid #bbb;margin:4px 0;font:11px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;}
.top_search_bar .search_box{height:19px;padding-left:5px;padding-right:5px;width:180px;margin-right:4px;margin-left:4px;}
.top_search_bar .search_go{background-color:#666;color:#fff;width:30px;height:23px;margin:0;cursor:pointer;}
.top_search_bar .search_go:hover{background-color:#333;border-color:#aaa;}
.top_search_bar{font-size:14px;}

.container_16{margin:0 auto 15px;width:975px;}
.sidebar_wrap{float:right;width:300px;}
#main{width:1000px;margin:77px auto 25px;top:0 !important;position:relative;border:1px solid #DDD;background:#FFF;}