@import "../font-awesome/font-awesome.css";/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{line-height: 1;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content: none;}

/* remember to define focus styles! */
:focus{outline:0;}

/* remember to highlight inserts somehow! */
ins{text-decoration:none;}
del{text-decoration:line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;}

.nomargin{margin:0 !important;}

/* Main Body */
body{position:relative;min-width:1002px;padding:0;font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;color:#333;background:#f2f2f2;}
.body_wrap{width:996px;margin:0 auto;border-top:none;background-color:#fff;padding-bottom:20px;padding-top:20px;}
#page_wrapper{width:1024px;margin:0 auto;background:#f2f2f2 url(/pics/site/page_bg.png) top left repeat-y;}
#page_wrapper_top{width:1024px;margin:0 auto;font-size:1px;height:26px;background:#f2f2f2 url(/pics/site/page_bg_top.png) bottom left no-repeat;margin-top:10px;}
#page_wrapper_bot{width:1024px;margin:0 auto;font-size:1px;height:20px;background:url(/pics/site/page_bg_bot.png) top left no-repeat;}
#main{width:1000px;margin:61px auto 25px;top:0 !important;position:relative;border:1px solid #DDD;background:#FFF;}

/* Login */
/*#loginLogo{margin:0 auto;margin-top:20px;margin-bottom:20px;}
#login_form{position:relative;width:215px;margin:0 auto;padding-top:0;padding-bottom:0;}
.inputType{text-align:left;margin-bottom:10px;}
.inputType input{width:100%;border:1px solid #ddd;padding-left:3px;height:24px;line-height:24px;}
.label{float:left;text-align:right;font-weight:700;}
.button{padding-top:10px;float:left;}
.centerWrap{text-align:center;}
.login_wrap{border:1px solid #ddd;background-color:#fff;width:270px;margin:0 auto;margin-top:20px;}
.login_box_submit{cursor:pointer;font-size:16px;width:100px;background-color:#666;color:#fff;border:none;padding-left:20px;padding-right:20px;height:26px;border-color:#b3b3b3;margin-bottom:20px;}
.login_box_submit:hover{background-color:#3a7dbe;}
.login_link{color:#666;}
.login_link a{color:#666;}
.login_link a:hover{color:#000;}*/

/* login/index, login/forgot, login/forgot_sent, login/reset_password, login/reset_complete */
#login_form {margin:0;border:0;width:340px;}
.login_box_submit{border:none;color:#fff;padding-left:20px;padding-right:20px;height:26px;border-color:#b3b3b3;margin-bottom:20px;cursor:pointer;font-size:16px;width:100px;background-color: #3a7dbe;font-family: Arial,'Helvetica Neue','Liberation Sans',FreeSans,sans-serif;}
.login_box_submit:hover{background-color: #13487c;}
.login_link a{color:#3a7dbe;}
.login_link a:hover{color:#13487c;}
.error_login{background-color:#f04124;color:#fff;font-style:normal;width:328px;text-align:center;display: block;font-size: 0.75rem;font-weight: normal;margin-bottom: 1rem;margin-top: -1px;padding: 0.375rem 0.5625rem 0.5625rem;}
.content_pod{min-height:360px;margin-top: 50px;}
.forgot_pod{width:380px;margin:0 auto;padding:30px 20px 30px;background-color:#F6F6F6;}
.inputType{text-align:left;margin-bottom:10px;}
.inputType input{width:100%;border:1px solid #ddd;padding-left:3px;height:24px;line-height:24px;}
.label{float:left;text-align:right;font-weight:700;}
.thanks-h2{color:#666;font-size:24px;font-weight:700;text-decoration:none;text-align:center;margin-top:20px;}
.thanks-desc{clear:both;color:#666;margin-bottom:15px;text-align: center;font-size:18px;}
.thanks-desc a, .h1_description_block a{color: #3a7dbe;text-decoration: underline;}
.note-desc{font-size:12px;text-align:left;color:#666;margin-top:38px;margin-bottom:0px;font-style:italic;}

/* Register Page */
.register_sidebar ul li{margin-left:20px;line-height:24px;}
.register_header{font-size:22px;line-height:24px;margin-bottom:10px;}
.register_page{width:916px;float:left;display:inline;position:relative;padding-left:15px;background:#fff url(/pics/site/reg_bg.png) top right no-repeat;}
.register_sidebar{height:500px;width:300px;float:left;display:inline;position:relative;padding-left:15px;padding-top:20px;padding-bottom:60px;border-left:1px solid #ddd;margin-left:-1px;}
.register_title{font-size:50px;line-height:50px;color:#999;}
.register_title_wrap{margin-bottom:40px;padding-left:90px;}
.checkbox{padding:0!important;}
.checkbox_wrap{font-size:12px;line-height:24px;}

/* Header */
.header{margin:0 auto;margin-bottom:0;padding:12px 0 0;width:975px;background-color:#fff;}
/*.header{margin:0 auto;margin-bottom:0;padding-left:10px;padding-right:0;padding-top:10px;width:986px;background-color:#fff;}*/
.header_tech{margin:0 auto;margin-bottom:0;padding-left:10px;padding-right:0;padding-top:4px;width:986px;background-color:#fff;}
#logo{padding-bottom:8px;float:left;}
#tech_logo{float:right;margin-bottom:8px;padding-right:16px;}

/* Mega menu */
#mega_menu{padding:10px;padding-left:12px;width:974px;margin:0 auto;margin-bottom:0;border-top:1px solid #ddd;display:none;background-color:#fff;}
#mega_menu ul{float:left;font-size:12px;list-style:none;}
#mega_menu li a{color:#666;text-decoration:none;display:block;width:162px;}
#mega_menu a:hover{color:#ed1c24;text-decoration:underline;}
#mega_menu h5{border-bottom:2px solid #242424;color:#242424;width:142px;}
#mega_menu_header{padding-top:35px;line-height:18px;font-size:18px;color:#242424;margin-left:0;padding-bottom:10px;float:left;font-weight:700;}
.close_menu{font-size:11px;color:#242424;text-decoration:none;margin-right:10px;}
.close_menu a{text-decoration:none;color:#242424;}
#close_menu{padding-right:10px;}
.mm_c{width:162px;float:left;}
#close_menu_ul{float:right;width:300px;}
#close_menu_ul div{float:right;}
.mega_menu_logo{float:left;padding-bottom:10px;padding-right:10px;}
.component_catalog ul{float:left;font-size:12px;list-style:none;}
.component_catalog li a{color:#666;text-decoration:none;display:block;width:162px;font-size:11px;}
.component_catalog li a:hover{color:#1c68b4;text-decoration:underline;}
#mm_digikey_logo{float:left;padding-right:8px;padding-top:1px;}
#mm_digikey_header{float:left;font-weight:400;font-style:italic;font-size:14px;padding-top:15px;line-height:16px;text-transform:uppercase;letter-spacing:1px;color:#999;}
.mm_digikey_wrap{margin-bottom:10px;}

/* Tool Mega menu */
#toolbox_mm_wrap{display:none;position:absolute;background-color:#fff;right:8px;top:26px;border:1px solid #3a7dbe;width:740px;height:370px;z-index:2001;padding:20px;}
#toolbox_mm_wrap ul{float:left;list-style:none;margin-bottom:15px;}
#toolbox_mm_wrap li{font-size:12px;line-height:16px!important;}
#toolbox_mm_wrap li a{text-decoration:none;color:#666!important;display:block;width:160px;padding-left:0;padding-right:0;font-size:12px;line-height:16px!important;}
#toolbox_mm_wrap li a:hover{color:#1c68b4;text-decoration:underline;}
#toolbox_mm_wrap a.tool_main{color:#262626!important;font-weight:700;}
.toolbox_c{width:160px;float:left;margin-right:20px;}
.mm_header{float:left;font-size:15px;width:160px;line-height:18px;color:#fff;background-color:#3a7dbe;margin-bottom:5px;}
.mm_header h3{font-size:15px;line-height:22px;font-weight:400;padding-left:10px;}

/*Reference Designs menu*/
#sponsored_designs_button{background:transparent url(/pics/site/gray_arrow.png) right center no-repeat;padding-right:25px;}
#sponsored_designs_wrap{display:none;position:absolute;background-color:#3a7dbe;left:28%;top:26px;border:1px solid #13487c;z-index:2001;padding:7px;}
#sponsored_designs_wrap ul{list-style: outside none none;}
#sponsored_designs_wrap li{font-size: 12px;line-height: 16px !important;}
#sponsored_designs_wrap li a{text-decoration:none;color:#fff;display:block;width:160px;padding-left:0;padding-right:0;font-size:12px;line-height:16px!important;}
#sponsored_designs_wrap li a:hover{color:#fff;text-decoration:underline;}

/* Texas Instruments */
#texas_instruments_ph{width:300px;height:320px;border:1px solid #ececec;text-align:center;margin:10px auto;}
.ti_sidebar{margin-left:15px;}

/* Footer */
#xchange_footer_link{position:absolute;display:block;left:10px;top:8px;width:580px;height:80px;text-decoration:none;}
#main_footer{padding-top:10px;border-top:solid #ccc 1px;}
#footer_bottom{position:relative;float:left;width:100%;min-width:1002px;padding:10px 0 0;background:#13487C;}
#bottom_footer_border{border-top:1px solid #ddd;height:1px;font-size:1px;position:absolute;left:5px;top:0;width:966px;}
#main_footer_text_1{position:absolute;left:20px;top:118px;width:560px;font-size:12px;line-height:18px;}
#main_footer_text_1 a{color:#000;}
.xchange_links{list-style:none;font-size:12px;line-height:18px;}
.xchange_links a{text-decoration:none;color:#4d4d4d;font-size:12px;line-height:23px;}
.xchange_links a:hover{text-decoration:underline;color:#000;}
#xchange_ul_1{position:absolute;left:634px;top:106px;}
#xchange_ul_2{position:absolute;left:841px;top:106px;}
#xchange_search_form{position:relative;}
#xchange_search_box{position:absolute;border:1px solid #b0b0b0;left:606px;top:58px;width:300px;padding:0;margin:0;padding-left:5px;font-size:12px;line-height:15px;padding-top:2px;padding-bottom:2px;}
#xchange_search_button{background:none;border:0;font-size:12px;padding-left:5px;padding-right:5px;}
.xchange_span_button{position:absolute;left:920px;top:58px;border:1px solid #9f9f9f;background-color:#f2f2f2;}
#footer_extras{margin-top:20px;margin-bottom:30px;}

.region_one{float:left;vertical-align:top;width:319px;}
.featured-col-wrap{position:relative;padding:10px;background:#093660;}
.featured-col-a{float:left;width:95px;}
.featured-col-b{float:right;width:194px;height:90px;overflow:hidden;}
.featured-col-a a{display:block;width:95px;height:123px;}
.region_one p{margin:0 0 10px;font-size:12px;color:#EDEDED;letter-spacing:.02em;}
.region_one_img{float:left;padding-right:10px;}
.region_one_title{margin:0 0 5px;padding:1px 0 5px;font-size:16px;font-weight:bold;border-bottom:1px solid #BBB;}
.region_two{float:right;vertical-align:top;width:280px;padding:0 0 0 23px;}
.region_three{float:right;vertical-align:top;width:280px;padding:0 23px;}
.region_one_button{width:94px !important;text-align:center;background-color:#3a7dbe;color:#fff;text-decoration:none;line-height:24px;}
.button_1{width:98px;}
.button_2{width:111px;}
.featured-mag-wrap{position:relative;}
.featured-mag-wrap .button_1{position:absolute;left:114px;bottom:10px;}
.featured-mag-wrap .button_2{position:absolute;right:10px;bottom:10px;}
.region_one_button:hover{background-color:#1C68B4;}
.region_two_list,.region_three_list{list-style:none;}
.region_two_list li,.region_three_list li{display:inline-block;font-size:13px;line-height:22px;}
.region_two_list li a,.region_three_list li a{text-decoration:none;color:#EDEDED;display:block;width:138px;}
.region_two_list li a:hover,.region_three_list li a:hover{text-decoration:underline;color:#DDD;}
.region_one_title{margin:0 0 17px;}
.region_two_title,.region_three_title{margin:0 0 10px;}
.region_one_title,.region_two_title,.region_three_title{padding:0 0 2px;font-size:16px;line-height:18px;color:#EDEDED;border-bottom:1px solid #AAA;}
.footer_list a{line-height:13px;font-size:12px;float:left;color:#666;text-decoration:none;}
.footer_list a:hover{text-decoration:underline;color:#000;}
.footer_list{float:left;list-style:none;padding-top:10px;}
.footer_list li{line-height:13px;font-size:12px;display:inline-block;color:#666;border-right:#999 1px solid;padding-right:12px;padding-left:12px;}
.footer_list li:last-child{border:none;}
#search_button_footer{cursor:pointer;float:right;margin:0;padding:0;background-color:transparent;border:0 none;color:#fff;width:50px;font-size:12px;height:30px;margin-right:20px;font-family:'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;}
#search_components_footer{width:320px;float:right;padding:0;margin:0;padding-left:5px;font-size:12px;line-height:15px;padding-top:5px;padding-bottom:5px;font-style:italic;color:gray;margin-right:5px;font-family:'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;}
#search_logo_footer{float:left;padding-left:15px;padding-top:6px;padding-right:10px;}
.ti_widget{text-align:center;width:245px;margin:0 auto;}
.divider{margin-bottom:20px;height:1px;width:100%;background-color:#ececec;}
.top_links{float:left;z-index:2001;margin-bottom:6px;margin-left:8px;}
.top_link_a{color:#333;line-height:18px;font-size:12px;float:left;text-decoration:none;padding-left:15px;padding-right:15px;}
.top_link_a:hover{text-decoration:underline;}
.top_link_li{float:left;list-style:none;position:relative;border-right:1px solid #ccc;line-height:18px;}
#toolbox_button{background:transparent url(/pics/site/gray_arrow.png) right center no-repeat;padding-right:25px;}
.copyright a{color:#ededed;padding:0 5px;text-decoration:none;cursor:pointer;}
.copyright a:hover{text-decoration:underline;}
.label-wrap{margin:20px 0 0;padding:10px 0;color:#EDEDED;font-size:12px;background:#093660 !important;}
.label-cont{width:990px;margin:0 auto;padding:0 5px;}
.social{float:left;width:200px;}
.social a i{font-size:18px;color:#EDEDED;}
/*.social a i.fa-facebook-square{color:#3a5899;}
.social a i.fa-twitter-square{color:#40ABFE;}
.social a i.fa-google-plus-square{color:#dd4a38;}*/
.other-menu{display:inline-block;width:545px;margin:0;padding:2px 0 0;list-style:none;text-align:center;}
.other-menu li{display:inline-block;border-left:1px solid #999;}
.other-menu li:first-child{border:0;}
.other-menu li a{padding:0 5px;color:#EDEDED;text-decoration:none;}
.other-menu li a:hover{color:#DDD;text-decoration:underline;}
.copyright{float:right;width:240px;padding:2px 0 0;text-align:right;}

/* Member Links */
.top_screen_name{font-weight:700;}
#member_links{float:right;position:relative;list-style:none;margin-bottom:6px;z-index:1000;}
/*#member_links{float:right;position:relative;list-style:none;padding-left:15px;padding-right:10px;margin-bottom:6px;z-index:1000;}*/
.member_links_li{float:left;font-size:12px;line-height:18px;color:#333;border-right:1px solid #ccc;}
.member_links_li a{font-size:12px;line-height:18px;padding-right:14px;padding-left:14px;text-decoration:none;color:#333;}
.member_links_li a:hover{text-decoration:underline;}
#member_links_wrap{clear:right;float:right;width:700px;}
.no_border_right{border-right:none;}

/* Main Menu */
.menu_wrap{width:975px;margin: 0 auto;padding:6px 0 0;background-color:#fff;}
/*.menu_wrap{width:100%;padding:6px 0 0;background-color:#fff;}*/
.menu_wrap a{text-decoration:none !important;}
#menu_{width:75px;}
#menu_news{width:75px;}
#menu_electronics-forum{width:75px;}
#menu_toolbox{width:70px;}
#menu_articles{width:80px;}
#menu_projects{width:81px;}
#menu_magazine,#menu_magazines{width:102px;}
#menu_videos{width:75px;}
#menu_community{width:90px;}
#menu_companies{width:112px;}
#menu_jobs-and-events{width:120px;}
.main_menu{margin:0 0 3px 0;list-style:none;font-family:Arial,Helvetica,sans-serif;font-size:15px !important;font-weight:bold;color:#FFF;text-align:center;}
/*.main_menu{margin:0 0 3px 10px;list-style:none;font-family:Arial,Helvetica,sans-serif;font-size:15px !important;font-weight:bold;color:#FFF;text-align:center;}*/
.main_menu li{float:left;margin:0 2px 0 0;line-height:24px;background:#3a7dbe;}
.main_menu li a{font-weight:normal;display:block;padding:2px 0;text-align:center;text-decoration:none !important;color:#FFF;}
.main_menu li a:hover{text-decoration:none;background-color:#13487C;}
.main_menu li a.current{text-decoration:none;background-color:#13487C;}

/* Top Search Menu */
/*#browse_catalog{float:right;color:#fff;background-color:transparent;font-size:12px;height:24px;padding-left:10px;line-height:24px;text-decoration:none;width:122px;margin-right:11px;cursor:pointer;display:inline;}*/
/*.mm_c > ul > li > a {cursor: pointer;}*/
/*#search_button{cursor:pointer;float:right;background-color:transparent;margin:0;padding:0;border:0 none;color:#fff;width:40px;font-size:12px;line-height:24px;padding-bottom:3px;height:24px;display:inline;padding-left:10px;padding-right:10px;margin-right:5px;font-family:'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;}*/
/*#search_components{width:162px;float:right;padding:0;margin:0;padding-left:8px!important;border:0 none;font-size:12px;padding-top:7px;background-color:transparent;padding-bottom:5px;display:inline;font-style:italic;color:#b3b3b3;margin-right:5px;margin-top:0;font-family:'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;}*/
/*#search_logo{float:right;padding-right:8px;padding-top:6px;}*/
/*#search_bar{float:right;display:inline;position:relative;padding-bottom:0;width:450px;height:44px;background:#fff url(/pics/site/search_bar_full.png) top right no-repeat;padding-top:8px;}*/
/*!*#search_bar{float:right;display:inline;position:relative;padding-bottom:0;width:450px;height:44px;background:#fff url(/pics/site/search_bar_full.png) top right no-repeat;padding-top:8px;margin-right:5px;}*!*/
/*#dksearch{float:right;}*/
/* Digi-Key Toolbar */
.digikey-toolbar-wrapper {
    position: absolute;
    right: 15px;
    top: 42px;
}

/* Sub Menu */
.sub_menu_wrap{display:table;width:100%;margin:0 0 3px;}
/*#menu_sensors{width:85%;}*/
.sub_menu{display:table-row;border:1px solid #d9d9d9;margin:0;font-family:Arial,Helvetica,sans-serif;-moz-box-sizing:border-box;box-sizing:border-box;}
/*.sub_menu{border:1px solid #d9d9d9;margin:0 0 3px;font-family:Arial,Helvetica,sans-serif;font-size:13px;}*/
.sub_menu li{display:table-cell;width:10%;list-style:none;font-size:13px;text-align:center;line-height:14px;border-left:1px solid #CCC;-moz-box-sizing:border-box;box-sizing:border-box;}
/*.sub_menu li{float:left;list-style:none;line-height:14px;border-left:1px solid #CCC;}*/
.sub_menu li:first-child{border:none;}
.sub_menu li a{display:block;padding:6px 0;font-size:12px;color:#333;font-weight:normal !important;-moz-box-sizing:border-box;box-sizing:border-box;}
.sub_menu li a:hover{color:#424242;text-decoration:none !important;}
.sub_menu li:hover{background-color:#f2f2f2;}
/*.sub_menu li a:hover{color:#424242;background-color:#f2f2f2;text-decoration:none !important;}*/
.hot{background-color:#f2f2f2;}
.hot a{color:#000!important;}
.first{margin-left:10px;}

/*@media screen and (-webkit-min-device-pixel-ratio:0){#menu_sensors{width:61px;}}*/

/* Top Bar */
.top_bar{background-color:#b6d19a;background-color:#ccc;margin-top:20px;margin-bottom:15px;}
.top_bar h1 a{color:#000;text-decoration:none;}
.top_bar h1{font-size:24px;line-height:38px;color:#000;font-weight:400;padding-left:20px;}
.top_bar h1 span.tag_header{font-size:20px;color:#fff;letter-spacing:2px;}
.top_bar h1 span.top_bar_sub{font-size:20px;}
.top_bar a:hover{text-decoration:none;color:#fff;}

/* Slide-In Promo Styles */
#slidein_promo {background: #F6B221;box-shadow: 0 0 10px #333;position: fixed;bottom: 0;z-index: 10001;padding: 20px 20px 40px;color:#ddd;font-size: 13px;left: -750px;transition: all 1s ease-out;-webkit-transition: all 1s ease-out;-moz-transition: all 1s ease-out;-o-transition: all 1s ease-out;}

#slidein_promo.img_slidein{width:auto;height:auto;padding:0;margin:0;}
/*#slidein_promo.img_slidein img{margin-bottom:-5px;}*/
/*#slidein_promo .close {color: #13487c;cursor: pointer;float: right;font-size: 1.5em;font-weight: bold;padding: 8px 15px 0;}*/
/*#slidein_promo .close.img_close {padding:0 10px 0;color:#000;font-size:24px;}*/
/*#slidein_promo .close.img_close:hover{color:#333;}*/
/*#slidein_promo a.enter {background: #13487c;color: #fff;display: block;padding: 5px;text-decoration: none;font-size: 20px;width: 140px;text-align: center;}*/
/*#slidein_promo a.enter:hover {color: #ebebeb;}*/
/*#slidein_promo div.like_eeweb {font-size: 22px;color: #fff;}*/
/*#slidein_promo div.desc {margin-bottom: 10px;}*/
/*#slidein_promo div.login {font-size: 12px;margin: 15px 0 0;}*/
/*#slidein_promo div.login > a {color: #F9F59A;text-decoration: underline;}*/
/*#slidein_promo div.login > a:hover {color: #fff;text-decoration: none;}*/
/*#slidein_promo.move-right {transform: translate(380px,0);-webkit-transform: translate(380px,0);-o-transform: translate(380px,0);-moz-transform: translate(380px,0);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;}*/
/*#slidein_promo.move-left {transform: translate(-380px,0);-webkit-transform:translateX(-380px);-o-transform: translate(-380px,0);-moz-transform: translate(-380px,0);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;}*/
#slidein_promo.move-left {transform: translate(750px,0);-webkit-transform: translate(750px,0);-o-transform: translate(750px,0);-moz-transform: translate(750px,0);-ms-transform: translate(750px,0);}
#slidein_promo.move-right {transform: translate(-750px,0);-webkit-transform: translate(-750px,0);-o-transform: translate(-750px,0);-moz-transform: translate(-750px,0);-ms-transform: translate(-750px,0);}

/* Article */
.article{margin-left:10px;width:643px;margin-right:4px;padding-right:10px;float:left;display:inline;position:relative;}
.article-i{margin-left:10px;width:641px;margin-right:4px;padding-right:10px;float:left;display:inline;position:relative;}
.article pre{background-color:#fff;margin-bottom:20px;}
.article_img_small{float:right;}
/*.article_line{width:728px;padding:0 10px 0 0;float:left;display:inline;position:relative;}*/
.article_line{width:953px;position:relative;}
.article_line-i{margin-left:10px;width:614px;margin-right:15px;padding-right:20px;float:left;display:inline;position:relative;border-right:1px solid #d2d2d2;}
.article_line pre{background-color:#fff;margin-bottom:20px;}

/* Deals Page */
.deals_article{margin-left:10px;width:616px;margin-right:0;padding-right:20px;float:left;display:inline;position:relative;}
.deals_sidebar{width:310px;float:left;display:inline;position:relative;padding-top:20px;background-color:#f2f2f2;}

/* Adzone */
.adzone{width:300px;float:right;text-align:center;display:inline;position:relative;}

/* Ad Sample */
.ad_sample_big{background-color:#ececec;height:250px;margin-bottom:5px;}
.ad_sample_medium{background-color:#ececec;height:125px;margin-bottom:5px;}

/* Adzone Header */
.adzone_header{color:#333;font-size:16px;padding:5px;padding-top:0;padding-left:10px;line-height:20px;}
.adzone_header span{font-size:13px;font-weight:400;}

/* Comments */
.not_logged_in{margin-left:10px;}
.not_logged_in a{color:#1C68B4;}

/* Page Titles */
.page-title,.user-accounts-title, .newsl_title, .cont-page-title,.nswer_top_title_a h1,
.companies_title,.toolbox_main_title,.projects_title,.community_title,.form_title h1,
.news_title,.videos_title,.videos_title_s,.magazines_title,.videos_title_b,
.magazines_title_b,.download_title,.download_title a{color:#3A7DBE;font-size:22px;font-weight:700;text-decoration:none;}

.videos_title_b,.magazines_title_b{padding:0 6px 8px;}
.news_title{float:left;}

/* NewsPage (full) */
.news_wrap p{margin-bottom:20px;}
.news_wrap .news_img{text-align:center;margin-bottom:20px;}
.news_wrap .news_img img{width: auto;height: auto;max-width: 400px;}
.news_wrap h2{font-size:20px;line-height:24px;}
.news_wrap h2.list_view{font-size:18px;}
.news_wrap h2{font-weight:400;}
.news_wrap ul{margin-left:20px;margin-bottom:20px;}
.news_wrap h2 a{color:#3771c8;color:#000;text-decoration:none;font-weight:400;display:block;}
.news_wrap h2 a:hover{text-decoration:underline;color:#1c68b4;}
.post_date{margin-bottom:20px;font-style:italic;color:#666;}
.news_line{font:13px/1.5 'Helvetica Neue',Arial,'Liberation';border-bottom:1px solid #e6e6e6;text-align:right;padding-bottom:4px;margin-bottom:40px;margin-top:10px;color:#3a7dbe;font-size:12px;}
.news_noline{border-bottom:none;}
.news_line .comments{float:right;}
.news_line a.comments{color:#999;}
.news_line a:hover{text-decoration:underline;}
.news_line a{color:#3a7dbe;text-decoration:none;}
.news_line .read_more{float:right;}
.news_line .tags,.blog_read_more .tags{float:left;margin:0 20px 5px 0;text-align:left;}
.news_line .tags span,.blog_read_more .tags span{display:block;float:left;width:35px;margin:0 0 10px;color:#3A7DBE;}
.news_line .tags a,.blog_read_more .tags a{color:#424242;}
.news_line .tags a:hover,.blog_read_more .tags a:hover{color:#3a7dbe;}
.news_tags_wrap{float:right;width:490px;}
.news_thumbs{padding-bottom:20px;padding-left:76px;}
.extra_thumb_width{padding-left:126px;}
.news_thumbs a{float:left;margin-right:10px;margin-bottom:10px;border:1px solid #ddd;display:inline;}
.news_thumbs a:hover{border:1px solid #1C68B4;}
.no_hover:hover{border:1px solid #ddd!important;}
.news_thumb_clear{clear:left;}
.news_image_buttons .news_image_link{margin-right:8px;color:#fff;background-color:#3A7DBE;padding:5px 10px;text-decoration:none;text-align:center;border:none!important;width:100px;display:inline-block;}
.news_image_buttons .news_image_link:hover{color:#fff;background-color:#13487C;text-decoration:none;}
.news_image_buttons .buy_image{margin-right:15px;color:#fff;background-color:#FF5240!important;padding:5px 10px;text-decoration:none;text-align:center;border:none;width:100px;display:block;float:left;}
.news_image_buttons .buy_image:hover{color:#fff!important;background-color:#A62315!important;text-decoration:none;border:none;}
.news_image_buttons{text-align:center;}
.news_line .tags_full{float:left;font-family:georgia;}
.tags_full span{font-weight:700;}
.news_wrap .float_right{float:right;margin:0 15px 12px;}
.news_wrap .float_left{float:left;margin:0 15px 12px;}
.news_source{text-align:left;color:#000;font-family:georgia;}
.news_source span{font-weight:700;font-size:12px;}
.news_source a{color:#000;text-decoration:underline;font-size:12px;}

/* News Comments */
h2.comments_title{background-color:#f2f2f2;margin-bottom:10px;color:#424242;font-size:14px;line-height:26px;font-weight:700;padding-left:10px;margin-bottom:20px;}
.comment_wrap{margin-bottom:20px;}
.comment_content{float:right;width:644px;}
.comment_wrap a{color:#3A7DBE;}
.comment_content p{font-size:12px;line-height:18px;color:#666;margin-bottom:10px;}
.comment_content span{font-style:italic;font-weight:700;}
.comment_info{font-size:12px;line-height:16px;font-weight:700;}
.comment_info a{text-decoration:none;}
.comment_info a:hover{text-decoration:underline;}
.comment_image{float:left;padding-right:8px;}
.score_label{float:right;}
.score_value{float:right;padding-right:10px;}
.vote_link_wrap{float:right;}
a.score_vote_link{float:right;padding-right:10px;text-decoration:underline;font-weight:400;}
a.score_vote_link:hover{color:#000;}
.comment_profile_wrap{padding-top:20px;margin-left:48px;}
.leave_a_comment{font-size:14px;line-height:22px;}

/* NewsPage Tags Menu */
.news_tags,.news_tags-i{list-style:none;background-color:#e2e2e2;margin-bottom:20px;}
.news_tags li,.news_tags-i li{float:left;}
.news_tags li a{color:#000;text-decoration:none;font-size:14px;line-height:24px;margin-left:8px;margin-right:8px;}
.news_tags li a:hover,.news_tags-i li a:hover{text-decoration:underline;}
#news_tag_hot{font-weight:700;text-decoration:none;}

.news_tags-i a{color:#000;text-decoration:none;font-size:12px;line-height:24px;margin:0 3px;}

.news_tags-ii{margin:0 0 20px;padding:2px;background-color:#e2e2e2;}
.news_tags-ii ul{list-style:none;margin: 0;padding:4px 0;font-size:0;text-align:center;}
.news_tags-ii li{display:inline-block;float:none;padding:0 5px;line-height:initial;border-left:1px solid #999;}
.news_tags-ii li:first-child{border:0;}
.news_tags-ii a{color:#000;text-decoration:none;font-size:12px;line-height:initial;}
.news_tags-ii li a:hover{text-decoration:underline;}

/* News Header Links */
.news_header_links{margin-bottom:10px;margin-top:0;}
.news_header_links a{float:right;margin-left:10px;margin-top:3px;text-decoration:none;font-size:11px;line-height:12px;padding:5px 20px;background-color:gray;color:#fff;}
.news_header_links .submit_news{background-color:#3a7dbe;margin-right:0;}
.news_header_links .submit_news:hover{background:#13487C;}
.post_entry{background-color: #3771c8 !important;}
.post_entry:hover{background-color: #13487C !important;}

/* News Comments */
.comment_header{font-weight:400;background-color:#f2f2f2;padding-left:10px;line-height:32px;margin-bottom:20px;}
.leave_comment_header{font-weight:400;padding-left:10px;padding-top:20px;}
.comment_style_1{margin-bottom:10px;padding-bottom:10px;padding-left:10px;border-bottom:1px dotted #ccc;}
.comment_style_1 h5{font-weight:400;font-style:italic;font-size:12px;color:#3a7dbe;}
.comment_style_1 h5 a{color:#3a7dbe;}
.comment_style_1 p{font-size:13px;}
.comment_style_1 .comment_date{font-style:normal;}

/* Form Header - For submitting tips and other simple form data */
.form_title{border-bottom:2px solid #ccc;margin:0 0 10px;}
.form_data h3{font-size:16px;font-weight:700;color:#333;}
.form_data h3 span{font-weight:400;font-size:14px;color:#999;}
.form_data span.file-desc{font-weight:400;font-size:14px;color:#999;display:inline-block;float:right;padding-right:20px;}
.form_title p{margin:0 0 10px;font-size:13px;font-weight:400;color:#333;}
.form_title a{line-height:2em;font-size:13px;font-weight:400;color:#666;text-decoration: none;}
.form_title a:hover{color:#1c68b4;}
.form_title a img{display: block;}
.form_data{padding:20px;}
.form_data input,.form_data select{margin-bottom:15px;}
.form_data textarea{width:500px;height:220px;margin-bottom:15px;}
.form_data .submit{background-color:#3A7DBE;font-size:16px;color:#fff;border:none;padding:5px 10px;margin-right:5px;width:auto;overflow:visible;cursor:pointer;}
.form_data .submit:hover{background-color:#1c68b4;}
.form_data .post_entry{background-color: #3771c8;}
.form_data .medium_width{width:200px;}
.form_data .long_width{width:500px;}
.tip_submit{margin-top:20px;}
.nicedit_margin{margin-bottom:20px;}

/* Form Style_1 */
.form_style_1 label{position:relative;float:left;clear:left;color:#333;width:200px;text-align:right;padding:13px 10px 0;font-weight:700;}
.form_style_1 input{width:200px;margin:10px 5px 0 0;border:1px solid #ccc;padding:5px;}
.form_style_1 select{margin:12px 5px 0 0;}
.form_style_1 input.submit{width:auto;padding-left:10px;padding-right:10px;background-color:#3a7dbe;color:#fff;border:0 none;font-weight:700;}
.form_style_1 input.submit:hover{background-color:#1C68B4;}
.form_style_1 #password{margin-bottom:5px;}
.form_style_1 .password_note{margin:0 0 0 222px;font-size:11px;float:left;}
/*#join_eeweb{margin-bottom:40px;margin-left:222px;width:120px;}*/
#join_eeweb_i{margin-bottom:40px;margin-left:222px;width:120px;}
#already_member{color:#242424;text-decoration:underline;margin-bottom:20px;float:left;}
#already_member:hover{text-decoration:underline;}
#accept_terms_box{width:auto;margin-right:10px;}
.accept_text{font-weight:700;}
.form_link{color:#242424;}

/* Pagination */
.paginate-wrap{padding:0 0 12px;}
.pagination{display: block; clear: both; float:left;}
.pagination_container{ margin-top: 10px;}
.pagination p{ color: #1C68B4;}
.cur_p{font-weight: 700;}
/*.pagination a,.pagination strong{text-decoration:none;display:block;float:left;margin-right:5px;padding-left:5px;padding-right:5px;background-color:#666;color:#fff!important;}*/
.pagination a,.pagination strong{text-decoration:none;display:block;float:left;margin-right:5px;padding-left:5px;padding-right:5px;  background-color: #FFFFFF; border: 1px solid #3A7DBE;color: #1C68B4!important;}
.pagination_links a:visited {color:#1c68b4;}
p.pagination_links{
    color: #1C68B4;
}
.pagination_links strong{
    text-decoration: none;
    display: block;
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: #FFFFFF;*/
    border: 1px solid #3A7DBE;
    color: #1C68B4!important;
    background-color: #3a7dbe;
    color: #fff!important;
    font-weight: normal;
}
.pagination_links a:link {
    text-decoration: none;
    display: block;
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FFFFFF;
    border: 1px solid #3A7DBE;
    color: #1C68B4!important;
    font-weight: normal;
}
.pagination_links .curp{
    font-weight: 700;
}

.pagination_links{ float:left;display:block;margin-right:10px;color:#3a7dbe;
    font-weight:normal;background-color:#fff;font-size:12px;line-height:22px;text-decoration:none;padding-left:10px;padding-right:10px;margin-top:10px;}
.pagination a:hover,.pagination strong{background-color:#3a7dbe;color:#fff!important;font-weight:400;}
.previous_page a{float:right;display:inline;margin-right:10px;color:#1c68b4;border:1px solid #3a7dbe;font-weight:700;background-color:#fff;font-size:12px;line-height:22px;text-decoration:none;padding-left:10px;padding-right:10px;}
.read_more_page a,.read_more_feat a{float:right;display:inline;margin-right:10px;color:#1c68b4 !important;font-weight:700;border:1px solid #3a7dbe;background-color:#fff;font-size:12px;line-height:22px;text-decoration:none;padding-left:10px;padding-right:10px;}

.read_more_text_wrap{float:left;width:100%;}
.read_more_text_link{float:left;display:inline;margin-right:10px;color:#1c68b4!important;font-weight:700;border:1px solid #3a7dbe;font-size:12px;line-height:22px;text-decoration:none;padding-left:10px;padding-right:10px;background:#fff;}
.read_more_text_link:hover{color:#fff!important;background:#3a7dbe;}

.read_more_page-i,.previous_page-i{display:inline-block;}
.previous_page-i a{margin-right:10px;color:#1c68b4;border:1px solid #3a7dbe;font-weight:700;background-color:#fff;font-size:12px;line-height:22px;text-decoration:none;padding:4px 10px;}
.read_more_page-i a{margin-right:10px;color:#1c68b4 !important;font-weight:700;border:1px solid #3a7dbe;background-color:#fff;font-size:12px;line-height:22px;text-decoration:none;padding:4px 10px;}

.read_more_page a:hover,.previous_page a:hover,.read_more_feat a:hover,.read_more_page-i a:hover,.previous_page-i a:hover{background-color:#3a7dbe;color:#fff !important;}
.read_more_feat {margin:0;padding:18px 0 48px;}

.next_prev a{float:left;display:inline;margin-right:10px;color:#1c68b4 !important;font-weight:700;border:1px solid #3a7dbe;background-color:#fff;font-size:12px;line-height:22px;text-decoration:none;padding-left:10px;padding-right:10px;}
.next_prev a:hover,.previous_page a:hover,.read_more_feat a:hover{background-color:#3a7dbe;color:#fff !important;}
.next_prev {margin:0;padding:18px 0 48px;}

/* Answers */
#weever-comments .level_1_header{font-size:1px;height:15px;background:#fff url(/pics/site/answer_top.png) top left no-repeat;}
#weever-comments .answer_footer{font-size:1px;height:15px;background:#fff url(/pics/site/answer_bot.png) top left no-repeat;margin-bottom:10px;}
#weever-comments .comment-children .answer_footer{background:none;display:none;}
#weever-comments .level_1{background:#fff url(/pics/site/answer_mid.png) top left repeat-y;padding:0 0 5px 20px;}
.level_2_header,.level_3_header,.level_4_header{display:none;}
.question_wrap2 p a{color:#1c68b4;}
#weever-comments blockquote{font-style:italic;color:#1c68b4;}
.active_question_top{font-size:1px;height:15px;background:#fff url(/pics/site/question_top.png) top left no-repeat;}
.active_question_bot{font-size:1px;height:15px;background:#fff url(/pics/site/question_bot.png) top left no-repeat;margin-bottom:10px;}
.active_question{background:#fff url(/pics/site/question_mid.png) top left repeat-y;padding:0 20px 5px;}
.active_question_top2{width:647px;font-size:1px;height:14px;background:#fff url(/pics/site/question_top2.png) top left no-repeat;}
.active_question_bot2{width:647px;font-size:1px;height:15px;background:#fff url(/pics/site/question_bot2.png) top left no-repeat;margin-bottom:10px;}
.active_question2{position:relative;width:608px;background:#fff url(/pics/site/question_mid2.png) top left repeat-y;padding:0 20px 15px;}
.active_tags{float:left;color:#3a7dbe;padding-top:7px;}
.active_tags a{color:#333;text-decoration:none;}
.active_tags a:hover{text-decoration:underline;color:#000;}
.active_tags span{font-weight:normal;}
.answer_button{margin-right:15px;line-height:24px;background-color:gray;float:left;clear:left;padding-left:10px;padding-right:10px;text-decoration:none;color:#fff;}
.answer_button:hover{background-color:#666;}
.answers_list li{list-style:none;padding-top:7px;padding-bottom:5px;border-bottom:1px solid #e6e6e6;}
.answers_list .bl-hover{background-color:#f9f9f9;}
.answers_list h4{float:left;}
.answers_list{padding-right:5px;}
.answer_type{float:left;width:160px;margin-right:20px;}
.answer_type h4{padding-left:20px;font-size:12px;line-height:16px;font-weight:400;}
.answer_type h4 span{font-weight:700;font-size:12px;text-transform:uppercase;color:#3a7dbe;}
.answers_list h3{float:left;font-size:13px;line-height:16px;width:388px;text-transform:capitalize;}
.answers_list h3 a{text-decoration:none;color:#333;display:block;}
.answers_list h3 a:hover{text-decoration:underline;}
.answers_list h3 a::first-letter{text-transform:uppercase;}
.answers_body{margin-bottom:10px;}
li.answers_header{background-color:#e6e6e6;padding-top:0;padding-bottom:0;border-bottom:1px solid #ccc;border-top:1px solid #ccc;line-height:22px;}
li.answers_header h4,li.answers_header h3,li.asnwers_header .answer_time{line-height:22px;font-size:13px;font-weight:700;}
li.answers_header .answer_time{font-weight:700;color:#000;}
.answer_header_wrap{margin-bottom:10px;padding-right:7px;}
.answer_top_title_a{float:left;}
.answer_top_title_a .top_forum_links{color:#999;margin-left:0;}
.answer_top_title_a .top_forum_links a{color:#999;text-decoration:underline;}
.answer_top_title_a .top_forum_links a:hover{color:#3a7dbe;text-decoration:underline;}
.answer_top_title_b{float:right;width:171px; margin-right: -2px;}
.ask_question{float:right;margin:0;text-decoration:none;font-size:17px;padding:8px 25px;background-color:#3a7dbe;color:#fff;}
.email_notifier{float:right;margin:0;text-decoration:none;font-size:14px;padding:10px;background-color:#3a7dbe;color:#fff;}
.ask_question:hover,.email_notifier:hover{background-color:#0F5382;}
.ask_question2{float:right;margin-left:5px;margin-top:3px;margin-bottom:3px;margin-right:0;text-decoration:none;font-size:11px;line-height:12px;padding:5px 20px;background-color:gray;color:#fff;}
.bl-hover .question_list_title a{text-decoration:underline;}
#nav_categories{list-style:none;margin-bottom:20px;}
#nav_categories li{margin-bottom:5px;}
#nav_categories .radio{width:20px;margin-bottom:0;width:30px;}
.comment_stats ul.vote{float:right;list-style:none;padding-bottom:10px;}
.comment_stats .vote a{float:right;padding-right:10px;font-size:11px;}
.comment_stats .vote a:hover{text-decoration:none;}
.comment_stats .score{float:right;padding-right:0;font-size:11px;}
.comment_stats ul.user{float:left;list-style:none;margin:0;}
.comment_stats ul.user li{float:left;list-style:none;padding:0;font-size:11px;}
.comment_stats ul.user li a{font-weight:bold;text-transform:uppercase;}
#img_upload{float:left;padding-right:10px;}
#img_upload input{float:left;clear:left;}
#tag_wrap{clear:left;float:left;}
.answer_time{float:right;padding-right:10px;color:#666;width:145px;text-align:right;}
.answers_items .answer_time{line-height:16px;font-size:11px;}
li.username{float:left;}
.submit_answer{border:none;margin-right:20px;background-color:gray;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px;text-decoration:none;color:#fff;}
.submit_answer:hover{background-color:#666;}
.question_topic{color:#999;font-size:12px;line-height:12px;color:#3a7dbe;margin-bottom:10px;}
.question_topic span{text-transform:uppercase;}
.question_title{margin-bottom:5px;line-height:20px;font-size:22px;font-weight:400;}
.question_title a{text-decoration:none;color:#000;line-height:20px;display:block;}
.question_title a:hover{text-decoration:underline;}
.active_question_form{position:relative;}
.question_wrap{float:left;width:530px;}
.question_wrap2{float:left;width:500px;}
.question_avatar2{float:right;width:95px;padding:7px 5px;text-align:center;background:#CBDFED;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.question_avatar{float:right;width:155px;text-align:right;}
.question_user_photo{margin-bottom:3px;}
.asked_by a{font-weight:400;line-height:14px;color:#000;}
.asked_by span{font-weight:700;}
.asked_by_small{font-size:11px;}
.asked_by_small a{font-weight:400;font-size:11px;line-height:13px;color:#000;}
.asked_by_small span{font-weight:700;}
.question_time{color:#666;}
.question_time span{font-style:italic;}
.question_time a{color:#1C68B4;line-height:24px;}
.edit_question{display:block;}
.comment_date{float:left;font-weight:700;}
#add_more{color:#666;}
.thumb_wrap{float:left;padding-bottom:10px;}
.thumb img{border:1px solid #ccc;float:left;margin-right:5px;margin-top:10px;}
.comment_avatar{float:left;padding-right:6px;}
.comment_level_1{width:544px;padding-right:25px;padding-bottom:10px;}
.comment_level_2{width:500px;padding-bottom:10px;}
.comment_level_3{width:460px;padding-bottom:10px;}
.comment_level_4{width:420px;}
#weever-comments .reply_to_this{color:#3a7dbe;text-decoration:none;font-size:12px;}
#weever-comments .reply_to_this:hover{text-decoration:underline;}
#weever-comment .level_1{padding-right:10px;}
#weever-comments .level_2{margin-left:30px;background-color:#fff;border:1px solid #ccc;margin-right:17px;padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:0;margin-bottom:5px;}
#weever-comments .level_3{margin-left:40px;margin-top:0;border-top:1px solid #ccc;padding:10px 0 0;margin-bottom:0;}
#weever-comments .level_4{margin-left:40px;margin-top:0;border-top:1px solid #ccc;padding:10px 0 0;margin-bottom:10px;}
.level_2 .comment-children{padding-top:0;}
.level_1 .active_answer{padding-bottom:0;}
.active_answer_bot{height:5px;}
.file_attachment{float:left;width:80px;padding:4px 5px 0;font-size:11px;text-align:center;}
.file_attachment a{display:block;color:#666;word-wrap:break-word;}
#weever-comments p{margin-bottom:10px;}

/* Events Page */
.map_listing_pagination{width:200px;float:left;clear:left;text-decoration:none;line-height:14px;font-size:12px;margin-bottom:8px;font-weight:700;}
.map_listing_pagination a{text-decoration:none;font-size:16px;}
.map_listing{text-decoration:none;color:#242424;line-height:16px;font-size:14px;float:left;clear:left;width:200px;}
.map_listing:hover{text-decoration:underline;}
.map_listing_img{float:left !important;padding-bottom:3px !important;}
.submit_event_button{display:block;font-size:16px;font-weight:700;line-height:35px;background-color:#b6d19a;color:#2d5016;text-decoration:none;text-align:center;margin-bottom:10px;}
.google_event_map{background-color:#f2f2f2;height:320px;margin-bottom:0;overflow:hidden;}
.google_map_wrap{padding:5px;border:1px solid #e6e6e6;margin:0 0 15px;overflow:hidden;}
.event_date{float:left;padding-right:15px;width:150px;}
.event_date h6{font-weight:400;font-size:13px;line-height:15px;}
.event_title{float:left;width:180px;padding-right:20px;}
.event_details{float:left;padding-right:0;width:531px;}
.event_details p{margin-bottom:0;}
.event_list{padding:10px;border-bottom:1px solid #d7e3f4;}
.event_premium{background-color:#d7e3f4;border-bottom:none;margin-bottom:5px;}
.event_list h4{font-size:13px;font-weight:700;line-height:18px;color:#242424;}
.event_list h4 a{font-size:13px;font-weight:700;line-height:18px;color:black;text-decoration:none;display:block;}
.event_list h4 a:hover{text-decoration:underline;color:#1C68B4;}
.event_header_links{margin-bottom:40px;}
.event_header_links a{text-decoration:none;float:right;font-size:12px;line-height:12px;padding:5px 20px;background-color:gray;color:#fff;}
.event_header_links .submit_event{background-color:#3a7dbe;margin-right:10px;}
.events_list_title{color:#3a7dbe;float:left;font-weight:400;padding-left:5px;font-size:18px;line-height:18px;padding-top:6px;}
.no_events_list_title{color:#3A7DBE;float:left;font-weight:400;padding-left:5px;font-size:18px;line-height:18px;padding-top:6px;}
.event_header_wrap{border-bottom:2px solid #ccc;margin:0 0 5px;padding:0 0 15px;}
.event_header_wrap > a{float:right;margin:3px 0 3px 5px;padding:7px 20px;font-size:11px;text-decoration:none;line-height:12px;color:#fff;}
.event_header_wrap .submit_news{margin-right:0;font-size:14px;background-color:#3a7dbe;}
.event_header_wrap .submit_news:hover{background:#13487C;}
.events_article{margin-left:10px;width:728px;margin-right:0;padding-right:10px;border-right:1px solid #e6e6e6;float:left;display:inline;position:relative;}
.events_sidebar,.career_sidebar{width:218px;float:left;display:inline;position:relative;border-left:1px solid #e6e6e6;margin-left:-1px;}
.tag_icon li a{background:url(/pics/site/tag_blue.gif) 0 3px no-repeat;padding-left:20px;}
.all_tag li{background:url(/pics/site/tag_green.gif) 0 3px no-repeat;padding-left:20px;}
.listing_tags a{float:left;background:url(/pics/site/tag_green.gif) 0 3px no-repeat;padding:0 0 0 20px;margin:0 0 0 10px;text-decoration:none;color:#1C68B4;}
.listing_tags a:hover{text-decoration:underline;}
.tag_hot{font-weight:700;}
.tag_hot:hover{text-decoration:none;}

.event-banner{margin:0 0 12px;text-align:center;line-height:initial;}
.event-banner img{max-width:715px;padding:5px;border:1px solid #DDD;}
.events_article_cont ul{margin:0 0 16px 16px;}

/* Newsletters Landing Page */
.newsl_article{float:left;width:655px;margin:0 10px 0 0;}
.newsl_content{color:#808080;font-size:12px;line-height:16px;overflow:hidden;border-bottom:1px solid #DDD;}
.newsl_archives{float:right;width:533px;}
.newsl_archives p{margin:0;color:#808080;}
.newsl_signup{font-size:14px;}
.newsl_signup a{display:block;color:#444;font-weight:bold;text-decoration:none;}
.newsl_signup a:hover{color:#3A7DBE;text-decoration:underline;}
.newsl_box{margin:15px 0 0;}

.newsl_tmb{float:left;width:110px;text-align:center;}
.newsl_tmb a{display:block;}
.newsl_tmb img{width:70px;}
.newsl_title_itm{color:#444;font-size:16px;}
.newsl_title_itm a{text-decoration:none;}
.newsl_title_itm a:hover{color:#3583BA;}
.bl-hover .newsl_title_itm{color:#3A7DBE;}
.newsl_rad{float:left;}

.display_archive{margin:10px 0 0;}
.campaign{padding:5px;}
.campaign{font-size:14px;}
.campaign a{color:#3583BA;text-decoration:none;}
.campaign a:hover{text-decoration:underline;}

/* Don't Show Country Tags */
.tag_id_north-america,.tag_id_south-americal,.tag_id_europe,.tag_id_asia,.tag_id_africa,.tag_id_australia{display:none;}

/* Jobs Board */
.job_header_c33{position:absolute; right:130px;}
.job_header_c44{position:absolute; right:35px;}
.job_header_c444{position:absolute; right:27px;}
.job_table{margin-bottom:10px;}
.job_table li{float:left;list-style:none;width:728px;margin-bottom:1px;}
.job_table li.listing_type_{border-bottom:1px solid #ddd;}
.job_header_c1{float:left;width:270px;padding-left:10px;margin-right:10px;padding-right:10px;font-weight:700;overflow:hidden;}
.job_header_c2{float:left;width:150px;font-weight:400;}
.job_header_c2a{float:left;width:140px;font-weight:400;}
.job_header_c2b{float:left;width:75px;font-weight:400;}
.job_header_c3{float:left;width:180px;font-weight:400;padding-left:5px;}
.job_header_c3a{float:left;font-weight:400;width:100px;}
.job_header_c3b{float:left;width:180px;font-weight:400;}
.job_header_c4{float:left;font-weight:400;width:88px;}
.job_header_c1,.job_header_c2,.job_header_c2a,
.job_header_c2b,.job_header_c3,.job_header_c3a,.job_header_c3b,
.job_header_c4{min-height:22px;}
.job_table_header h5 span{font-weight:700;}
.job_table li h3{float:left;font-size:13px;line-height:30px;}
.job_table li h3 a{float:left;font-weight:400;font-size:13px;line-height:30px;}
.job_table li h3 a:hover{color:#1c68b4;}
.job_table li h3 a span{cursor:pointer;font-size:13px;line-height:30px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.job_table_header{background-color:#ccc;margin-bottom:2px!important;}
.job_table li.listing_type_2{background-color:#D7E3F4;}
.job_table a{color:#000;display:block;text-decoration:none;}
.job_header_wrap > a{float:right;margin:3px 0 3px 5px;text-decoration:none;font-size:14px;line-height:12px;padding:7px 20px;color:#fff;}
.job_header_wrap .submit_news{background-color:#3a7dbe;margin-right:0;}
.job_header_wrap .submit_news:hover{background:#13487C;}
.google_map_wrap .marker-details {font-size:0.9em;margin-top:5px;}
.google_map_wrap .marker-details h3 {display:block;font-size:1em;color:#444;line-height:12px;margin-bottom:2px;}
.google_map_wrap span.md-desc,
.google_map_wrap .marker-details span {clear:both;display:block;font-size:0.9em;color:#444;}
#cp_search{float:right;margin-top:4px;}
#cp_search_box{float:right;margin-right:3px;width:170px;height:18px;border:1px solid #ddd;padding-left:5px;font-style:italic;color:gray;}
#cp_search_button{float:right;cursor:pointer;padding-left:10px;padding-right:10px;font-size:12px;line-height:21px;background-color:#ccc;color:#000;border:0 none;margin-bottom:5px;}
#eng_calc{background:url(/pics/site/calculator.png) 0 6px no-repeat;padding-left:20px!important;margin-left:10px;}

/*----------------------------- Toolbox Styling -----------------------------------*/
.dataTable td{padding:8px;border:1px solid #000;cursor:default;padding-top:3px;padding-bottom:3px;}
.dataTable th{line-height:28px;background-color:#f2f2f2;color:#222;border:1px solid #000;}
.dataTable{text-align:center;margin:0 auto;margin-bottom:30px;background-color:#fff;}
.dataTable .footer{text-align:left;background-color:#f2f2f2;color:#222;}

/* Tool Body Text */
.toolbox_title{font-size:22px;font-weight:400;line-height:24px;margin-bottom:20px;}
.toolbox_category{color:#1C68B4;font-size:16px;}
.toolbox_list{list-style:none;margin-bottom:20px;}
.toolbox_list a{text-decoration:none;color:#222;}
.toolbox_list a:hover{text-decoration:underline;}
.tool_title{font-size:20px;font-weight:400;line-height:24px;}
.tool_subtitle{font-size:14px;color:#666;margin-bottom:40px;font-weight:400;}
.toolbox_style h4{color:#1C68B4;font-weight:700;margin-bottom:10px;}
.toolbox_style{margin-bottom:40px;}
.tool_html{}
.tools_docs ul{margin-left:20px;margin-bottom:20px;}
.tools_docs .latex img{max-width:100%;padding-bottom:20px;}

/* Site Toolbar */
#site_toolbar{filter:alpha(opacity=90);opacity:0.9;top:0;bottom:0;right:0;left:0;height:32px;background:#333;background:#3a7dbe;position:fixed;z-index:10000;line-height:32px;font-size:13px;color:#fff;}
#site_toolbar ul{list-style:none inside;margin-left:-13px;}
#site_toolbar li{float:left;height:32px;margin:0;}
#site_toolbar li.right_menus{float:right;}
#site_toolbar li.first{margin-left:0;}
#site_toolbar li.first a:hover span{text-decoration:none;}
#site_toolbar li.name span{font-weight:700;font-size:14px;line-height:30px;}
#site_toolbar a{color:#fff;font-size:13px;line-height:32px;text-decoration:none;display:block;padding-left:13px;padding-right:13px;}
#site_toolbar a:hover{color:#fff;text-decoration:none !important;background-color:#13487C;}
#site_toolbar a.last{font-weight:700;}
#site_toolbar a.text{font-size:16px;color:#fff;}
#site_toolbar a.text:hover{color:#b9b9b9;}
#site_toolbar .title_seperator{padding-left:5px;padding-right:5px;}

.toolbox_c1.main-ad-container { position: relative; top: -58px; left: 45px;}

/* Search Form */
.top_search_bar .search_box,.top_search_bar .search_go{display:inline;border:1px solid #bbb;margin:4px 0;font:11px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;}
.top_search_bar .search_box{height:19px;padding-left:5px;padding-right:5px;width:180px;margin-right:4px;margin-left:4px;}
.top_search_bar .search_go{background-color:#666;color:#fff;width:30px;height:23px;margin:0;cursor:pointer;}
.top_search_bar .search_go:hover{background-color:#333;border-color:#aaa;}
.top_search_bar{font-size:14px;}

/* Search Page */
.search_results{list-style-type:none;}
.search_results h3,.search_results a{color:#000;text-decoration:none;}
.bl-hover h3 a,.bl-hover p,.search-result-page{color:#1c68b4!important;}

/* Tool Bar */
#toolbar_wrap{height:35px;width:100%;position:absolute;top:30px;left:0;background-color:#e6e6e6;}
#toolbar{height:80px;margin-bottom:20px;width:100%;display:none;position:absolute;top:0;left:0;}
#toolbar li{display:inline;list-style:none;line-height:35px;}
#toolbar .adminLinks li{margin-right:20px;}
#toolbar .adminLinks2 li{margin-left:20px;}

#toolbar li a, #toolbar li label{text-decoration:none;color:#333;font-size:12px;font-weight:700;}
#toolbar li a:hover{color:#000;text-decoration:underline;background-color:#fff;}
#toolbar .logout{text-decoration:none;font-weight:400;}
#toolbar .logout:hover{text-decoration:underline;}
#toolbar .adminLinks{float:left;}
#toolbar .adminLinks2{float:right;}
#toolbar .small{font-size:10px;color:#666;}
#toolbar_handle{cursor:pointer;position:absolute;top:40px;left:20px;width:30px;height:16px;background:url(/pics/site/hammer.png) top left no-repeat;}

/*----------------- SAEF Testing ---------------------------- */
.saef_test td{padding:10px;padding-bottom:10px;padding-top:10px;}
.saef_test td{border:1px solid #ccc;}
.saef_test th{padding-left:10px;padding-right:10px;background-color:#000;color:#fff;}
.submit_deals a{text-decoration:none;display:block;padding:10px;background-color:#3a7dbe;float:left;color:#fff;padding-top:5px;padding-bottom:5px;margin-bottom:20px;}
.submit_deals a:hover{background-color:#000;}
.white{color:#fff;}
.deal_listings h5{margin-bottom:10px;}
.deal_listings .ff-ft{margin-bottom:10px;}
.ff-ft a{text-decoration:none;}
.tags_textarea{width:200px;height:100px;}
.form input{width:300px;margin-bottom:20px;}
.form input.radio{width:auto;}
.form select{margin-bottom:20px!important;}

/*---------------------- FoxEE Testing ------------------------------ */
.foxee_ul{margin-left:20px;list-style:none;}
.foxee_ul li{margin-bottom:20px;}

/*---------------------- Brock Project -------------------------------- */
.brock_project p{margin-bottom:20px;}
.brock_project .line_header{padding-left:10px;line-height:24px;background-color:#3a7dbe;color:#fff;font-weight:700;}
.brock_project h5{font-size:14px;}
.brock_product{list-style:upper-roman;margin-left:20px;margin-bottom:20px;line-height:35px;}
.flow{margin-left:40px;margin-bottom:20px;}
.sub_details{margin-left:40px;}
.brock_project h6{font-size:12px;color:#3a7dbe;}
.brock_project .HL{border-bottom:1px solid #ccc;margin-bottom:20px;}
.brock_project .code_example,.codeblock{background-color:#f2f2f2;padding:20px;margin-bottom:20px;}
.brock_project .links{margin-left:20px;}
.brock_project .list{margin-left:20px;list-style:none;margin-bottom:20px;}
.brock_project .list li{line-height:30px;}
.brock_project .links li{margin-bottom:10px;}
.brock_project .history{margin-left:20px;list-style:none;}
.logout_link{margin-bottom:20px;display:block;float:left;text-decoration:none;background-color:#000;color:#fff;padding-left:10px;padding-right:10px;}

/* ------------------ Basic HTML ---------------------------------------------------------- */
.format ul{margin-left:20px;}
ol{list-style:decimal;margin-left:20px;}
ol li{margin-bottom:10px;}
ul{list-style:disc;}
a.link{text-decoration:underline;color:#1C68B4;}
h1{font-size:22px;font-weight:400;}
h2{font-size:20px;font-weight:700;}
h3{font-size:18px;font-weight:700;}
h4{font-size:16px;font-weight:700;}
h5{font-size:14px;font-weight:700;}
h6{font-size:12px;font-weight:700;}
p{margin-bottom:20px;word-wrap:break-word;-moz-hyphens:auto;-webkit-hyphens:auto;-o-hyphens:auto;hyphens:auto;}

/* Common */
.hide,.require_javascript{display:none;}
.js_enable_msg{margin-left:10px;}
.h1_description_block { margin-bottom:15px;color:#666; clear: both;}
/*.error{color:red!important;font-style:italic;display:none;}*/
label.error{position:absolute;float:none;clear:none;padding:12px 0 0;color:red!important;font-style:italic;text-align:left;}
em.error{font-weight:bold;color:#F00;}
.error_message{color:red;font-style:italic;display:none;}
#error_empty{padding:5px 10px 0;color:red;font-style:italic}
.hide_junk{display:none;}
.show_junk{cursor:pointer;text-decoration:underline;color:#3a7dbe;}
.disable_text_select{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

/* Interest Tags */
.interest_tags{list-style:none;padding-bottom:10px;margin-bottom:0!important;}
.interest_tags li{line-height:22px;overflow:hidden;text-overflow:ellipsis;}
.interest_tags a{font-size:12px;line-height:22px;padding-left:10px;margin-left:5px;text-decoration:none;color:#000;text-transform:capitalize;display:block;height:22px;}
.interest_tags a:hover{color:#000;background-color:#ececec;}
.interest_tags a span{color:#069;}
.interest_title{font-weight:400;text-transform:uppercase;color:#3a7dbe;padding-left:15px;font-size:15px;line-height:23px;font-weight:700;}
.w_bottom{border-bottom:1px solid #ccc;border-bottom:none;}

/* Demo Ads */
.ad_border{border:1px solid #ddd;}
.ad h3{font-size:14px;}
.ad a{color:#666;text-decoration:none!important;}
.ad p{font-size:12px;color:gray;}
.sad {float: left;}
.sad{margin-bottom:20px;}
.sad a img{/*margin-bottom:20px;*/}
.ads_250_wrapper{width:250px;}
.ads_sidebar_200{width:300px;float:left;display:inline;position:relative;}
.sidebar_header{font-size:11px;line-height:11px;text-transform:uppercase;letter-spacing:1px;font-weight:400;margin-bottom:5px;}
.article_w_200_sidebar{width:655px;margin-right:10px;margin-left:10px;float:left;display:inline;position:relative;}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16{margin:0 auto;width:976px;}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_16{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px;}
/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
/* Clear Floated Elements End
----------------------------------------------------------------------------------------------------*/
.featured_sidebar_articles{color:#666;text-decoration:underline;font-weight:400;line-height:18px;font-size:12px;}
.featured_sidebar_articles:hover{text-decoration:underline; color: #000;}
.featured_sidebar_header{margin-bottom:8px;}
h3 .news_partition_header{float:left;line-height:28px;font-size:12px;padding-right:5px;font-weight:700;color:#242424;text-transform:uppercase;}
.news_partition_header_wrap{background-color:#e6e6e6;padding-left:10px;padding-right:5px;margin-bottom:20px;}

/* Wallpaper Ad */
#wallpaper_image{position:absolute;z-index:0;width:100%;min-width:1002px;height:100%;background-attachment:scroll;background-repeat:no-repeat;background-position:center top;}
#wallpaper_clickthru{position:absolute;display:block;width:100%;min-width:1002px;height:100%;margin-left:auto;margin-right:auto;left:0;z-index:-1;}

/* Leaderboard */
.leaderboard .pulse-header { color: black; margin: 1px 0 0 0; padding-right:2px; font-size: 14px; font-family: helvetica, arial; text-align: center; font-weight: bold;}
.leaderboard {margin:10px 0 0;padding:0 0 10px;width:975px;border-bottom:1px solid #D5D5D5;}
/*.leaderboard {margin:10px 0 0 10px;padding:0 0 10px;width:975px;border-bottom:1px solid #D5D5D5;}*/
.leaderboard .bl-hover {border-color: #1C68B4 !important; color: #1C68B4 !important ;}
.leaderboard .bl-hover .pulse-header { color: #1C68B4 !important ;}
.leaderboard .pulse-header-summary { width: 145px; display: block; font-size: 11px; float: right; line-height: 13px; margin-right: 2px;}

/* Pulse Button */
.pulse-button li{list-style-type: none; float: left;  margin-top: -3px;}
.pulse-button li a{font-family:arial,helvetica;background-color:#3A7DBE;display:block;padding:2px 2px;width:66px;color:#fff;font-size:10px;text-align:center;}
.pulse-button li a:hover{color:#fff !important;text-decoration:none !important;background-color:#999 !important;}
.pulse-button li #more_issues{background-color: #666;}

/* Profile Edit Profile */
#entryform .submit,.submit_ref{cursor:pointer;padding:5px;color:#FFF;font-size:14px;line-height:24px;text-align:center;text-decoration:none;border:none;background:#3A7DBE;font-family: Arial,sans-serif;}
#entryform input.submit:hover,input.submit_ref:hover{background:#13487C;}

/* Popup Box */
#box-content{padding:30px 0 0;}
#timer{position:absolute;top:0;right:0;width:180px;height:21px;padding:4px 34px 0 10px;font-size:12px;line-height:15px;color:#fff;background:#000;}
.overlay{display:none;z-index:11000;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:.0;filter:alpha(opacity=0);}
.pbox{min-width:250px;z-index:11005;text-align:center;}
.close{position:absolute;top:-1px;right:8px;cursor:pointer;color:#fff;}
.close-toolbox-ad{position:absolute;top:-1px;right:8px;cursor:pointer;color:#000;z-index:100;}

/* Videos & Magazines */
/*.videos_title a,.magazines_title a{color:#3A7DBE;text-decoration:none;}
.videos_title a:hover,.magazines_title a:hover{text-decoration:underline;}*/
.videos_wrap,.magazines_wrap{margin:0 10px;}
.videos_wrap h2,.magazines_wrap h2{padding:5px 11px 0;font-size:19px; font-weight: 200;}
.videos_wrap ul,.magazines_wrap ul{margin-left:20px;margin-bottom:20px;}
.videos_wrap h2 a,.magazines_wrap h2 a{font-weight:200;color:#3771c8;color:#000;text-decoration:none;}
.videos_wrap h2 a:hover,.magazines_wrap a:hover,.v_more h2 a:hover{color:#1c68b4;}
.v_details h2{overflow:hidden;width:227px;padding:6px 0 0;line-height:16px;font-size:14px;font-weight:bold;color:#3A7DBE;}
.v_details h2 a{word-wrap:break-word;white-space:normal;font-weight:bold;color:#3A7DBE;text-decoration:none;}
.v_details h2 a:hover{text-decoration:none;}
.v_details p{margin:0;font-size:12px;}
.v_details p a{color:#3A7DBE;text-decoration:none;}
.v_details p a:hover{text-de