/* Wrapper */
.stage_wrapper{margin:0 auto;width:898px;}
.stage_top{margin-top:20px;}

/* Adbar */
.adbar{color:#fff;position:relative;float:left;width:100%;}
.adbar li{list-style:none;float:left;font-size:13px;line-height:16px;padding-top:6px;}
.adbar li a{color:#fff;text-decoration:none;font-size:13px;line-height:16px;padding-right:12px;padding-left:12px;}
.adbar li a:hover{text-decoration:underline;}
.adbar li a.adbar_hot{font-weight:700;text-decoration:none;}

/* Login and Request Buttons */
.login_button{background-color:#3a7dbe;color:#fff;margin-right:5px;}
.request_button{background-color:#cbddef;color:#3a7dbe;}
.splash_button{float:right;text-decoration:none;font-size:13px;line-height:26px;padding-left:20px;padding-right:20px;font-weight:700;}
.splash_button:hover{text-decoration:underline;}

/* Title */
.main_title{font-size:38px;color:#fff;line-height:42px;font-weight:700;font-family:"Century Gothic",Helvetica, sans-serif;letter-spacing:1px;margin-bottom:20px;}
.frontpage_splash{margin-bottom:30px;}

/* Main Splash Body */
.splash_header{padding:20px;}
.splash_body{background-color:#fff;margin-bottom:10px;box-shadow:#666 0px 1px 5px; -webkit-box-shadow:#666 0px 1px 5px; -moz-box-shadow:0px 1px 5px #666;}
.splash_bar_c1{width:360px;float:left;}
.splash_c1{width:350px;float:left;display:inline;position:relative;}
.splash_c1_margin{padding-left:30px;}
.splash_c2{width:546px;float:left;display:inline;position:relative;}
.splash_body_content{background:#3a7dbe url(/pics/site/splash_pcb.png) 500px -40px no-repeat;padding-top:20px;padding-bottom:20px;}
.splash_body_content2{background:#3a7dbe url(/pics/site/splash_pcb.png) 500px -40px no-repeat;padding-top:20px;padding-bottom:20px;}
.sign_up_input{clear:left;float:left;width:170px;font-size:12px;line-height:14px;height:16px;border:1px solid #ccc;padding:4px!important;margin-right:5px;color:gray;font-style:italic;}
.sign_up_submit{float:left;font-size:16px;background-color:#cbddef;color:#3a7dbe;border:none;padding-left:10px;padding-right:10px;height:25px;border-color:#b3b3b3;}
.sign_up_submit:hover{color:#666;cursor:pointer;}
.sign_up{font-size:15px;margin-top:6px;line-height:16px;margin-right:10px;letter-spacing:1px;color:#fff;margin-bottom:10px;}
#splash_logo{float:left;}
#splash_title{background-color:#3a7dbe;}
.splash_items{clear:left;float:left;margin-top:10px;margin-bottom:18px;}
.splash_items li{letter-spacing:1px;list-style:none;background:url(/pics/site/splash_bullet_white.png) 0 5px no-repeat;color:#fff;padding-left:15px;font-size:16px;line-height:16px;padding-bottom:10px;}
*html .sign_up_submit{overflow:visible;/* remove padding from left/right */width:0;/*remove the remaining space in IE6*/}

/* IE7 */
:first-child+html .sign_up_submit{overflow:visible;/* remove padding from left/right */width:auto!important;}

/* Splash Page */
.splash_page{margin-left:20px;padding-right:380px;}
.splash_page_video{margin-left:20px;width:670px;}
.splash_page_format{margin-left:20px;width:800px;}
.splash_page p{color:#fff;}

/* Request Invite */
.request_form h3{font-size:14px;font-weight:400;color:#fff;}
.invite_box{width:500px;height:150px;padding:3px;}
.medium_width{width:180px;margin-bottom:10px;padding-left:3px;}
.invite_submit{font-size:16px;background-color:#cbddef;color:#3a7dbe;border:none;height:25px;border-color:#b3b3b3;margin-bottom:20px;}
.invite_submit:hover{color:#666;}
.invite_list{color:#fff;float:left;margin-left:10px;width:150px;}
.invite_list li{list-style:none;background:url(/pics/site/splash_bullet_white.png) 0 6px no-repeat;font-size:12px;line-height:18px;padding-left:12px;}
.invite_list_wrap{margin-bottom:20px;}
.goal_list{color:#fff;margin-left:10px;margin-bottom:20px;}
.goal_list li{list-style:none;background:url(/pics/site/splash_bullet_white.png) 0 6px no-repeat;font-size:12px;line-height:18px;padding-left:12px;}

/* Splash Titles */
.splash_section_title{font-size:38px;line-height:40px;margin-bottom:20px;}

/* Feature Boxes */
.feature_box{margin-bottom:10px;position:relative; }
.feature_box li{list-style:none;float:left;display:inline;width:185px;padding:15px;margin-right:10px;border:1px solid #ccc;background-color:#fff;box-shadow:#999 0px 2px 3px; -webkit-box-shadow:#999 0px 2px 3px; -moz-box-shadow:0px 2px 5px #999}
.feature_box li.feature_last{margin-right:0;}
.feature_box h2{font-size:14px;font-weight:700;line-height:16px;float:left;color:#242424;}
.feature_img_wrap{height:120px;}

/* Footer */
.stage_footer{background:#3a7dbe url(/pics/site/splash_pcb.png) 400px -370px no-repeat;color:#fff;padding-left:20px;padding-right:10px;font-size:12px;line-height:28px;margin-bottom:40px;box-shadow:#666 0px 2px 5px; -webkit-box-shadow:#666 0px 2px 5px; -moz-box-shadow:0px 2px 5px #666;}