/* Elastislide Style */

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	background-color: #fff;
	margin: 0 0 10px;
}

.elastislide-wrapper.elastislide-loading {
	/*background-image: url(../images/loading.gif);*/
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding:10px 8px;
}

.elastislide-vertical {
	padding:40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin:0 4px;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
	vertical-align:top;
}

.elastislide-vertical ul li {
	display: block;
}

/*.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}*/

.elastislide-carousel ul li a img {
	display: block;
	width: 227px;
	max-width: 227px;
	/*height:132px;*/
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background:url(nav.png) no-repeat;
	width: 23px;
	height: 23px;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.7;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 10px;
	left: -14px;
	height:160px;
	margin-left: 1px;
	background-position: 0 center;
	background-color:#1B68B4;
}

.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -48px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: -13px;
	left: auto;
	background-position: -23px center;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
}