/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
#webenchcategory2 div,#webenchcategory2 span,
#webenchcategory2 h1,#webenchcategory2 h2,
#webenchcategory2 h3,#webenchcategory2 h4,
#webenchcategory2 h5,#webenchcategory2 h6,
#webenchcategory2 p,#webenchcategory2 blockquote,
#webenchcategory2 pre,#webenchcategory2  a,
#webenchcategory2 em,#webenchcategory2 font,
#webenchcategory2 img,#webenchcategory2 ins,
#webenchcategory2 kbd,#webenchcategory2 q,
#webenchcategory2 s,#webenchcategory2 samp,
#webenchcategory2 small,#webenchcategory2 strike,
#webenchcategory2 strong,#webenchcategory2 sub,
#webenchcategory2 sup,#webenchcategory2 tt,
#webenchcategory2 var,#webenchcategory2 b,
#webenchcategory2 u,#webenchcategory2 i,
#webenchcategory2 center,#webenchcategory2 dl,
#webenchcategory2 dt,#webenchcategory2 dd,
#webenchcategory2 ol,#webenchcategory2 ul,
#webenchcategory2 li,#webenchcategory2 fieldset,
#webenchcategory2 form,#webenchcategory2 label,
#webenchcategory2 legend,#webenchcategory2 table,
#webenchcategory2 caption,#webenchcategory2 tbody,
#webenchcategory2 tfoot,#webenchcategory2 thead,
#webenchcategory2 tr,#webenchcategory2 th,
#webenchcategory2 td {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;
	background: transparent;*/
}

#webenchcategory2 body {
	line-height: 1;
}
#webenchcategory2 ol,#webenchcategory2 ul {
	list-style: none;
}
#webenchcategory2 blockquote,#webenchcategory2 q {
	quotes: none;
}
#webenchcategory2 blockquote:before,#webenchcategory2 blockquote:after,
#webenchcategory2 q:before,#webenchcategory2 q:after {
	content: '';
	content: none;
}
#webenchcategory2  a {
	padding-top: 1px;
}
/* remember to define focus styles! */
#webenchcategory2 :focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
#webenchcategory2 ins {
	text-decoration: none;
}
#webenchcategory2 del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
#webenchcategory2 table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset css */
#wbpanel table{
	font-family: "Arial", Verdana, Helvetica, sans-serif;
	/*color:#525252;*/
	color:#000;
	font-size:12px;
}
/*table {
	font-size:12px;}
td {font-family: "Arial", Verdana, Helvetica, sans-serif;
	color:#525252;}
th {}*/
.tbl {
	width:300px;
	border:2px solid #cecece;
	border-collapse:collapse;
	margin:5px;
	padding: 0;
	table-layout:auto;
	font-family: "Arial", Verdana, Helvetica, sans-serif;
}
.tblheading {
	background-color:#cecece;
	height:30px;
	color:#000;
	padding:5px;
	font-weight:bold;
/*	font-size:14px; */
	font-size:12px;
	text-align:left;
	font-family: "Arial", Verdana, Helvetica, sans-serif;
	vertical-align:middle;
}
.tblheading a:link, .tblheading a:visited {
	color:#000;
	text-decoration: none;
}
.tbltr {
	background-color:#ebebeb;
	padding: 3px;
}
.tbltr a:link, .tbltr a:visited, .tbltr a:active {
	color:#FF0000;
	text-decoration: none;
/*	font-weight:bold;*/
}
.innertblbg {
	background-color:#ebebeb;
}
/*.tblinput {
	font-size:12px;
}*/
.txtInputBox {
	text-align:center;
	font-size:10px;
}
.txtselectbox {
	text-align:left;
	font-size:12px;
}
input.disabled {
	border: 2px solid;
	width:60px;
	text-align:center;
	font-size:10px;
	-webkit-border-radius:0;-khtml-border-radius:0;-moz-border-radius:0;border-radius:0;
	}
.btn1 { 
	cursor:pointer;
	color:#fff;
	font-weight:bold; 
	font-size:12px;
	font-family: "Arial",Arial,Helvetica,sans-serif;
	border:1px solid;
	*border:1px solid;
	text-align:center;
	padding:1px 5px; 
	/*width:auto;*/
	*width:80px;
	overflow:visible; 
	height:20px;
}
.btn1 {
	background:#d12424 url(http://focus.ti.com/graphics/shared/css/btn-red-bg.gif) top left repeat;
	border-color:#730000 #730000 #730000 #730000;
}
a.btn1 {
	color:#FFF;
	text-decoration:none;
	white-space:nowrap;
}
a:visited.btn1, a:active.btn1 {
	color:#FFF;
}
a:hover.btn1 {
	color:#FFF;
	text-decoration: underline;
}
.expanded {
	display:inline;
}
.collasped {
	display:none;
}
.WnavigationActive {
	background: #FFFFFF;
	border: 1px solid #cecece;
	border-top: 5px solid #ea272a;
	border-bottom:0;
	position: relative;
	z-index: 10;
/*	width: 54px; */
	width: 46px;
	top: 2px;
	padding:0;
	margin:0;
	text-decoration: none;
}
.WnavigationActive span {
	border:none;
	text-decoration: none;
	position:relative;
	z-index: 10;
	top: 2px;
	color: #000;
  	font-family: "Arial", Verdana, Helvetica, sans-serif;
	line-height:14px;
	padding:3px 0 0 0;
	margin:0;
}
.WnavigationInactive {
	border:none;
	border-top: 6px solid #FFFFFF;
	text-decoration: none;
	position:relative;
	z-index:0;
	top:0;
	padding:0;
	margin:0;
/*	width: 56px; */
	width: 46px;
}
.WnavigationInactive span {
	display:block;
	background: #ebebeb;
	border:1px solid #cecece;
	text-decoration:none;
	position:relative;
	z-index:0;
	top:2px;
	color: #000;
	font-family: "Arial", Verdana, Helvetica, sans-serif;
	line-height:14px;
	padding:0 0 5px 0;
	margin:0;
}
.WnavigationHover {
	border:none;
	border-top: 6px solid #FFFFFF;
	text-decoration:underline;
	position:relative;
/*	width: 56px; */
	width: 46px;
	z-index:0;
	padding:0;
	margin:0;
	top:0;
}
.WnavigationHover span {
	display:block;
	text-decoration:underline;
	background-color:#FFFFFF;
	border:1px solid #cecece;
	color: #ea272a;
	font-family: "Arial", Verdana, Helvetica, sans-serif;
	line-height:14px;
	position:relative;
	z-index:0;
	top:2px;
	padding:0;
	margin:0;
}
#WTabnavigation span{
	display:block;
/*	font-size:12px; */
	font-size:10px;
	font-weight:bold;
	text-align:center;
	margin-bottom:0;
	margin-top: 0px;
	padding: 3px 0 3px 0;
}
#WTabnavigation td{
	list-style: none;
	text-decoration: none;
}
#WTabnavigation ul {
	padding-left:0;
}
#WTabnavigation ul li {
	clear: none;
	float: left;
	list-style: none;
	margin-left: 0px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	padding-bottom: 3px;
	padding-top: -3px;
	margin-left:2px;
	margin-right:1px;
	margin-bottom:-2px;
/*	width: 54px; */
	width: 46px;
}
#WTabContent {
  float: left;
  border-top: 1px solid #cecece;
  cursor: auto;
  padding: 0px;
  width: 100%;
  min-height: 227px;
  background-color:#FFFFFF;
  font-family: "Arial", Verdana, Helvetica, sans-serif;
}
#WTabContent td, #WTabContent th {
  padding: 0;
  margin:0;
  font-family: "Arial", Verdana, Helvetica, sans-serif;
  color:#000;
  font-size:11px;
}
#WTabContent INPUT, #WTabContent OPTION, #WTabContent SELECT {
  font-size: 10px;
}

#webenchcategory2 {
  width: 200px;
  border: 2px solid #cecece;
}
/* style for switcher & processor panel */
#WTabContentProcessor {
  cursor: auto;
  padding: 0px;
  width: 100%;
  min-height: 227px;
  background-color:#cecece;
  font-family: "Arial", Verdana, Helvetica, sans-serif;
}
#WTabContentProcessor p {
  text-align: center;
  font-family: "Arial", Verdana, Helvetica, sans-serif;
}
#WTabContentProcessor ul {
list-style-type: none;
padding: 0px;
margin-left: 27px;
margin-top: 10px;
}
#WTabContentProcessor li {
background-image: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif);
background-repeat: no-repeat;
background-position: 0px 5px; 
padding-left: 14px;
text-align: left; 
}
#ssWTabContent {
  border-top: 1px solid #cecece;
  cursor: auto;
  padding: 0;
  margin: 0;
  width: 240px;
  min-height: 230px;
  background-color:#cecece;
  font-family: "Arial", Verdana, Helvetica, sans-serif;
}
#ssWTabContent h2 {
	color:#000;
	padding:0px;
	margin-left: 27px;
	font-weight:bold;
	font-size:16px;
	text-align:left;
}
#ssWTabContent ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 27px;
	margin-top: 10px;
}
#ssWTabContent li {
	background-image: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px; 
	padding-left: 14px;
	text-align: left;
	font-size: 14px;
}
#ssWTabContent td, #WTabContent th {
  padding: 0;
  margin:0;
  font-family: "Arial", Verdana, Helvetica, sans-serif;
  color:#000;
  font-size:12px;
}
#ssWTabContent INPUT, #WTabContent OPTION, #WTabContent SELECT {
  font-size: 12px;
}
