	

<div class="mm_digikey_wrap clearfix">
		<a href="http://www.digikey.com/?WT.z_cid=ref_eeweb_DKLogo" target="_blank">
			<img src="/pics/site/digikey-logo-small.png" alt="component search" id="mm_digikey_logo" width="70" height="35" /></a>
			<h3 id="mm_digikey_header">Browse Products</h3>

<div id="close_menu_ul">


<div class="close_menu"><a href="/catalog">View Product Index</a></div>

<div class="close_menu"><a href="#" id="close_menu" onclick="return false;"><span>X</span> Close Menu</a>|</div></div></div>

<div class="mm_c">

<ul>


<li><a onclick="window.open('http://www.digikey.com/product-search/en/audio-products?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Audio Products</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/boxes-enclosures-racks?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Boxes, Enclosures	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/cable-assemblies?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Cable Assemblies	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/cables-wires?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Cables, Wires	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/capacitors?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Capacitors	</a></li>
</ul></div>
<div class="mm_c">

<ul>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/circuit-protection?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Circuit Protection	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/connectors-interconnects?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Connectors	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/discrete-semiconductor-products?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Discrete Semi	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/fans-thermal-management?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Fans, Thermal	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/filters?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Filters	</a></li>
</ul></div>
<div class="mm_c">

<ul>
<li><a onclick="window.open('http://www.digikey.com/product-search/en/hardware-fasteners-accessories?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Hardware, Fasteners	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/inductors-coils-chokes?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Inductors, Coils, Chokes	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/integrated-circuits-ics?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Integrated Circuits (ICs)	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/isolators?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Isolators	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/line-protection-distribution-backups?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Line Protection	</a></li>
</ul></div>

<div class="mm_c">

<ul>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/optoelectronics?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Optoelectronics	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/potentiometers-variable-resistors?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Potentiometers	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/power-supplies-board-mount?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Power Supplies	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/prototyping-products?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Prototyping Products	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/relays?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Relays	</a></li>
</ul></div>
<div class="mm_c">

<ul>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/resistors?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Resistors	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/rf-if-and-rfid?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">RF and RFID	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/sensors-transducers?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Sensors, Transducers	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/soldering-desoldering-rework-products?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Soldering, Desoldering	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/static-control-esd-clean-room-products?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Static Control, ESD	</a></li>
</ul></div>

<div class="mm_c">

<ul>


<li><a onclick="window.open('http://www.digikey.com/product-search/en/switches?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Switches	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/tapes-adhesives?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Tapes, Adhesives	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/test-and-measurement?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Test Equipment	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/tools?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Tools	</a></li>

<li><a onclick="window.open('http://www.digikey.com/product-search/en/transformers?WT.z_cid=ref_eeweb_browseproducts', '_blank');return false;">Transformers	</a></li>
	
</ul></div>