			</div> <!-- container_16 -->
		</div>

	</div>

	{!-- SLIDE IN PROMO --}

	<div id="footer_bottom">
		{exp:get_between:find url="https://www.eeweb.com" selector="#footer_bottom"}
	</div>
	{exp:string name="foot"}
	<script type="text/javascript">
	$(document).ready(function() {
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i].trim();
				if (c.indexOf(name) == 0)
					return c.substring(name.length, c.length);
			}
			return "";
		}

		// cookie with no expire to set it to a session cookie
		function setCookie(cname, cvalue) {
			document.cookie = cname + "=" + cvalue + ";path=/";
		}
	});
	</script>
	<div style="position:absolute;z-index:-2;bottom:0;">
	<!--there's no user login for this site -->
	{tracking}  {!-- intended for LIVE SITE ONLY, Google Analytics and Double Click Tracking --}
	</div>
	{eeweb_ti_adroll_pixel}
</body>
</html>