        </div>

    </div>
</section>

<footer id="footer" class="footer">
    <div class="container">
        <div class="social-media-buttons">
            <ul>
                <li class="smb-facebook"><a href="#" data-network="facebook" class="smb-empty-div st-custom-button">Facebook</a></li>
                <li class="smb-twitter"><a href="#" data-network="twitter" class="smb-empty-div st-custom-button">Twitter</a></li>
                <li class="smb-google-plus"><a href="#" data-network="googleplus" class="smb-empty-div st-custom-button">Google+</a></li>
                <li class="smb-pinterest"><a href="#" data-network="pinterest" class="smb-empty-div st-custom-button st-hide-label">Pinterest</a</li>
                <li class="smb-linked-in"><a href="#" data-network="linkedin" class="smb-empty-div st-custom-button st-hide-label">LinkedIn</a></li>
            </ul>
        </div>
        <div id="footer_wrapper" class="clearfix">
            <div id="footer_logo" class="col col-a">
                <a href="https://www.schematics.com"><img src="{site_url}css/images/Schematics-Logo-Vertical-Large-White.png" alt="Schematics"></a>
            </div>
            <div class="col col-b">
                <h2>Come again!</h2>
                <p>You're a problem solver with ideas. Schematics.com brings you all the tools to tackle projects big and small—combining real-world components with online collaboration.</p>
            </div>
            <div class="col col-c">
                <h2>Company</h2>
                <a href="https://www.schematics.com/terms-of-use" target="_blank">Terms of Use</a><br>
                <a href="https://www.schematics.com/privacy-policy" target="_blank">Privacy Policy</a><br>
            </div>
            <div class="col col-d">
                <h2>Connect</h2>
                <a href="https://www.facebook.com/schematicscom" target="_blank">Facebook</a><br>
                <a href="https://twitter.com/schematicscom" target="_blank">Twitter</a><br>
                <a href="https://plus.google.com/101041950790835575600" rel="publisher" target="_blank">Google+</a><br>
            </div>
            <div class="col col-e">
                &nbsp;
            </div>
            <section class="footer-label">
                <p id="footer_copyright">Copyright © 2013 Aspen Labs LLC, All Rights Reserved.</p>
            </section>
        </div>
    </div>
</footer>

{exp:string name="foot"}

<script type="text/javascript">
    $(document).ready(function () {
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) == 0)
                    return c.substring(name.length, c.length);
            }
            return "";
        }

        // cookie with no expire to set it to a session cookie
        function setCookie(cname, cvalue) {
            document.cookie = cname + "=" + cvalue + ";path=/";
        }


        $('.menu-md').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            $('.nav2').toggleClass('open');

        });

        $('body').on('click', function() {
            $('.nav2').removeClass('open');

        });

        $('.social-media-buttons a.st-custom-button').on('click', function(e) {
            e.preventDefault();
        });
    });
</script>

</body>
</html>