</div>
</div>
</section>
<!--start static footer-->
<footer class="footer-wrap">
    <div class="container">
        <div class="footer-menu clearfix"><h2 class="network-title">Aspencore Network</h2>
            <div class="products-lnk"><h3>Products:</h3>
                <ul>
                    <li><a target="_blank" href="http://www.electronicproducts.com/">Electronic Products</a></li>
                    <li><a target="_blank" href="http://www.datasheets.com/">Datasheets.com</a></li>
                    <li><a target="_blank" href="http://www.eem.com/">EEM.com</a></li>
                    <li><a target="_blank" href="http://www.techonline.com/">TechOnline</a></li>
                </ul>
            </div>
            <div class="news-analysis-lnk"><h3>News &amp; Analysis:</h3>
                <ul>
                    <li><a target="_blank" href="http://www.eetimes.com/">EE Times</a></li>
                    <li><a target="_blank" href="http://www.powerelectronicsnews.com/">Power Electronics News</a></li>
                    <li><a target="_blank" href="http://www.edn.com/">EDN</a></li>
                    <li><a target="_blank" href="http://www.elektroda.pl/">Elektroda.pl</a></li>
                </ul>
            </div>
            <div class="design-lnk"><h3>Design:</h3>
                <ul>
                    <li><a target="_blank" href="http://www.ebnonline.com/">EBN</a></li>
                    <li><a target="_blank" href="http://www.electroschematics.com/">Electroschematics</a></li>
                    <li><a target="_blank" href="http://www.electronics-tutorials.ws/">Electronics-Tutorials</a></li>
                    <li><a target="_blank" href="http://www.planetanalog.com/">Planet Analog</a></li>
                    <li><a target="_blank" href="http://www.embedded.com/">Embedded</a></li>
                    <li><a target="_blank" href="http://www.embedded-know-how.com">Embedded Know How</a></li>
                    <li><a target="_blank" href="http://electronics-know-how.com/">Electronics Know How</a></li>
                    <li><a target="_blank" href="http://www.embedded-control-europe.com/">Embedded Control Europe</a>
                    </li>
                    <li><a target="_blank" href="http://embedded-news.tv/">Embedded News</a></li>
                    <li><a target="_blank" href="http://iot-design-zone.com/">IOT Design Zone</a></li>
                    <li><a target="_blank" href="http://motor-control-design.com/">Motor Control Design</a></li>
                </ul>
            </div>
            <div class="tools-lnk"><h3>Tools:</h3>
                <ul>
                    <li><a target="_blank" href="http://www.eeweb.com/">EEWEB</a></li>
                    <li><a target="_blank" href="http://www.partsim.com/">PartSim</a></li>
                    <li><a target="_blank" href="https://www.orderpcbs.com/">OrderPCBs</a></li>
                    <li><a target="_blank" href="http://www.pcbweb.com/">PCBWeb</a></li>
                    <li><a target="_blank" href="http://www.transim.com/iot">Product Advisor</a></li>
                    <li><a target="_blank" href="http://schematics.com/">Schematics.com</a></li>
                    <li><a target="_blank" href="http://www.schematics.io/">Schematics.io</a></li>
                    <li><a target="_blank" href="https://www.transim.com/Products/Engage">Engage</a></li>
                </ul>
            </div>
            <div class="global-network-lnk"><h2>Global Network</h2>
                <ul>
                    <li><a target="_blank" href="http://www.eetasia.com/">EE Times Asia</a></li>
                    <li><a target="_blank" href="http://www.eet-china.com/">EE Times China</a></li>
                    <li><a target="_blank" href="http://www.eetindia.co.in/">EE Times India</a></li>
                    <li><a target="_blank" href="http://www.eettaiwan.com/">EE Times Taiwan</a></li>
                    <li><a target="_blank" href="http://eetimes.jp/">EE Times Japan</a></li>
                    <li><a target="_blank" href="http://www.ednasia.com/">EDN Asia</a></li>
                    <li><a target="_blank" href="http://www.edntaiwan.com/">EDN Taiwan</a></li>
                    <li><a target="_blank" href="http://www.esmchina.com/">ESM China</a></li>
                    <li><a target="_blank" href="http://www.ednchina.com/">EDN China</a></li>
                    <li><a target="_blank" href="http://ednjapan.com/">EDN Japan</a></li>
                </ul>
            </div>
            <div class="advertisers-social-lnk">
                <div class="advertisers"><h2>For Advertisers</h2>
                    <ul>
                        <li><a href="http://mac.aspencore.com/AspenCore_Contact-Us.html" target="_blank">Contact
                            Sales</a></li>
                        <li><a href="http://mac.aspencore.com/AspenCore_Media-Guide.html" target="_blank">Media Guide
                            Request</a></li>
                    </ul>
                </div>
                <div class="social-connect"><h2>Connect With Us</h2>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/EEWeb" target="_blank"><span
                                class='symbol'>&#xe227;</span>Facebook</a></li>
                        <li><a href="https://plus.google.com/106739393028670099537" target="_blank"><span
                                class='symbol'>&#xe239;</span>Google+</a></li>
                        <li><a href="https://twitter.com/ee_web" target="_blank"><span class='symbol'>&#xe286;</span>Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-aspencore-lg"><a href="http://www.aspencore.com/" target="_blank"> <img
                src="https://www.eeweb.com/assets/themes/default/images/AspenCore_logo_general-@2x.png"> </a></div>
    </div>
    <div class="label-wrap">
        <div class="container">
            <div class="col-b"><a href="https://www.eeweb.com/contact-us">Contact Us</a> <a
                    href="https://www.eeweb.com/about-us">About Us</a> <a href="http://www.aspencore.com/privacy-policy"
                                                                          target="_blank">Privacy Policy</a> <a
                    href="http://www.aspencore.com/terms-of-use" target="_blank">Terms of Use</a> <a
                    href="https://www.eeweb.com/sitemap">Site Map</a> <a href="https://www.eeweb.com/newsletters">Newsletters</a>
            </div>
            <div class="col-a"> All contents are Copyright &copy; 2017 <a href="http://www.aspencore.com/">by
                AspenCore, </a>Inc. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<!--end static footer-->
{exp:string name="foot"}
<script type="text/javascript">
    $(document).ready(function () {
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) == 0)
                    return c.substring(name.length, c.length);
            }
            return "";
        }

        // cookie with no expire to set it to a session cookie
        function setCookie(cname, cvalue) {
            document.cookie = cname + "=" + cvalue + ";path=/";
        }
    });
</script>
<div style="position:absolute;z-index:-2;bottom:0;">
    <!--there's no user login for this site -->
    {tracking} {!-- intended for LIVE SITE ONLY, Google Analytics and Double Click Tracking --}
</div>
{eeweb_ti_adroll_pixel}
</body>
</html>
