<div class="mega-menu-container clearfix dropdown-panel-check"><a href="#" class="mega-menu menu-close">Aspencore
    Network</a>
    <div class="menu-dropdown clearfix">
        <div class="wrap">
            <div class="inner-wrap">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#news-and-analytics">News &amp; Analysis</a></li>
                    <li><a data-toggle="tab" href="#products">Products</a></li>
                    <li><a data-toggle="tab" href="#design">Design</a></li>
                    <li><a data-toggle="tab" href="#tools">Tools</a></li>
                    <li><a data-toggle="tab" href="#extras">About Us</a></li>
                </ul>
                <div class="tab-content">
                    <button class="arrow-left"></button>
                    <div class="header-wrap">
                        <span class="x-button"></span>
                        <span class="aspencore-symbol">
                            <img src="https://www.eeweb.com/assets/themes/default/images/aspencore-logo-symbol.svg" alt="aspencore logo">
                        </span>
                        <h2 class="header-title">Aspencore Network</h2>
                    </div>
                    <div id="news-and-analytics" class="tab-pane active">
                        <ul class="clearfix">
                            <li>
                                <div class="website-logo">
                                    <a href="http://www.eetimes.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/eetimes.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/eetimes.png"
                                             srcset="/pics/v2/media-brands/eetimes.png 195w"
                                             alt="EE Times">
                                    </picture>
                                </a>
                                </div>
                                <div class="description"><p>News the global electronics community can trust</p></div>
                                <div class="website-text">
                                    <a href="http://www.eetimes.com/" target="_blank">eetimes.com </a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo">
                                    <a href="http://www.powerelectronicsnews.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/powerelectronicsnews.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/powerelectronicsnews.png"
                                             srcset="/pics/v2/media-brands/powerelectronicsnews.png 195w"
                                             alt="Power Electronics News">
                                    </picture>
                                </a>
                                </div>
                                <div class="description"><p>The trusted news source for power-conscious design
                                    engineers</p></div>
                                <div class="website-text">
                                    <a href="http://www.powerelectronicsnews.com/" target="_blank">powerelectronicsnews.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.ebnonline.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/ebn.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/ebn.png"
                                             srcset="/pics/v2/media-brands/ebn.png 195w"
                                             alt="EBN"></picture>
                                </a></div>
                                <div class="description"><p>Supply chain news for the electronics industry</p></div>
                                <div class="website-text">
                                    <a href="http://www.ebnonline.com/" target="_blank">ebnonline.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.elektroda.pl/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/elektroda.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/elektroda.png"
                                             srcset="/pics/v2/media-brands/elektroda.png 195w"
                                             alt="Elektroda PL"></picture>
                                </a></div>
                                <div class="description"><p>The can't-miss forum engineers and hobbyists</p></div>
                                <div class="website-text">
                                    <a href="http://www.elektroda.pl/" target="_blank">elektroda.pl</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="products" class="tab-pane ">
                        <ul class="clearfix">
                            <li>
                                <div class="website-logo"><a href="http://www.electronicproducts.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/electronicsproducts.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/electronicsproducts.png"
                                             srcset="/pics/v2/media-brands/electronicsproducts.png 195w"
                                             alt="Electronic Products"></picture>
                                </a></div>
                                <div class="description"><p>Product news that empowers design decisions</p></div>
                                <div class="website-text">
                                    <a href="http://www.electronicproducts.com/" target="_blank">electronicproducts.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.datasheets.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/datasheets.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/datasheets.png"
                                             srcset="/pics/v2/media-brands/datasheets.png 195w"
                                             alt="DataSheets.com"></picture>
                                </a></div>
                                <div class="description"><p>Design engineer' search engine for electronic components</p>
                                </div>
                                <div class="website-text">
                                    <a href="http://www.datasheets.com/" target="_blank">datasheets.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.eem.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/eem.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/eem.png"
                                             srcset="/pics/v2/media-brands/eem.png 195w"
                                             alt="EEM.com"></picture>
                                </a></div>
                                <div class="description"><p>The electronic components resource for engineers and purchasers</p></div>
                                <div class="website-text">
                                    <a href="http://www.eem.com/" target="_blank">eem.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="design" class="tab-pane ">
                        <ul class="clearfix">
                            <li>
                                <div class="website-logo"><a href="http://www.embedded.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/embedded.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/embedded.png"
                                             srcset="/pics/v2/media-brands/embedded.png 195w"
                                             alt="Embedded.com"></picture>
                                </a></div>
                                <div class="description"><p>The design site for hardware software, and firmware
                                    engineers</p></div>
                                <div class="website-text">
                                    <a href="http://www.embedded.com/" target="_blank">embedded.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.electroschematics.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/electroschematics.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/electroschematics.png"
                                             srcset="/pics/v2/media-brands/electroschematics.png 195w"
                                             alt="Electroschematics"></picture>
                                </a></div>
                                <div class="description"><p>Where makers and hobbyists share projects</p></div>
                                <div class="website-text">
                                    <a href="http://www.electroschematics.com/" target="_blank">electroschematics.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.edn.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/edn.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/edn.png"
                                             srcset="/pics/v2/media-brands/edn.png 195w"
                                             alt="EDN"></picture>
                                </a></div>
                                <div class="description"><p>The design site for electronics engineers and engineering
                                    managers</p></div>
                                <div class="website-text">
                                    <a href="http://www.edn.com/" target="_blank">edn.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.electronics-tutorials.ws/"
                                                             target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/electronicstutorials.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/electronicstutorials.png"
                                             srcset="/pics/v2/media-brands/electronicstutorials.png 195w"
                                             alt="Electronic Tutorials"></picture>
                                </a></div>
                                <div class="description"><p>The learning center for future and novice engineers</p>
                                </div>
                                <div class="website-text">
                                    <a href="http://www.electronics-tutorials.ws/" target="_blank">electronics-tutorials.ws</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.techonline.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/techonline.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/techonline.png"
                                             srcset="/pics/v2/media-brands/techonline.png 195w"
                                             alt="TechOnline"></picture>
                                </a></div>
                                <div class="description"><p>The educational resource for the global engineering
                                    community</p></div>
                                <div class="website-text">
                                    <a href="http://www.techonline.com/" target="_blank">techonline.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="tools" class="tab-pane ">
                        <ul class="clearfix">
                            <li>
                                <div class="website-logo"><a href="https://www.eeweb.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/eeweb.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/eeweb.png"
                                             srcset="/pics/v2/media-brands/eeweb.png 195w"
                                             alt="EEWeb"></picture>
                                </a></div>
                                <div class="description"><p>Where electronics engineers discover the latest tools</p>
                                </div>
                                <div class="website-text">
                                    <a href="https://www.eeweb.com/" target="_blank">eeweb.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="https://www.orderpcbs.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/orderpcbs.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/orderpcbs.png"
                                             srcset="/pics/v2/media-brands/orderpcbs.png 195w"
                                             alt="OrderPCBs.com"></picture>
                                </a></div>
                                <div class="description"><p>Get quotes from multiple board houses at the same time</p>
                                </div>
                                <div class="website-text">
                                    <a href="https://www.orderpcbs.com/" target="_blank">orderpcbs.com</a></div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.partsim.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/partsim.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/partsim.png"
                                             srcset="/pics/v2/media-brands/partsim.png 195w"
                                             alt="PartSim"></picture>
                                </a></div>
                                <div class="description"><p>Circuit simulation made easy</p></div>
                                <div class="website-text">
                                    <a href="http://www.partsim.com/" target="_blank">partsim.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://schematics.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/schematics.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/schematics.png"
                                             srcset="/pics/v2/media-brands/schematics.png 195w"
                                             alt="Schematics.com"></picture>
                                </a></div>
                                <div class="description"><p>Brings you all the tools to tackle projects big and small -
                                    combining real-world components with online collaboration</p></div>
                                <div class="website-text"><a href="http://schematics.com/" target="_blank">
                                    schematics.com </a></div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.pcbweb.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/pcbweb.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/pcbweb.png"
                                             srcset="/pics/v2/media-brands/pcbweb.png 195w"
                                             alt="PCB Web"></picture>
                                </a></div>
                                <div class="description"><p>Hardware design made easy</p></div>
                                <div class="website-text"><a href="http://www.pcbweb.com/" target="_blank">
                                    pcbweb.com </a></div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.schematics.io" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/schematicsio.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/schematicsio.png"
                                             srcset="/pics/v2/media-brands/schematicsio.png 195w"
                                             alt="Schematics.io"></picture>
                                </a></div>
                                <div class="description"><p>A free online environment where users can create, edit, and
                                    share electrical schematics, or convert between popular file formats like Eagle,
                                    Altium, and OrCAD.</p></div>
                                <div class="website-text"><a href="http://www.schematics.io" target="_blank">
                                    schematics.io </a></div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="http://www.transim.com/iot" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/productadvisor.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/productadvisor.png"
                                             srcset="/pics/v2/media-brands/productadvisor.png 195w"
                                             alt="IoT Product Advisor"></picture>
                                </a></div>
                                <div class="description"><p>Find the IoT board you’ve been searching for using this
                                    interactive solution space to help you visualize the product selection process and
                                    showcase important trade-off decisions.</p></div>
                                <div class="website-text">
                                    <a href="http://www.transim.com/iot" target="_blank">transim.com/iot</a></div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="https://www.transim.com/Products/Engage"
                                                             target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/Engage.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/Engage.png"
                                             srcset="/pics/v2/media-brands/Engage.png 195w"
                                             alt="Engage"></picture>
                                </a></div>
                                <div class="description"><p>Transform your product pages with embeddable schematic,
                                    simulation, and 3D content modules while providing interactive user experiences for
                                    your customers.</p></div>
                                <div class="website-text">
                                    <a href="https://www.transim.com/Products/Engage" target="_blank">transim.com/Products/Engage</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="extras" class="tab-pane ">
                        <ul class="clearfix">
                            <li>
                                <div class="website-logo"><a href="http://www.aspencore.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/aspencore.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/aspencore.png"
                                             srcset="/pics/v2/media-brands/aspencore.png 195w"
                                             alt="Aspencore"></picture>
                                </a></div>
                                <div class="description"><p>A worldwide innovation hub servicing component manufacturers
                                    and distributors with unique marketing solutions</p></div>
                                <div class="website-text">
                                    <a href="http://www.aspencore.com/" target="_blank">aspencore.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="https://www.siliconexpert.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/silicon-expert.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/silicon-expert.png"
                                             srcset="/pics/v2/media-brands/silicon-expert.png 195w"
                                             alt="Silicon Expert"></picture>
                                </a></div>
                                <div class="description"><p>SiliconExpert provides engineers with the data and insight
                                    they need to remove risk from the supply chain.</p></div>
                                <div class="website-text">
                                    <a href="https://www.siliconexpert.com/" target="_blank">siliconexpert.com</a></div>
                            </li>
                            <li>
                                <div class="website-logo"><a href="https://www.transim.com/" target="_blank">
                                    <picture>
                                        <source sizes="100vw"
                                                srcset="/pics/v2/media-brands/transim.png">
                                        <img class="img-featured"
                                             src="/pics/v2/media-brands/transim.png"
                                             srcset="/pics/v2/media-brands/transim.png 195w"
                                             alt="Transim"></picture>
                                </a></div>
                                <div class="description"><p>Transim powers many of the tools engineers use every day on
                                    manufacturers' websites and can develop solutions for any company.</p></div>
                                <div class="website-text">
                                    <a href="https://www.transim.com/" target="_blank">transim.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="arrow-right"></button>
                </div>
            </div>
        </div>
    </div>
</div>