<ul class="design-list">
    {exp:ti_designs:designs limit="6" paginate_base="includes/results" dynamic="no" status="o"}
    <li>
        <h3><a href="{url}" target="_blank">{title}</a></h3>
        {if description}
        <p>
            {exp:stringy:limitchars limit="230"}{description}{/exp:stringy:limitchars} ...
        </p>
        {/if}
    </li>
    {paginate}
    <div class="pagination">
        {pagination_links}
        <ul>
            {first_page}
            <li class="page-link"><a href="{pagination_url}" class="page-first" title="First"><i class="fa fa-angle-double-left"></i></a></li>
            {/first_page}

            {previous_page}
            <li class="page-link"><a href="{pagination_url}" class="page-previous" title="Previous"><i class="fa fa-angle-left"></i></a></li>
            {/previous_page}

            {page}
            <li class="page-link"><a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
            {/page}

            {next_page}
            <li class="page-link"><a href="{pagination_url}" class="page-next" title="Next"><i class="fa fa-angle-right"></i></a></li>
            {/next_page}

            {last_page}
            <li class="page-link"><a href="{pagination_url}" class="page-last" title="Last"><i class="fa fa-angle-double-right"></i></a></li>
            {/last_page}
        </ul>
        {/pagination_links}
    </div>
    {/paginate}
    {/exp:ti_designs:designs}
</ul>