<div class="ads-panel-container">
    <div class="overlay-panel">
        <div class="section-c">
            <ul class="products-list">
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/analog/amplifiersandlinears/amplifiersandlinears.page?HQS=hpa-null-null-eewebflyaway-bs-lp-amplifiers-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Amplifiers</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/analog/interface/interface.page?HQS=hpa-null-null-eewebflyaway-bs-lp-interface-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Interface</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/power-management/non-isolated-dc-dc-switching-regulator-overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-nonisolatedDCDC-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Non-Isolated DC/DC</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/power-management/voltage-reference-overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-voltageref-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Voltage References</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/analog/audio/overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-audio-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Audio</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/power-management/linear-regulators-ldo-overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-linearregulator-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Linear Regulator (LDO)</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/analog/powermanagement/power_portal.page?HQS=hpa-null-null-eewebflyaway-bs-lp-pwrmgmt-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Power Management</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/analog/webench/overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-WEBENCH-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Webench</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/power-management/battery-management-products-overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-battery-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Battery Management</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/logic/home_overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-logic-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Logic</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/power-management/power-management-multi-channel-ic-pmic-solutions-overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-pmic-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Power Management IC (PMIC)</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/general/docs/refdesignsearchresults.tsp?HQS=hpa-null-null-eewebflyaway-bs-lp-TIDesigns-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">TI Designs</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/analog/clockandtiming/clock_and_timing.page?HQS=hpa-null-null-eewebflyaway-bs-lp-clocks-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Clock and Timing</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/power-management/mosfet-and-igbt-gate-drivers-overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-MOSFET-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">MOSFET and IGBT Gate Drivers</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/power-management/power-modules-overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-powermodules-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Power Modules</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?https://store.ti.com?HQS=hpa-null-null-eewebflyaway-bs-store-store-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">TI Store</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/analog/dataconverters/data_converter.page?HQS=hpa-null-null-eewebflyaway-bs-lp-dataconverters-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Data Converters</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/analog/motordrivers/overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-motordrivers-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Motor Drivers</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com/lsds/ti/analog/sensors/overview.page?HQS=hpa-null-null-eewebflyaway-bs-lp-sensors-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">Sensors</a></li>
                <li><a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://my.ti.com?HQS=hpa-null-null-eewebflyaway-bs-myti-myti-wwe&DCM=yes" target="_blank" class="mouser-product-click"><img src="/pics/site/right-arrow.png">MyTI Registration</a></li>
            </ul>
        </div>
        <div class="visit-ti">
            <a href="https://ad.doubleclick.net/ddm/clk/309077560;136643348;k?http://www.ti.com?HQS=hpa-null-null-eewebflyaway-bs-lp-homepage-wwe&DCM=yes" target="_blank" class="mouser-product-click">visit ti.com <img src="/pics/site/right-arrow-white.png"></a>
        </div>
    </div>
</div>