.page-descriptions a{text-decoration:underline;}
.accordion dd > a{padding:10px 15px !important;font-size:21px !important;font-weight:bold;color:#FFF !important;background:#1B8BBA !important;}
.accordion dd > a:hover,.accordion dd.active > a{background:#007095 !important;}

table{border:0;border-collapse:collapse;}
table thead{background:#1B8BBA;}
table tbody tr{background:#E7E7E7 !important;}
table tbody tr:nth-of-type(2n){background:#F6F6F6 !important;}
table.list tr th{font-size:16px;color:#FFF;}
table.list th,table.list td{padding:15px;}

.content input,.content select{max-width:450px;}
.content textarea{max-width:550px;height:250px}
.s-sm input{max-width:none;}
.underline{text-decoration:underline;}