@font-face {
    font-family: 'denseregular';
    src: url('../fonts/dense-regular-webfont.eot');
    src: url('../fonts/dense-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dense-regular-webfont.woff') format('woff'),
         url('../fonts/dense-regular-webfont.ttf') format('truetype'),
         url('../fonts/dense-regular-webfont.svg#denseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}