.font-12{font-size:12px;}
.font-16{font-size:16px;}
.font-18{font-size:18px;}

.level-1,.level-2{padding:0;}
.level-2{margin:20px 0 20px 67px;}
.level-3{margin:20px 0 20px 105px;}

table{margin:0;}
table tbody tr{background:#E7E7E7 !important;}
table tbody tr:nth-of-type(2n){background:#F6F6F6 !important;}
.forum-section-wrap{margin:0 0 40px;}

.forum-thread-l h3,.forum-thread-l-i h3{margin:0 0 5px;font-size:16px;font-weight:bold;}
.forum-thread-l h3 a{text-decoration:underline;}
.forum-thread-l-i h3 a{color:#333;}
.forum-thread-l-i h3 a:hover{color:#008CBA;text-decoration:underline;}
.forum-thread-l p,.forum-thread-l-i p{margin:0;font-size:14px;color:#444;line-height:1.2;}
.forum-thread-l-i .post-time{display:block;margin:5px 0 0;font-size:12px;color:#777;}
.topics-new a,.post-new a{text-decoration:underline;}
.forum-thread-m{padding:3px 15px 10px;text-align:center;}
.post-head-wrap{margin:0 0 20px;padding:0 0 10px;font-size:16px;border-bottom:1px solid #999;}
.post-title{margin:0 0 5px;}
.post-title-i{font-weight:bold;}
.post-author{margin:0 0 10px;}
.post-author-i{float:left;word-wrap:break-word;width:140px;margin:0 0 10px;font-size:18px;text-decoration:none;}
.post-title a,.post-author a{text-decoration:underline;}
.post-time{color:#777;}
.post-time-i{padding:2px 0 0;font-size:14px;color:#666;text-align:right;}
.post-new{padding:0;}
.post-new-topic{padding:6px 25px;}

.forum-room-table thead{background:#1B8BBA;}
.forum-room-table thead th{font-size:16px;font-weight:bold;color:#FFF;text}
.forum-room-table thead th.forum-thread-mm{text-align:center;}
.forum-room-table{border:0;border-collapse:collapse;}

.forum-th-wrap{clear:both;border:1px solid #DDD;background:#D7D7D7;}
.forum-th-left{padding:25px 10px;}
.forum-th-right{min-height:275px;padding:25px 15px 15px;background:#FFF;}
.thumb-user{margin:0 0 10px;}
.status-author,.post-date{color:#008CBA;}
.status-author{float:left;width:140px;}
.post-date{margin:0 0 10px}
.reply-to-this a{text-decoration:underline;}

.reply-wrap{padding:20px 0 0;}
.reply-wrap-i{padding:0;}
.reply-wrap h2{font-size:32px;}
.comment-area-wrap label{font-size:16px;}
.comment-area-wrap a{text-decoration:underline;}
.comment-area{padding:15px;background:#1B8AB8;}
.comment-area textarea{height:250px;margin:12px 0 0;}
.comment-rules{margin:10px 0;}
.comment-rules p,.comment-rules label{margin:0;font-size:13px;}
.comment-rules a{text-decoration:underline;}

input.subject{max-width:500px;}
select.select-forums{max-width:200px;}
select.select-forums optgroup{padding:0 0 0 3px;font-style:normal;font-weight:normal;}

@media only screen and (min-width: 250px) and (max-width: 641px){
	.forum-room-table thead th,.forum-thread-l h3,.forum-thread-l-i h3,.forum-thread-m,.forum-thread-r{font-size:14px !important;}
	.forum-room-table{border:0;}
}
@media only screen and (max-width: 1024px){
	.post-author-i{float:right;}
	.thumb-user{float:left;}
	.status-author{clear:right;float:right;}
}
@media only screen and (max-width: 767px){
	div.table-wrapper{border:0 !important;}
}
@media only screen and (max-width: 356px){
	.post-author-i{float:left;}
	.thumb-user{float:left;}
	.status-author{clear:left;float:left;}
}
@media only screen and (max-width: 461px){
	.level-3 .post-author-i{float:left;}
	.level-3 .post-author-i{clear:left;float:left;}
	.level-3 .status-author{clear:left;float:left;}
}
@media only screen and (max-width: 423px){
	.level-2 .post-author-i,.level-3 .post-author-i{float:left;}
	.level-2 .status-author,.level-3 .post-author-i{clear:left;float:left;}
	.level-2 .status-author,.level-3 .status-author{clear:left;float:left;}
}