.leaderboard{padding-top:11px;padding-bottom:11px;text-align:center;}
.box-a h2,.box-b h2{margin:0;text-transform:uppercase;font-family:'denseregular';color:#FFF;background:#4A494A;}
.box-a h2{padding:5px 12px;font-size:24px;letter-spacing:.06em;}
.box-b h2,.login-title,.topics-title{padding:4px 10px;font-family:'denseregular';font-size:21px;letter-spacing:.06em;}
.box-a h2 a,.box-b h2 a{display:block;color:#FFF;}
.box-a h2 a:hover,.box-b h2 a:hover{color:#2597CD;}
.box-a h3{padding:5px 0;font-family:'Source Sans Pro';font-size:16px;border-bottom:1px solid #DDD;}
.box-a h3 a{color:#444;}
.box-a ul,.box-b ul{list-style:none;margin:0;}
.box-a ul li,.box-b ul li{margin:0;padding:5px 0;font-size:13px;}
.box-a ul li,.box-b ul li{border-bottom:1px solid #EEE;}
.box-b ul li:first-child{border-top:1px solid #EEE;border-bottom:1px solid #EEE;}
.box-a ul li a,.box-b ul li a{color:#666;}
.box-a h3 a:hover,.box-a ul li a:hover,.box-b ul li a:hover{color:#008CBA;}
.box-a-thumb {overflow:hidden;max-height:150px;border-left:1px solid #DDD;border-right:1px solid #DDD;border-bottom:1px solid #DDD;}
.box-b-thumb{position:relative;margin:0 0 20px;border-left:1px solid #DDD;border-right:1px solid #DDD;border-bottom:1px solid #DDD;}
.box-b-thumb h3{position:absolute;bottom:0;width:100%;margin:0;font-family:'Source Sans Pro';font-size:14px;background:url(../img/trans-bg.png);}
.box-b-thumb h3 a{display:block;padding:10px;font-size:14px;color:#FFF;}
.box-b-thumb h3 a:hover{color:#68CCFF;}
.featured-title{margin:0 0 10px;font-family:'Source Sans Pro';font-size:23px;font-weight:bold;color:#444;}
.login-title,.topics-title{margin:0;text-transform:uppercase;color:#FFF;background:#1B8BBA;}
.login-wrap{padding:15px;border-left:1px solid #DDD;border-right:1px solid #DDD;border-bottom:1px solid #DDD;}
.side-login-wrap{margin:0 0 15px;}
#side-user-login{margin:0}
#side-user-login .button{width:100%;}
#username,#password{color:#888;border:1px solid #1B8BBA; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
#sign-in{padding:5px 20px;font-size:14px; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
#remember_me{margin:0 5px 0 0;}
.remember_me{line-height:1px;}
.facebook{background:#3A5899; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.google{margin:0;background:#DD4A38; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.facebook:hover,.facebook:focus{background:#243D72;}
.google:hover,.google:focus{background:#BF3020;}
.topics-list{margin:0;list-style:none;}
.topics-list li{padding:10px 0;font-size:14px;border-bottom:1px solid #30ACDD;}
.topics-list li .views{color:#999;font-size:12px;}
.boom-box{text-align:center;}

@media only screen and (min-width: 250px) and (max-width: 641px){
	.box-a h2{font-size:.8em ;}
	.caption h2{font-size:1em;}
	.caption p{font-size:.8em;line-height:12px;}
	p.bjqs-caption{font-size:12px !important;}
}

/* Basic jQuery Slider essential styles */
.prev{position:absolute;z-index:5;left:7px;bottom:35px;}
.next{position:absolute;z-index:5;right:7px;bottom:35px;}
.prev a{display:block;width:21px;text-indent:-9999px;background:url(../img/controls.png) -0 0 no-repeat;}
.next a{display:block;width:21px;text-indent:-9999px;background:url(../img/controls.png) -24px 0 no-repeat;}

#slider{margin:0 auto;border:1px solid #DDD;}
p.bjqs-caption{position:absolute;bottom:0;width:100%;margin:0;padding:10px 42px;font-size:14px;color:#FFF;line-height:18px;background:url(../img/trans-bg.png);}
p.bjqs-caption a{display:block;color:#FFF;}
p.bjqs-caption a:hover,p.bjqs-caption:hover,p.bjqs-caption:hover a{cursor:pointer;color:#68CCFF;}
p.bjqs-caption span{display:block;font-size:21px;margin:0 0 10px;}
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
.bjqs-next a{display:block;width:21px;text-indent:-9999px;background:url(../img/controls.png) -24px 0 no-repeat;}
.bjqs-prev a{display:block;width:21px;text-indent:-9999px;background:url(../img/controls.png) -0 0 no-repeat;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:7px;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:7px;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}