@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,700italic,400italic,600italic);
@import "../css/font-awesome.css";
@import "../css/dense.css";
@import "../css/proximanova.css";
@import "../css/foundation.min.css";

/* Change font-family in foundation.css */
body{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
label{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-size:0.7rem;}
button, .button{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
.top-bar-section ul li > a{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
.pricing-table .title{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
.pricing-table .price{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
.tabs dd > a{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
.side-nav{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
.side-nav li.active > a:first-child:not(.button) {font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
.accordion dd > a{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
.sub-nav li{font-family: ProximaNova, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;}
/* End */

body{height:auto;margin:0;padding:144px 0 0 !important;font-size:14px;background:#ECECEC;color:#444;}

#wallpaper_image{z-index:0;top:66px;width:100%;height:100%;background:scroll center top no-repeat;position:absolute;}
.wrapper{padding:19px 0;min-height:596px;border:1px solid #DDD;}
.row{position:relative;}
.clear{display:none !important;}
.bg-white{background:#FFF;}
.tp-bt-pd-15{padding-top:15px;padding-bottom:15px;}
.top-pd-15{padding-top:15px;}
.no-margin{margin:0 !important;}
.no-padding{padding:0;}
.center{text-align:center;}
.block{display:block;}
.clear-bt{clear:both;}
.date,.status{color:#898989;}
.fixed{position:fixed !important;z-index:200;}
.border-r{border-right:1px solid #777;}
.line-h{padding:10px 0;line-height:45px;}
.bold{font-weight:bold;}
.pdd-5{padding:0 5px;}
.pdd-10{padding:10px 10px 0;}
.pdd-10-i{padding:52px 10px 0;}
.pdd-10-ii{padding:15px 0;}
.pdd-15{padding:15px 0 0;}
.pdd-19{padding:0 19px;}
.pdd-19-i{padding:0 19px 29px;}
.pdd-19-ii{padding:0 0 12px;}
.pdd-29{padding:0 29px;}
.pdd-34{padding:0 34px;}
.pdd-b-15{padding:0 0 15px;}
.pdd-tb{padding:5px 0 15px;}
.marg-b-15{margin:0 0 15px !important;}
.marg-5-15{margin:5px 0 15px !important;}
.marg-26-15{margin:26px 0 15px !important;}
.mrg-15{margin:15px 0;}
.contain-to-grid{height:66px;border-bottom:1px solid #DDD;background:#F5F5F5;}
.top-bar{height:66px;background:transparent;}
#side-user-login { font-size: 12px;}
.border{border:1px solid #DDD;}
.push{display:none;}

.main-logo{margin:0;padding:14px 0 0;font-size:14px;}
.main-logo a{display:block;width:197px;height:37px;text-indent:-9999px;background:url(../img/main-logo.png) no-repeat;}

.main-nav{display:inline-block !important;}
.main-nav li ul li.has-dropdown:hover:not(.has-form)>a{height:auto !important;padding:11px 14px !important;border-top:none;background:#1B8BBA !important;}
.main-nav li ul li ul li{border-left:1px solid #555;}
.main-nav li a{font-size:15px!important;text-decoration:none;}

.top-bar-section{position:relative;height:66px;text-align:center;}
.top-bar-section ul{background:none;}
.top-bar-section ul li{background:transparent;}
.top-bar-section ul li a{padding:11px 14px !important;color:#555;background:none !important;}

.top-bar-section ul li:hover:not(.has-form)>a{color:#888;}
.top-bar-section ul li ul li a{background:#2A2A2A !important;}
.top-bar-section li:not(.has-form) a:not(.button){line-height:44px;}
.top-bar.expanded .title-area{background:#F5F5F5;}
.top-bar .toggle-topbar.menu-icon a{color:#888;}
.top-bar .toggle-topbar.menu-icon a:hover{text-decoration:none;}
.top-bar .toggle-topbar.menu-icon a span:after{top:26%;box-shadow:0 10px 0 1px #888, 0 16px 0 1px #888, 0 22px 0 1px #888;}
.top-bar .toggle-topbar.menu-icon a:hover span:after{top:26%;box-shadow:0 10px 0 1px #888, 0 16px 0 1px #888, 0 22px 0 1px #888;}
.top-bar-section .has-dropdown.moved > .dropdown{background:#F5F5F5;}
.top-bar-section .has-dropdown > a{padding:11px 14px !important;}
.top-bar-section .has-dropdown > a:after{border-color:transparent transparent transparent;}
.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after{line-height:0.8 !important;content: ">" !important;}

.carrot{float:right;padding:4px 0 0;color:#BBB;text-align:right;}
.access a{font-size:12px !important;}
.dropdown li a{line-height:20px !important;border-bottom:1px solid #444;}
ul.dropdown li a{color:#FFF !important;}
ul.dropdown li a:hover{color:#FFF !important;text-decoration:none;background:#1B8BBA !important;}

.search{padding:12px 0 0;}
.search input,.search-mm input{height:auto;margin:0;padding:5px;color:#999; -webkit-border-radius:3px; -moz-border-radius:3px;border-radius:3px;}
.search-m,.search-mm{display:none;}
.search-sm{position:relative;z-index:0;float:right;top:11px;right:96px;}

.acse-i{display:none !important;}
.login .f-dropdown,.login .f-dropdown:after,.login .f-dropdown:before,.login .f-dropdown.content{width:273px;margin:0;border:0;background:#2A2A2A;}
.login{width:120px;height:66px;margin:0 2px 0 0;}
.login a{text-decoration:none !important;}
a.login-register.open:hover,a.user.open:hover{color:#FFF;border-top:3px solid #1B8BBA;background:#5A5A5A;}
.login-register.open:hover,.login-register.open{line-height:60px;}
a.user.open,a.user.open:hover{line-height:70px;}
a.user{line-height:74px;}
.login-register:active,.login-register:focus,.user:focus{color:#555;}
.login-register,.user,.login-register-icon{display:block;color:#555;height:66px;line-height:66px;}
.login-register-icon{font-size:32px;text-align:left;}
.login-register.open,.user.open{color:#FFF;border-top:3px solid #1B8BBA;background:#5A5A5A;}

#side-user-login .username,#side-user-login .password{display:block;margin:0;font-weight:normal; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
#side-user-login .password{margin:15px 0;}
#side-user-login .facebook,#side-user-login .google{padding:12px 0;}
#side-user-login .google{margin:7px 0 0;}

.login-top-wrap{text-align:left;}
.login-top{display:inline-block;top:0 !important;width:100px;margin:0 10px 0 0;padding:7px 0;font-size:14px;background:#1B8BBA; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
a.login-top{color:#FFF !important;}
.login-bottom-wrap{margin:10px 0 0;border-top:1px solid #666;}
.login-bottom-wrap .facebook{background:#3A5899; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.login-bottom-wrap .google{margin:0;background:#DD4A38; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.login-bottom-wrap .facebook:hover,.login-bottom-wrap .facebook:focus{text-decoration:none;background:#243D72;}
.login-bottom-wrap .google:hover,.login-bottom-wrap .google:focus{text-decoration:none;background:#BF3020;}
.login-bottom-wrap .button{width:100%;}
.forgot-password{display:inline-block;font-style:italic;font-size:14px;}
.not-member{margin:14px 0 0;padding:15px 0 0;font-size:14px;color:#FFF;line-height:12px;border-top:1px solid #666;}
.not-member a{text-decoration:underline;}

.user i{font-size:28px;}
.user-options{padding:0 !important;color:#FFF;text-align:left;}
.user-options li{float:none !important;border-bottom:1px solid #444;}
.user-options li:hover{background:#1B8BBA;}
.user-options li a{display:block;font-size:16px !important;color:#FFF !important;line-height:20px !important;}

.main-footer{background:#333;}
.main-footer-wrap{padding:20px 0;}
.main-footer-cont{padding:0 30px;}
.main-footer ul{list-style:none;margin:0;}
.main-footer ul li{font-size:14px;color:#FFF;}
.main-footer ul li a{color:#FFF;}
.main-footer ul li a:hover{color:#009DFF;text-decoration:none;}
.foot-title{margin:0 0 8px;font-size:18px !important;border-bottom:1px solid #FFF;}
.site-label{padding:15px 0;font-size:12px;}
.site-label{color:#FFF;text-align:center;background:#1E1E1E;}
.foot-eg-logo{padding:0 15px;text-align:center;}

.leaderboard{padding-top:11px;padding-bottom:11px;text-align:center;}

@media only screen and (min-width: 250px) and (max-width: 641px){
	body{padding:123px 0 0 !important;}
	.contain-to-grid{height:auto;}
	.main-logo{margin:0 0 0 15px !important;}
	.search{display:none;}
	/*.search-mm{display:block;position:absolute;top:10px;right:95px;}*/
	.search-mm{display:block;float:right;margin:11px 95px 0 0;}
	.contain-to-grid{background-image:none;background-color:#F5F5F5;}
	.top-bar-section{text-align:left !important;background:#F5F5F5;}
	.acse{margin:-2px 0 0 !important;background:#F5F5F5 !important;}
	.main-nav{border-bottom:1px solid #DDD;background:#F5F5F5 !important;}
	.main-nav li a:hover,.acse ul li a:hover{color:#EEE !important;}
	.break{display:none;}
	.access a{padding:15px !important;}
	#wallpaper_image{top:45px !important;}
	.pdd-10-i{padding:10px 10px 0;}
	.top-bar{height:45px;}
	.top-bar-section{border-bottom:1px solid #DDD;}
	.top-bar-section li:not(.has-form) a:not(.button){line-height:20px !important;}
	ul.color li{width:100% !important;}
	.top-bar-section ul li ul.dropdown h5 a,.top-bar-section ul li ul.dropdown h5 a:hover{color:#1B8BBA !important;font-weight:bold !important;}
	.top-bar-section ul li:hover:not(.has-form)>a{color:#555 !important;}
	.top-bar-section ul li ul.dropdown a:hover,.top-bar-section ul li.has-dropdown:hover:not(.has-form)>a{color:#555 !important;background:#F5F5F5 !important;}
	.top-bar-section ul li ul.dropdown a{color:#555 !important;background:#F5F5F5 !important;}
	.dropdown{border-bottom:1px solid #DDD;}
	.dropdown li a{border:none !important;}
	.trigger{display:none;}
	.main-nav li ul li.has-dropdown:hover:not(.has-form)>a{background:#F5F5F5 !important;}
	.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after{line-height:0.8 !important;content: " " !important;}
	.main-nav li ul li ul li{border-left:none;}
	.page-main-title{font-size:38px !important;}
	.options .small-4,.options .small-8{width:48%;padding:0;}
	.thread-options .large-2{}
	.thread-options .large-6{padding:0;}
	.thread-options .large-6 .small-5{width:100%;padding:0;}
	.thread-options .large-6 .small-7{clear:both;width:100%;text-align:center;}
	.thread-options .small-4{width:60%;}
	.pricing-wrap.small-8{width:100%;}
	.subs-options .small-9{width:65%;}
	.subs-options .small-3{width:30%;}
	.ch-file-wrap .button{margin:0 0 15px;}
	.ch-file-wrap .no-file{padding:8px 15px !important;}
	.pagi-prev,.pagi-next{min-width:50%;}
	img.right{float:initial 
		!important;}
	body .bjqs-caption .title {font-size:14px !important; margin-bottom: 5px; }
	body .box-b .box-b-thumb a{ font-size:10px;}
}
@media only screen and (min-width: 641px) and (max-width: 1024px){
	body{padding:144px 0 0 !important;}
	.contain-to-grid{background:#F5F5F5;}
	.acse{display:block;padding:0 15px 0 0;}
	.main-nav li a:hover,.acse ul li a:hover{color:#EEE !important;}
	.pdd-10-i{padding:10px 10px 0;}
	.main-logo{padding:0 !important;}
	.main-logo a{display:block;width:65px !important;height:65px !important;padding:0 !important;text-indent:-9999px;background:url(../img/main-logo-65.png) no-repeat !important;}
	#wallpaper_image{top:66px !important;}
	.article-thumb,.project-thumb{width:15%;}
	.article-details,.project-details{width:84%;}
	.profile-edit-wrap{width:55%;}
	.thread-options .large-2{width:45%;}
	.thread-options .large-6{width:45%;}
	.ch-file-wrap .button{margin:0 0 15px;}
	.ch-file-wrap .no-file{padding:8px 15px !important;}
	.side-login-wrap{width:40%;margin:15px auto !important;}
}
@media only screen and (min-width: 641px) and (max-width: 915px){
	.acse{display:none !important;}
	.acse-i{display:none !important;}
}
@media only screen and (min-width: 641px) and (max-width: 876px){
	.login{width:110px;}
	.search-m{margin:0 10px 0 0;font-size:18px;line-height:2;display:block !important;}
	.search-m a{padding:0 0 0 10px;}
	.search .search-wrap{display:none;}
	#drop-search.f-dropdown.content{width:273px;margin:0;padding:5px;text-align:left;border:none;background:#008CBA;}
	#drop-search.f-dropdown.content input{top:0;}
	#drop-search.f-dropdown.drop-left:before{border-color:transparent transparent transparent #008CBA;}
}
@media only screen and (min-width: 510px) and (max-width: 1006px){
	.box-a li{float:initial;width:456px;margin:0 auto;}
}
@media only screen and (max-width: 510px){
	.box-a li{float:initial;width:100%;}
}
/*@media only screen and (min-width: 877px){
	.login-register-icon{display:none;}
}*/
@media only screen and (max-width: 680px){
	.login .trigger{display:none;}
}
@media only screen and (min-width:641px){
	ul.expand li{width:200px !important;text-align:left !important;}
	.main-logo-m{display:none;}
	.top-bar-section ul li.has-dropdown:hover:not(.has-form)>a,.top-bar-section ul li.normal:hover:not(.has-form)>a,.top-bar-section div.normal:hover:not(.has-form)>a{height:66px !important;padding-top:8px !important;padding-bottom:11px !important;color:#FFF;border-top:3px solid #1B8BBA;background:#5A5A5A !important;}
	.carrot{display:none;}
	.login-sm{display:none;}
	.slider{margin:0 auto;}
}
@media only screen and (max-width:641px){
	.main-logo{display:none;}
	.expanded .top-bar-section{border-top:1px solid #DDD;}
	.top-bar-section .dropdown{top:-1px;border-top:1px solid #DDD;}
	.name,.expanded .name{float:left;}
	.main-logo-m{padding:4px 0 0;width:147px;}
	.main-logo-m a{display:block;width:197px !important;height:37px;padding:0 !important;text-indent:-9999px;background:url(../img/main-logo-65.png) 5px -14px no-repeat;}
	#drop-search-m-cnt{display:none;position:absolute;top:3px;right:120px;width:200px !important;margin:0;padding:5px;text-align:left;border:none;background:#008CBA;}
	#drop-search-m-cnt:after{position:absolute;top:50%;left:100%;pointer-events:none;content:" ";width:0;height:0;margin-top:-5px;border:solid transparent;border-color:rgba(0, 140, 186, 0);border-left-color:#008cba;border-width:5px;}
	.s-sm.f-dropdown:before{border-color:transparent transparent #008CBA;}
}
@media only screen and (max-width: 1023px){
	.main-logo{margin:0 0 0 15px !important;}
	.main-nav li a:hover,.acse ul li a:hover{color:#EEE !important;}
	#wallpaper_image{top:122px}
}