.head-wrap{margin:0 0 20px;border:1px solid #DDD;background:#D7D7D7;}
.profile-img{padding:15px;text-align:center;}
.profile-details{min-height:222px;padding:15px;background:#FFF;}
.profile-details h2,.profile-edit h2{font-size:26px;font-weight:bold;color:#1B8BBA;word-wrap:break-word;}
.profile-details ul{margin:0;list-style:none;}
.profile-details ul li{font-size:16px;line-height:1.1;}
.profile-details .d1,.profile-details .d2{margin:0 0 15px;}
.profile-buttons{text-align:center;background:#FFF;}

.tabs dd > a,.tabs .tab-title > a{padding:0;}
.tabs .active{height:38px;border-top:1px solid #DDD;border-left:1px solid #DDD;border-right:1px solid #DDD;border-bottom:1px solid #FFF;}
.tabs .active a{display:block;cursor:initial;padding:2px 20px;}
.tab-title.active{margin:0 0 0 5px;background:#FFF;}
.tab{width:110px;margin:0 0 5px 5px;padding:2px 0 !important;text-align:center;color:#FFF !important;border-radius:4px;background:#008cba !important;}
.tabs-content{margin:-1px 0 0;padding:10px;border:1px solid #ddd;background:#FFF;}
.tabs-content > .content,.tabs-content > .content p{margin:0;padding:0;}

.articles-cont{list-style:none;margin:0;padding:0;}
.articles-cont li{margin:15px 0 0;padding:15px 0 0;border-top:1px solid #DDD;}
.articles-cont li:first-child{margin:0;padding:0;border:0;}
.articles-details h3{margin:0;font-size:18px;font-weight:bold;line-height:20px;}
.articles-details h3 a{color:#008CBA;text-decoration:none;}
.articles-details span{display:block;margin:0 0 10px;font-size:13px;color:#666;}
.articles-details p{margin:0;font-size:14px;line-height:19px;}

.edit-photo{margin:10px 0 0;}
.edit-photo a{text-decoration:underline;}

.profile-edit-wrap h2{font-size:25px;}
.profile-edit{min-height:245px;padding:15px;background:#FFF;}

.ch-file-wrap{max-width:268px;}
.ch-file-wrap .no-file{padding:8px 15px 0;}

label .small-5{padding:5px 0 0 0;font-size:16px;text-align:right;word-wrap:break-word;}

@media only screen and (max-width:625px){
	.tabs .active{height:initial;text-align:center;border:1px solid #DDD;}
	.tab-title.active{margin:0;}
	ul.tabs li a.tab{width:100% !important;margin:5px 0;}
	ul.tabs li{width:100% !important;}
	.tabs-content{margin:6px 0 0 !important;}
	.articles-details{padding:0 5px;}
}
@media only screen and (max-width:1024px){
	.profile-details.small-7{width:75%;}
	.profile-buttons{min-height:72px;border-top:1px solid #DDD;}
	.profile-buttons .buttons{margin:15px 0;}
}