.marg-t-5{margin:5px 0 0;}
.marg-t-10{margin:10px 0 0;}
.marg-t-15{margin:15px 0 0;}
.marg-t-20{margin:20px 0 0;}
.marg-tb-15{margin:15px 0;}
.marg-r-10{margin:0 10px 0 0;}
.marg-r-20{margin:0 20px 0 0;}

.blue{color:#1B8BBA;}

select{display:block;color:#444;height:1.8rem;padding:0.2rem;}

.save,.preview,.reply,.last-post{padding:6px 25px;}

.page-cont-wrap{margin:10px 0 0;}
.page-main-title{margin:0 0 25px;font-size:40px;font-weight:normal;color:#444;line-height:47px;}

.pagination{clear:both;padding:10px 0;background:#4A494A;}
.pagination span{font-size:20px;}
.pagination a{color:#9B9A9B;}
.pagination a:hover{color:#008CBA;text-decoration:none;}
.pagi-pages a{padding:0 5px;}
.pagi-pages a.active{color:#FFF;}
.pagi-pages a:hover{text-decoration:underline;}
.pagi-prev{text-align:left;line-height:0.5;}
.pagi-next{text-align:right;line-height:0.5;}

.comments-wrap{margin:0 0 25px;border-bottom:1px solid #DDD;}
.level-2,.comment-reply,.reply-status{margin:0 0 0 67px;}
.level-1,.level-2{padding:20px 0 0;border-top:1px solid #DDD;}
.username{font-size:16px;font-weight:bold;}
.time{margin:10px;color:#BBB;}
.share-this{font-size:16px;font-weight:bold;}
.comment-reply{padding:20px 0 0;border-top:1px solid #DDD;}
.view-comments{padding:20px 0;font-size:16px;font-weight:bold;}
.view-comments a{color:#434343;}
.view-comments a:hover{color:#008CBA;text-decoration:none;}
.reply-status{padding:0 0 20px;}
.buttons,.post,.post-reply,.post-new,.post-new-topic,.save,.preview,
.reply,.last-post{padding:6px 25px; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.share-this{padding:15px 0;}
.share-url{padding:0 15px 0 0;}
.share-this .fa-facebook-square,.share-this .fa-twitter-square,.share-this .fa-google-plus-square{font-size:38px;}
.share-this .fa-facebook-square{color:#26549E;}
.share-this .fa-twitter-square{color:#3AB3E4;}
.share-this .fa-google-plus-square{color:#DF3828;}
.share-this-label{line-height:36px;}
.share-url input{margin:0;padding:5px;}
.share-this .small-2{width:13.667%;}
.share-this .small-7{width:61.333%;}

.captcha-image{margin:0 0 15px;text-align:center;}

#drop-reply{max-width:240px;}
#drop-reply.f-dropdown{padding:10px !important; -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75); -moz-box-shadow:0 0 5 0 rgba(50, 50, 50, 0.75);box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.30);}
#drop-reply .facebook{margin:0 0 8px;}
#drop-reply .facebook,#drop-reply .google{width:100%;padding:10px;}

@media only screen and (max-width: 641px){
	.pagi-pages{display:none;}
}