select{max-width:200px;margin:0;}
.page-cont-wrap{margin:15px 0 20px;}

.projects-wrap{border:1px solid #DDD;}
.projects-wrap h2{margin:0;padding:5px 15px;font-size:21px;color:#FFF;background:#4A494A;}
.projects-cont{list-style:none;margin:0;padding:15px 0;}
.projects-cont li{margin:15px 0 0;padding:15px 15px 0;border-top:1px solid #DDD;}
.projects-cont li:first-child{margin:0;padding:0 15px;border:0;}
.project-details h3{margin:0;font-size:18px;font-weight:bold;line-height:20px;}
.project-details h3 a{color:#008CBA;text-decoration:none;}
.project-details span{display:block;margin:0 0 10px;font-size:13px;color:#666;}
.project-details p{margin:0;font-size:14px;line-height:19px;}

@media only screen and (max-width: 641px){
	.project-details{padding:0 10px;}
}