.search-bn{margin:19px 0 0;}
.search-sort{padding:0 0 15px;border-bottom:1px solid #DDD;}
.search-sort select{max-width:200px;margin:0;}
.powered-by-g{margin:25px 0 0;}
.no-results,search-results{font-size:30px;}

table{border:0;border-spacing:0;}
table td{padding:0 !important;}
.search-items{margin:0 0 20px;}
.search-items img{border:1px solid #e2e2e2;vertical-align:middle;max-height: 50px;max-width:70px;}