.sidebar-wrap{padding:10px 0 10px 20px;}
.boom-box{margin:15px 0;text-align:center;}

.login-title{padding:4px 10px;font-family:'denseregular';font-size:21px;letter-spacing:.06em;}
.login-title,.topics-title{margin:0;text-transform:uppercase;color:#FFF;background:#1B8BBA;}
.login-wrap{padding:15px;text-align:center;border-left:1px solid #DDD;border-right:1px solid #DDD;border-bottom:1px solid #DDD;}
.side-login-wrap{margin:15px 0;}
#side-user-login{margin:0}
#side-user-login .button{width:100%;}
#username,#password{color:#888;border:1px solid #1B8BBA; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
#sign-in{padding:5px 20px;font-size:14px; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
#remember_me{margin:0 5px 0 0;}
.remember_me{line-height:1px;}
.facebook{background:#3A5899; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.google{margin:0;background:#DD4A38; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.facebook:hover,.facebook:focus{text-decoration:none;background:#243D72;}
.google:hover,.google:focus{text-decoration:none;background:#BF3020;}

.thumb-user{width:190px;height:190px;margin:0 auto 10px;padding:0;font-size:102px;text-align:center;background:#9B9A9B;}
.thumb-user a{display:block;height:190px;color:#484848;line-height:1.8;}
.options-user{padding:0 10px 15px;border-bottom:1px solid #DDD;}
.control-a{list-style:none;margin:0;}
.control-b{clear:both;padding:20px 0 0;}
.control-b a:hover{text-decoration:none;}
.post-forum,.post-blog,.post-project{width:100%;margin:0;padding:8px; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.post-forum,.post-blog{margin:0 0 10px;}

@media only screen and (max-width: 1023px){
	.sidebar-wrap{padding:10px 10px 0;}
}