a:hover{text-decoration:underline;}

.marg-l-i{margin:0 0 0 15px;}
.marg-r-i{margin:0 15px 0 0;}

.single-main-title{margin:0 0 10px;font-size:47px;font-weight:normal;color:#444;line-height:47px;}
.single-author{font-style:italic;}

.left-img{margin:10px 10px 10px 0;}
.right-img{margin:10px 0 10px 10px;}