.page-descriptions a{text-decoration:underline;}
.col-a{padding:5px 0 0;font-size:21px;font-weight:bold;color:#008CBA;}
.col-b .button{margin:0;}

table{border:0;border-collapse:collapse;}
table thead{background:#1B8BBA;}
table tbody tr{background:#E7E7E7 !important;}
table tbody tr:nth-of-type(2n){background:#F6F6F6 !important;}
.subscription-list tr th{padding:15px;color:#FFF;}
.subscription-list tr td{padding:15px;}
.serve-name{font-size:18px;font-weight:bold;}
.su{font-size:28px;color:#7ED221;}
.fu{font-size:28px;color:#F5A523;}

.ch-file-wrap{max-width:268px;}
.ch-file-wrap .no-file{padding:8px 15px 0;}

@media only screen and (min-width:641px){
	.pricing-wrap.large-8{min-width:307px;max-width:66.66667%;}
}
@media only screen and (max-width:641px){
	.pricing-wrap.large-8{min-width:307px;}
}