@import "../font-awesome/font-awesome.css";

body{position:relative;margin:0;padding:30px 0 0;font-family: "Helvetica Neue", Arial, sans-serif;color:#444;font-size:14px;line-height:18px;letter-spacing:.04em;background:#F1F5F8;font-weight: 300;}
/*body{background:url(../../../pics/dlibrary/main-bg.jpg) repeat-x;}*/
h1,h2,h3,h4,p{margin:0 0 15px;}
img{border:0;}
a{color:#4E8AC5;text-decoration:none;}
sup{font-size:8px;}

.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

#wallpaper_image{background-attachment: scroll;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
    min-width: 1002px;
    position: absolute;
    width: 100%;
    z-index:-1;}

.font-s20{font-size:20px !important;}
.current{color:#FFF !important;background:#1E516B;}

.ajax-wrapper{min-width:940px;}

.bgcolor-blue{background:#4E8AC5;}
.bgcolor-blue:hover{background:#3D6B97;}
.bgcolor-dblue{background:#1E516B;}
.bgcolor-dblue:hover {background:#20729C;}
.bgcolor-grey{background:#414141;}
.bgcolor-grey:hover{background:#636363;}

.button{font-size:14px;color:#FFF; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.button a{display:block;color:#FFF;}
.button-lg{width:196px;font-size:20px;color:#FFF;text-align:center; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.button-lg a{display:block;padding:12px 0;color:#FFF;}
.button-sm{width:240px;font-size:14px;color:#FFF;text-align:center; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;}
.button-sm a{display:block;padding:5px 0;color:#FFF;}

.marg-lf-11{margin:0 0 0 11px;}
.marg-lf-38{margin:0 0 0 38px;}
.marg-lf-52{margin:0 0 0 52px;}
.marg-tp-8{margin:20px 0 0 0;}
.marg-tp-11{margin:11px 0 0 0;}
.marg-tl{margin:20px 0 0 33px;}
.marg-bt-10{margin:0 0 10px;}
.marg-lftp-11{margin:11px 0 0 6px;}
.marg-tp{margin:15px 0 0 0;}
.marg-lftp2{margin:15px 0 0 6px;}
.marg-lftp{margin:20px 0 0 38px;}
.center{margin:0 auto;text-align:center;}

.container{width:1000px;margin:0 auto;}
.main-wrap.container{position:relative;width:1000px;min-height:580px;margin:75px auto 20px;border:1px solid #DDD;background:#FFF;}
.content{width:938px;margin:0 auto;}
.col-a{float:left;width:603px;}
.col-b{float:right;width:300px;}
.box{position:relative;margin:0 0 55px;}
.box-slim{padding:0 0 30px}
.box h2{margin:0 0 25px;padding:0 0 10px;border-bottom:4px solid #1E516B;}
.box-slim h2{margin:0;padding:0 0 10px;border-bottom:4px solid #1E516B;}
.box-slim h2.ti-featured{padding:4px 0 18px 130px;background:url(../../../pics/dlibrary/ti-feat.png) no-repeat;}
.box-slim h2.te-featured{padding:4px 0 18px 85px;background:url(../../../pics/dlibrary/te-feat.png) no-repeat;}
.box-slim{float:left;width:443px;}
.all-cats{position:absolute;top:-9px;right:0;font-size:20px;font-weight:bold;}
.all-cats-title{padding:5px;text-align:right;}
.all-cats-title a{color:#333;}
.all-cats-title.hovered {padding:5px;background:#154156;}
.all-cats-title.hovered a{color:#FFF;}
.all-cats-title .fa{padding:0 0 0 4px;font-size:25px;font-weight:700;}
.all-cats-contents{padding:15px;color:#FFF;background:#1E516B;}
.all-cats-contents ul{list-style:none;margin:0;padding:0;font-size:14px;font-weight:normal}
.all-cats-contents ul li{margin:5px 0 0;}
.all-cats-contents ul li:first-child{margin:0;}
.all-cats-contents ul li a{color:#FFF;}
.all-cats-contents ul li a:hover{color:#4E8AC5;}
.all-cats-contents ul li i{font-size:14px !important;}
.all-cats-contents ul li.check .fa{padding:0 4px 0 0;}
.all-cats-contents ul li.uncheck{padding:0 0 0 20px;}
.load-more{margin:25px 0;}

.top-panel{position:fixed;top:0;left:0;z-index:5;width:100%;color:#FFF;background:#4e8ac5;}
/*.top-panel .container{padding:18px 0;}*/
.top-panel p{margin:0;font-size:25px;font-weight:bold}

.top-panel ul{list-style:none inside;margin-left:-13px;}
.top-panel li{float:left;height:32px;margin:0;}
.top-panel li.right_menus{float:right;}
.top-panel li.first{margin-left:0;}
.top-panel li.first a:hover span{text-decoration:none;}
.top-panel li.name span{font-weight:700;font-size:14px;line-height:30px;}
.top-panel a{color:#fff;font-size:13px;line-height:32px;text-decoration:none;display:block;padding-left:13px;padding-right:13px;}
.top-panel a:hover{color:#fff;text-decoration:none !important;background-color:#13487C;}
.top-panel a.last{font-weight:700;}
.top-panel a.text{font-size:16px;color:#fff;}
.top-panel a.text:hover{color:#b9b9b9;}
.top-panel .title_seperator{padding-left:5px;padding-right:5px;}

.sponsored{position:absolute;top:-28px;right:-144px;width:122px;text-align:center;}
.sponsored .sp-title{margin:0 0 10px;color:#FFF;}
.sponsored ul{list-style:none;margin:0;padding:0}
.sponsored ul li{position:relative;width:122px;height:122px;margin:10px 0 0; -webkit-border-radius:4px; -moz-border-radius:4px;border-radius:4px;background:#FFF;}
.sponsored ul li:first-child{margin:0;}
.sponsored ul li img{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}

.header{border-bottom:6px solid #1E516B;}
.header-col-a{float:left;width:498px;padding:22px 30px;}
.header-col-b{float:right;width:440px;}
.header-col-b p{padding:27px 22px 0;font-size:12px;}
.header-provided-by{clear:both;background:#EAEAEA;overflow:hidden;height:62px;padding:30px;font-size:12px;}
.header-provided-by div{float: left; width: 428px;}
.header-provided-by ul{list-style:none;float:left;width:482px;margin:0;padding:0 0 0 30px;}
.header-provided-by ul li{display:inline-block;margin:0 0 0 85px;}
.header-provided-by ul li:first-child{margin-left: 0;}
.header-provided-by ul li a {display:block;}
.header-provided-by ul li a.ti_logo img {width:120px;height:28px;}
.header-provided-by ul li a.te_logo img {width:82px;height:31px;}
.header-provided-by ul li a.mouser_logo img {width:100px;height:38px;}
.header-provided-by h5{font-size:12px;font-style:italic;font-weight:300;margin:0;width:449px;float:left;padding:0 0 0 30px;}

.main-menu{margin:96px 0 0;padding:0 30px 0 0;}
.main-menu ul{float:right;list-style:none;margin:0;padding:0;text-align:right;}
.main-menu ul li{float:left;margin:0 0 0 8px;text-align:center;background:#EAEAEA;}
.main-menu ul li:first-child{margin:0;}
.main-menu ul li a{display:block;padding:5px 20px;color:#444;}
.main-menu ul li a:hover{color:#FFF;background:#1E516B;}

.breadcrumb{margin:20px 0 0;}
.breadcrumb span{font-weight:bold;color:#1E516B;}
.breadcrumb span a{color:#1E516B;}
.breadcrumb span a:hover{color:#4E8AC5;text-decoration:underline;}

.featuring{margin:44px 0;height:361px;min-height:361px;background:#EAEAEA;border: 1px solid #eaeaea}
.featuring-thmb{float:left;width:350px;height:351px;padding:5px;line-height:348px;text-align:center;background:#FFF}
.featuring-thmb a{display:block;}
.featuring-thmb a img{vertical-align: middle;}
.featuring-desc{float:right;width:525px;padding:15px 25px}
.featuring h2{margin:0 0 5px;font-size:19px;color:#1E516B;}
.featuring h2 a{color:#1E516B;}
.featuring h2 a:hover{color:#4E8AC5;}
.featuring h3{font-size:30px;line-height:37px;}
.featuring h3 a{color:#444;}
.featuring h3 a:hover{color:#4E8AC5;}
.featuring p{font-size:18px;line-height:25px;}

.featured-list{list-style:none;padding:0;min-width:940px;}
.featured-list li{position:relative;float:left;width:272px;height:442px;margin:0 0 0 61px;}
.featured-list li:first-child{margin:0;}
.featured-list li .featured-thmb{max-width:272px;margin:0 0 8px;padding:5px;text-align:center;line-height:0;border:1px solid #DDD;}
.featured-list li .featured-thmb a{display:block;}
.featured-list li h3{margin:0 0 8px;padding:0 0 4px;font-size:14px;color:#1E516B;border-bottom:2px solid #1E516B;}
.featured-list li h3 a{color:#1E516B;}
.featured-list li h3 a:hover{color:#4E8AC5;}
.featured-list li h4{margin:0 0 8px;font-size:22px;line-height:25px;}
.featured-list li h4 a{color:#444;}
.featured-list li h4 a:hover{color:#4E8AC5;}
.featured-list li p{line-height:19px;}
.featured-list li .viewd{position:absolute;bottom:0;width:272px;}
.featured-list li .viewd a{display:block;padding:2px 0;font-weight:bold;color:#1E516B;text-align:right;}
.featured-list li .viewd{margin:12px 0 0;border-top:1px solid #DDD;}
.featured-list li .viewd a:hover{text-decoration:underline;}
.featured-list li .viewd .fa{font-size:17px;font-weight:700;}

.more-list{list-style:none;margin:0;padding:0;}
.more-list li{display:inline-block;width:450px;height:164px;max-height:164px;max-height:164px;padding:0 0 8px;border-bottom:1px solid #1E516B;}
.more-list li .more-thmb{float:left;width:155px;max-width:155px;text-align:center;line-height:0;padding:4px;border:1px solid #DDD;}
.more-list li .more-thmb a{display:block;}
.more-list li h3{margin:0 0 2px;font-size:14px;color:#1E516B;}
.more-list li h3 a{color:#1E516B;}
.more-list li h3 a:hover{color:#4E8AC5;}
.more-list li h4{margin:0 0 8px;font-size:22px;line-height:25px;}
.more-list li h4 a{color:#444;}
.more-list li h4 a:hover{color:#4E8AC5;}
.more-list li p{line-height:19px;}
.more-list li p span,.more-list li p span a{font-weight:bold;color:#1E516B;}
.more-list li p span a:hover{text-decoration:underline;}
.more-list li p span .fa{font-size:17px;font-weight:700;}
.more-list li .more-dsc-wrap{float:right;width:275px;}

.company-more{clear:both;padding:20px 0 0;}
.company-more ul{list-style:none;margin:0;padding:0;}
.company-more ul li{float:left;width:330px;height:163px;margin:0 0 0 5px;padding:24px 0;text-align:center;background:#EAEAEA;}
.company-more ul li:first-child{margin:0;}

.big-thumb-wrap{margin:40px 0;}
.big-thmb{margin:0 0 20px;}
.big-thmb ul{list-style:none;margin:0;padding:0;}
.big-thumb-wrap div.big-thmb ul > li > a.overlay {display: block;width:451px;height:448px;line-height:445px;}
.big-thmb ul li a img {vertical-align:middle;}
.big-thmb ul li{float:left;margin:0 0 0 32px;text-align:center;border:1px solid #ccc;letter-spacing:0.06em;}
.big-thmb ul li:first-child{margin:0;}
.big-thmb-desc{margin:20px 0 0;}
.big-thmb-desc ul{margin-bottom:20px;}
.big-thmb-desc ul li{margin-bottom:8px;}
.big-thmb-desc h2{margin:0 0 5px;font-size:19px;color:#1E516B;}
.big-thmb-desc h2 a{color:#1E516B;}
.big-thmb-desc h2 a:hover{color:#4E8AC5;}
.big-thmb-desc h3{font-size:30px;line-height:37px;}
.big-thmb-desc h3 a{color:#444;}
.big-thmb-desc h3 a:hover{color:#4E8AC5;}
.big-thmb-desc p{font-size:14px;line-height:22px;margin-bottom:20px;letter-spacing:0.06em;}
.big-thmb-side{float:right;width:287px;margin:0 0 0 20px}
.big-thmb-side .ti-designs{padding:20px 0 0;text-align:center;}
.big-thmb-b{margin:0 0 9px;font-size:20px;}
.big-thmb-b a{padding:12px;}

.parts-list{list-style:none;margin:10px 0 0;padding:0;}
.parts-list li{position:relative;display:inline-block;vertical-align:top;width:196px;height:387px;padding:10px;text-align:center; 
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px;
	border-radius: 6px; 
	-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.4);
	box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.4);
	background:#EAEAEA;}
.parts-list li .parts-thmb img{border:1px solid #DDD;}
.parts-list li h3{margin:0 0 8px;font-size:14px;line-height:16px;}
.parts-list li h3 a{color:#444;}
.parts-list li h3 a:hover{color:#4E8AC5;}
.parts-list li p{font-size:12px;line-height:16px;}
.parts-list li p span{font-weight:bold;color:#1E516B;}
.parts-list li p span a:hover{text-decoration:underline;}
.parts-list-b{padding:5px 0;}
.parts-list-b.bgcolor-dblue,.parts-list-b.bgcolor-blue{margin:0 0 5px;}
.parts-thmb{width:196px;max-height:192px;margin:0 0 8px;}
.parts-buttons{position:absolute;bottom:10px;width:196px;}
.parts-list li div i.left{float:left;margin: 2px 0 0 10px;}

.page-content-wrap{margin:40px 0 10px;}
.page-content-cont h2{margin:0 0 20px;font-size:30px;}
.page-content-cont .page-content h3{margin:20px 0;font-size:20px;border-bottom:1px solid #eee;padding:20px 0 5px;}
.page-content-cont .page-content p{line-height: 22px;letter-spacing:0.06em;}

.sidebar h2{margin:0;padding:0 0 10px;border-bottom:4px solid #1E516B;}
.sidebar ul{list-style:none;margin:0;padding:0;}
.sidebar ul li{padding:10px 0;}
.sidebar ul li .side-thmb{margin:0 0 5px;padding:5px;text-align:center;border:1px solid #DDD;}
.sidebar ul li .side-thmb img{max-width:288px;max-height:154px;}
.sidebar ul li .side-thmb a{display:block;height:154px;}
.sidebar ul li h3{margin:0 0 2px;font-size:14px;color:#1E516B;}
.sidebar ul li h3 a{color:#1E516B;}
.sidebar ul li h3 a:hover{color:#4E8AC5;}
.sidebar ul li h4{margin:0 0 8px;font-size:20px;line-height:25px;}
.sidebar ul li h4 a{color:#444;}
.sidebar ul li h4 a:hover{color:#4E8AC5;}
.sidebar ul li p{line-height:19px;}
.sidebar ul li p span,.sidebar ul li p span a{font-weight:bold;color:#1E516B;}
.sidebar ul li p span a:hover{text-decoration:underline;}
.sidebar ul li p span .fa{font-size:17px;font-weight:700;}

.footer-wrap{float:left;width:100%;padding:25px 0;color:#FFF;background:#4a4a4a;min-width:1000px;}
.foot-col-a{float:left;width:500px;}
.foot-col-b{float:right;width:300px;text-align:right;}
.foot-col-b h2{margin:0 0 10px;font-size:19px;font-weight:normal;}
.foot-col-b h2 a{color:#FFF;}
.foot-col-b h2 a:hover{color:#4E8AC5;}
.ft-desc{margin:0;font-size:12px;}

.mouser{position:relative;width:18px;height:18px;top:1px;background:url(../../../pics/dlibrary/m-icon.png) no-repeat;}
.mouser-m{position:relative;width:12px;height:12px;top:1px;background:url(../../../pics/dlibrary/m-icon-sm.png) no-repeat;}

/* Top Toolbar */

.wrap{
	position: relative;
	min-width: 1002px;
	padding: 12px 0 0;
	font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	color: #333;
}
#site_toolbar li.name span {
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
}
#site_toolbar {
	top: -10px;
	bottom: 0;
	right: 0;
	left: 0;
	height: 32px;
	background: #3472AF;
	position: fixed;
	z-index: 10000;
	line-height: 32px;
	font-size: 13px;
	color: #fff;
	padding: 4px 0px;
}
.container_16 {
	margin: 0 auto;
	width: 1002px;
	margin-top: -8px;
}
#site_toolbar ul {
	list-style: none inside;
	padding: 0px;
}
#site_toolbar li.first {
	margin-left: 0;
}
#site_toolbar a {
	color: #fff;
	font-size: 13px;
	line-height: 34px;
	text-decoration: none;
	display: block;
	padding-left: 13px;
	padding-right: 13px;
	height: 31px;
}
#site_toolbar .title_seperator {
	padding-left: 5px;
	padding-right: 5px;
}
#site_toolbar li {
	float: left;
	height: 32px;
	margin: 0;
}
.top_search_bar {
	font-size: 14px;
}
#site_toolbar li.right_menus {
	float: right;
}

.top_search_bar .search_box, .top_search_bar .search_go {
	display: inline;
	border: 1px solid #bbb;
	margin: 4px 0;
	font: 11px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
.top_search_bar .search_go {
	background-color: #666;
	color: #fff;
	width: 30px;
	height: 23px;
	margin: 0;
	cursor: pointer;
}
.top_search_bar .search_box, .top_search_bar .search_go {
	display: inline;
	border: 1px solid #bbb;
	margin: 4px 0;
	font: 11px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

.top_search_bar .search_box {
	height: 19px;
	padding-left: 5px;
	padding-right: 5px;
	width: 160px;
	margin-right: 4px;
	margin-left: 4px;
}
#site_toolbar a:hover {
	color: #fff;
	text-decoration: none !important;
	background-color: #13487C;
}